USE [DBO_GOLD]
GO
/****** Object:  Table [dbo].[PROBLEM_MASTER]    Script Date: 4/30/2020 1:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROBLEM_MASTER](
	[AMSPROGRAMID] [varchar](50) NULL,
	[TICKETID] [varchar](400) NOT NULL,
	[TICKETTYPE] [varchar](400) NULL,
	[PRIORITY] [varchar](400) NULL,
	[STATUS] [varchar](400) NULL,
	[TICKETSUBMITDATE] [datetime2](7) NULL,
	[RESOLVEDDATE] [datetime2](7) NULL,
	[RESOLVERGROUP] [varchar](400) NULL,
	[ASSIGNEENAME] [varchar](400) NULL,
	[TOWERNAME] [varchar](400) NULL,
	[PHASE] [varchar](150) NULL,
	[RELATEDINCIDENTCOUNT] [numeric](10, 0) NULL,
	[ROOTCAUSEIDENTIFIEDDATE] [datetime2](7) NULL,
	[CLOSURECODE] [varchar](400) NULL,
	[CAUSECODE] [varchar](100) NULL,
	[REOPENTIME] [datetime2](7) NULL,
	[AFFECTEDCICOUNT] [numeric](10, 0) NULL,
	[IMPACT] [varchar](100) NULL,
	[SOLUTIONIDENTIFIEDDATE] [datetime2](7) NULL,
	[FUNCTIONNAME] [varchar](100) NULL,
	[STATUSREASON] [varchar](100) NULL,
	[REGION] [varchar](100) NULL,
	[CATEGORYLEVEL1] [varchar](200) NULL,
	[CATEGORYLEVEL2] [varchar](100) NULL,
	[CATEGORYLEVEL3] [varchar](100) NULL,
	[GROUPTRANSFERS] [numeric](10, 0) NULL,
	[INCLUDEFORSLA] [numeric](1, 0) NULL,
	[LASTMODIFIEDDATE] [datetime2](7) NULL,
	[IS_CRITICAL_SITUATION] [numeric](1, 0) NULL,
	[REFERENCEPROBLEMNO] [varchar](100) NULL,
	[REOPEN] [numeric](3, 0) NULL,
	[RESOLVEDATLEVEL1] [numeric](1, 0) NULL,
	[URGENCY] [varchar](100) NULL,
	[SUMMARY] [varchar](max) NULL,
	[CREATORNAME] [varchar](400) NULL,
	[CLASSOFSERVICE] [varchar](400) NULL,
	[BUSINESS_PLATFORM] [varchar](50) NULL,
	[INAMSSCOPE] [numeric](1, 0) NULL,
	[RESOLUTIONELAPSEDTIME] [numeric](20, 2) NULL,
	[CLOSEDTIME] [datetime2](7) NULL,
	[CLOSED_BY] [varchar](100) NULL,
	[CREATEDBYLEVEL1] [numeric](1, 0) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[DURATION] [numeric](22, 4) NULL,
	[ELAPSEDTIME] [datetime2](7) NULL,
	[ISKNOWNERRROR] [numeric](1, 0) NULL,
	[ISPROACTIVETICKET] [numeric](1, 0) NULL,
	[ISRESOLVEDUSINGKEDB] [numeric](1, 0) NULL,
	[ISROOTCAUSEIDENTIFIED] [numeric](1, 0) NULL,
	[ISTICKETESCALATED] [numeric](1, 0) NULL,
	[LASTMODIFIEDBY] [varchar](100) NULL,
	[OWNER] [varchar](100) NULL,
	[PLANNEDENDDATE] [datetime2](7) NULL,
	[PLANNEDSTARTDATE] [datetime2](7) NULL,
	[REFERENCE_CHANGE_ID] [varchar](100) NULL,
	[REOPENCOUNT] [numeric](3, 0) NULL,
	[RESOLUTIONDESCRIPTION] [varchar](max) NULL,
	[SLADUE] [datetime2](7) NULL,
	[SLAMET] [numeric](1, 0) NULL,
	[SOURCE] [varchar](100) NULL,
	[WORKAROUND] [varchar](max) NULL,
	[SUBPROGRAMID] [varchar](25) NULL,
	[ACTIVE] [numeric](1, 0) NULL,
	[APPROVALSTATUS] [varchar](100) NULL,
	[PTASK] [varchar](20) NULL,
	[UPDATES] [varchar](20) NULL,
	[STAGE] [varchar](20) NULL,
	[EXCEPTIONS] [varchar](20) NULL,
	[PROBLEM] [varchar](20) NULL,
	[CORRELATION_ID] [varchar](20) NULL,
	[WORK_END] [datetime2](7) NULL,
	[WORK_START] [datetime2](7) NULL,
	[LASTUPDATEDBYDATALOAD] [datetime2](7) NULL,
	[COMMENTS] [varchar](max) NULL,
	[DATAFEEDREFERENCE] [varchar](150) NULL,
	[ISTICKETOPEN] [numeric](18, 4) NULL,
	[u_closure_category_tier_1] [varchar](200) NULL,
	[u_closure_category_tier_2] [varchar](200) NULL,
	[u_closure_category_tier_3] [varchar](200) NULL,
	[u_coordinator] [varchar](150) NULL,
	[u_coordinator_group] [varchar](150) NULL,
	[u_external_reference] [varchar](150) NULL,
	[u_external_reference_state] [varchar](150) NULL,
	[u_incident_type] [varchar](150) NULL,
	[u_investigation_driver] [varchar](150) NULL,
	[u_investigation_suspended] [varchar](150) NULL,
	[u_known_error_state] [varchar](150) NULL,
	[u_operational_category_tier_1] [varchar](250) NULL,
	[u_operational_category_tier_2] [varchar](250) NULL,
	[u_operational_category_tier_3] [varchar](250) NULL,
	[u_product_category_tier_1] [varchar](250) NULL,
	[u_product_category_tier_2] [varchar](250) NULL,
	[u_product_category_tier_3] [varchar](250) NULL,
	[u_reference_number] [varchar](250) NULL,
	[u_remedy_change_class] [varchar](250) NULL,
	[u_remedy_change_reason] [varchar](250) NULL,
	[u_remedy_change_template] [varchar](250) NULL,
	[u_remedy_coordinator_group] [varchar](250) NULL,
	[u_remedy_last_modified_by] [varchar](250) NULL,
	[u_remedy_last_modified_date] [datetime2](7) NULL,
	[u_remedy_reported_date] [datetime2](7) NULL,
	[u_remedy_responded_date] [datetime2](7) NULL,
	[u_remedy_submitted_by] [varchar](250) NULL,
	[u_remedy_submit_date] [datetime2](7) NULL,
	[u_reported_source] [varchar](250) NULL,
	[u_requested_by] [varchar](250) NULL,
	[u_resolution_category_tier_1] [varchar](250) NULL,
	[u_resolution_category_tier_2] [varchar](250) NULL,
	[u_resolution_category_tier_3] [varchar](250) NULL,
	[u_root_cause_detail] [varchar](max) NULL,
	[u_resolution_notes] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
