USE [DBO_GOLD]
GO
/****** Object:  Table [dbo].[TICKET_SLA]    Script Date: 4/30/2020 1:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKET_SLA](
	[AMSPROGRAMID] [varchar](30) NULL,
	[TICKETID] [varchar](100) NOT NULL,
	[RESPONSEBTGTIME] [numeric](18, 0) NULL,
	[RESOLUTIONBTGTIME] [numeric](18, 0) NULL,
	[TOTALSLATIMEFORRESPONSE] [numeric](18, 0) NULL,
	[TOTALSLATIMEFORRESOLUTION] [numeric](18, 0) NULL,
	[RESPONSESLATIMEELAPSEDPERC] [numeric](18, 2) NULL,
	[RESOLUTIONSLATIMEELAPSEDPERC] [numeric](18, 2) NULL,
	[RESPONSESLAMET] [numeric](1, 0) NULL,
	[RESOLUTIONSLAMET] [numeric](1, 0) NULL,
	[RESPONSESLAVIOLATIONREASONCODE] [varchar](100) NULL,
	[RSLN_SLAVIOLATIONREASONCODE] [varchar](100) NULL,
	[PEND_TIME_ENDUSERCLARIFICATION] [numeric](18, 0) NULL,
	[PENDINGTIME_3RD_PARTY] [numeric](18, 0) NULL,
	[RESPONSEELAPSEDTIME] [numeric](20, 2) NULL,
	[RESOLUTIONELAPSEDTIME] [numeric](20, 2) NULL,
	[LASTUPDATEDBYDATALOAD] [datetime2](7) NOT NULL,
	[RESPONSESLAWAIVER] [numeric](1, 0) NOT NULL,
	[RESOLUTIONSLAWAIVER] [numeric](1, 0) NOT NULL,
	[RESPONSESLAWAIVERREASON] [varchar](100) NULL,
	[RESOLUTIONSLAWAIVERREASON] [varchar](100) NULL,
	[RESOLUTIONSLAMET_LEVEL1] [numeric](1, 0) NULL,
	[RESOLUTIONSLAMET_LEVEL2] [numeric](1, 0) NULL,
	[COMMENTS] [varchar](max) NULL,
	[MANUALTICKETUPDATE] [numeric](1, 0) NULL,
	[DATAFEEDREFERENCE] [varchar](150) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
