USE [DBO_SILVER]
GO
/****** Object:  StoredProcedure [dbo].[ACCOUNT_DATAMOVEMENT_PROBLEM]    Script Date: 4/30/2020 1:07:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Preetham M
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- ============================================
CREATE OR ALTER PROCEDURE [dbo].[ACCOUNT_DATAMOVEMENT_PROBLEM]
	-- Add the parameters for the stored procedure here
	---@L_ACCOUNT varchar(30),
	---@L_LOADTYPE varchar(50)
	
	AS

	DECLARE @L_LASTUPDATEDBYDATALOAD datetime2;
	DECLARE @load_date datetime2;
	DECLARE @L_ACCOUNT varchar(30);
	DECLARE @L_LOADTYPE varchar(50);

BEGIN

SET NOCOUNT ON;

	SET @L_ACCOUNT = 'RMS';

    -- Selecting Last updated load date
	SELECT  @load_date=LASTUPDATEDBYDATALOAD FROM [DBO_SILVER].[DBO].[LOAD_MASTER]
	WHERE MODULE='PROBLEM';
	set @L_LASTUPDATEDBYDATALOAD=dateadd(dd,-1,@load_date);
	
	PRINT '@load_date' 
	PRINT @load_date
	PRINT '@L_LASTUPDATEDBYDATALOAD' 
	PRINT @L_LASTUPDATEDBYDATALOAD

--TRANSFORMATIONS
-------------
---loadintobi
----------------
/*
update [DBO_GOLD].[DBO].vw_problem set LOADINTOBI=1 where LOADINTOBI is null


-----------------------
----isrecordactive
-------------------------------
update [DBO_GOLD].[DBO].vw_problem  set isrecordactive=1 where isrecordactive is null

-------------------------------------
-----isticketopen
----------------------------------------------------


update  [DBO_GOLD].[DBO].[VW_PROBLEM] 
   SET  isticketopen=(select active from DBO_BRONZE.dbo.problem a where [DBO_GOLD].[DBO].[VW_PROBLEM].TICKETID= a.NUMBER)
   

-------------------------------------------
---resolutionslamet
-------------------------
/*
UPDATE Ticket_Master_image
SET RESOLUTIONSLAMET = 1
WHERE status in ('CLOSED','RESOLVED')

-------------------------------------------
---reSPONSEslamet
-------------------------

UPDATE Ticket_Master_image
SET RESPONSESLAMET = 1
WHERE status in ('CLOSED','RESOLVED')

*/
------------------------------------------------
--TicketAge 
------------------------------------------------
UPDATE Ticket_Master_image
SET TicketAge = datediff(dd,ticketsubmitdate,getdate())
WHERE isticketopen = 1
AND inamsscope=1 


------------------------------------------------
--TicketAge Bucket
------------------------------------------------
UPDATE Ticket_Master
set TICKET_AGE_BUCKET = (case
   when TICKETAGE between 0 and 1.49 then '00-01'
   when TICKETAGE between 1.5 and 3.49 then '02-03'
   when TICKETAGE between 3.5 and  7.49 then '04-07'
   when TICKETAGE between 7.5 and 15.49 then '08-15'
   when TICKETAGE between 15.5 and  30.49 then '16-30'
   when TICKETAGE between 30.5 and 60.49 then '31-60'
   when TICKETAGE between 60.5 and 90.49 then '61-90'
   else '90-ABOVE'
  end
   )
   where  ISTICKETOPEN = 1 and INAMSSCOPE=1;*/
 
/*
------------------------------------------------
--DAYS_SINCE_LAST_UPDATE 
------------------------------------------------
UPDATE Problem_Master_image
set DAYS_SINCE_LAST_UPDATE = datediff(dd,TICKETMODIFIEDON,getdate())

  */

	MERGE INTO [DBO_GOLD].[DBO].[PROBLEM_MASTER] TGT
	USING (SELECT * FROM [DBO_SILVER].[DBO].[PROBLEM_MASTER_IMAGE] 
	where LASTUPDATEDBYDATALOAD >= @L_LASTUPDATEDBYDATALOAD ) AS SRC
	ON 
	( TGT.TICKETID=SRC.TICKETID AND TGT.AMSPROGRAMID=SRC.AMSPROGRAMID)
	
	WHEN MATCHED THEN UPDATE SET
TGT.AMSPROGRAMID=SRC.AMSPROGRAMID,
TGT.TICKETID=SRC.TICKETID,
TGT.TICKETTYPE=SRC.TICKETTYPE,
TGT.PRIORITY=SRC.PRIORITY,
TGT.STATUS=SRC.STATUS,
TGT.TICKETSUBMITDATE=SRC.TICKETSUBMITDATE,
TGT.RESOLVEDDATE=SRC.RESOLVEDDATE,
TGT.RESOLVERGROUP=SRC.RESOLVERGROUP,
TGT.ASSIGNEENAME=SRC.ASSIGNEENAME,
TGT.TOWERNAME=SRC.TOWERNAME,
TGT.PHASE=SRC.PHASE,
TGT.RELATEDINCIDENTCOUNT=SRC.RELATEDINCIDENTCOUNT,
TGT.ROOTCAUSEIDENTIFIEDDATE=SRC.ROOTCAUSEIDENTIFIEDDATE,
TGT.CLOSURECODE=SRC.CLOSURECODE,
TGT.CAUSECODE=SRC.CAUSECODE,
TGT.REOPENTIME=SRC.REOPENTIME,
TGT.AFFECTEDCICOUNT=SRC.AFFECTEDCICOUNT,
TGT.IMPACT=SRC.IMPACT,
TGT.SOLUTIONIDENTIFIEDDATE=SRC.SOLUTIONIDENTIFIEDDATE,
TGT.FUNCTIONNAME=SRC.FUNCTIONNAME,
TGT.STATUSREASON=SRC.STATUSREASON,
TGT.REGION=SRC.REGION,
TGT.CATEGORYLEVEL1=SRC.CATEGORYLEVEL1,
TGT.CATEGORYLEVEL2=SRC.CATEGORYLEVEL2,
TGT.CATEGORYLEVEL3=SRC.CATEGORYLEVEL3,
TGT.GROUPTRANSFERS=SRC.GROUPTRANSFERS,
TGT.INCLUDEFORSLA=SRC.INCLUDEFORSLA,
TGT.LASTMODIFIEDDATE=SRC.LASTMODIFIEDDATE,
TGT.IS_CRITICAL_SITUATION=SRC.IS_CRITICAL_SITUATION,
TGT.REFERENCEPROBLEMNO=SRC.REFERENCEPROBLEMNO,
TGT.REOPEN=SRC.REOPEN,
TGT.RESOLVEDATLEVEL1=SRC.RESOLVEDATLEVEL1,
TGT.URGENCY=SRC.URGENCY,
TGT.SUMMARY=SRC.SUMMARY,
TGT.CREATORNAME=SRC.CREATORNAME,
TGT.CLASSOFSERVICE=SRC.CLASSOFSERVICE,
TGT.BUSINESS_PLATFORM=SRC.BUSINESS_PLATFORM,
TGT.INAMSSCOPE=SRC.INAMSSCOPE,
TGT.RESOLUTIONELAPSEDTIME=SRC.RESOLUTIONELAPSEDTIME,
TGT.CLOSEDTIME=SRC.CLOSEDTIME,
TGT.CLOSED_BY=SRC.CLOSED_BY,
TGT.CREATEDBYLEVEL1=SRC.CREATEDBYLEVEL1,
TGT.DESCRIPTION=SRC.DESCRIPTION,
TGT.DURATION=SRC.DURATION,
TGT.ELAPSEDTIME=SRC.ELAPSEDTIME,
TGT.ISKNOWNERRROR=SRC.ISKNOWNERRROR,
TGT.ISPROACTIVETICKET=SRC.ISPROACTIVETICKET,
TGT.ISRESOLVEDUSINGKEDB=SRC.ISRESOLVEDUSINGKEDB,
TGT.ISROOTCAUSEIDENTIFIED=SRC.ISROOTCAUSEIDENTIFIED,
TGT.ISTICKETESCALATED=SRC.ISTICKETESCALATED,
TGT.LASTMODIFIEDBY=SRC.LASTMODIFIEDBY,
TGT.OWNER=SRC.OWNER,
TGT.PLANNEDENDDATE=SRC.PLANNEDENDDATE,
TGT.PLANNEDSTARTDATE=SRC.PLANNEDSTARTDATE,
TGT.REFERENCE_CHANGE_ID=SRC.REFERENCE_CHANGE_ID,
TGT.REOPENCOUNT=SRC.REOPENCOUNT,
TGT.RESOLUTIONDESCRIPTION=SRC.RESOLUTIONDESCRIPTION,
TGT.SLADUE=SRC.SLADUE,
TGT.SLAMET=SRC.SLAMET,
TGT.SOURCE=SRC.SOURCE,
TGT.WORKAROUND=SRC.WORKAROUND,
TGT.SUBPROGRAMID=SRC.SUBPROGRAMID,
TGT.ACTIVE=SRC.ACTIVE,
TGT.APPROVALSTATUS=SRC.APPROVALSTATUS,
TGT.PTASK=SRC.PTASK,
TGT.UPDATES=SRC.UPDATES,
TGT.STAGE=SRC.STAGE,
TGT.EXCEPTIONS=SRC.EXCEPTIONS,
TGT.PROBLEM=SRC.PROBLEM,
TGT.CORRELATION_ID=SRC.CORRELATION_ID,
TGT.WORK_END=SRC.WORK_END,
TGT.WORK_START=SRC.WORK_START,
TGT.LASTUPDATEDBYDATALOAD=SRC.LASTUPDATEDBYDATALOAD,
TGT.COMMENTS=SRC.COMMENTS,
TGT.DATAFEEDREFERENCE=SRC.DATAFEEDREFERENCE,
TGT.ISTICKETOPEN=SRC.ISTICKETOPEN,
TGT.u_closure_category_tier_1=SRC.u_closure_category_tier_1,
TGT.u_closure_category_tier_2=SRC.u_closure_category_tier_2,
TGT.u_closure_category_tier_3=SRC.u_closure_category_tier_3,
TGT.u_coordinator=SRC.u_coordinator,
TGT.u_coordinator_group=SRC.u_coordinator_group,
TGT.u_external_reference=SRC.u_external_reference,
TGT.u_external_reference_state=SRC.u_external_reference_state,
TGT.u_incident_type=SRC.u_incident_type,
TGT.u_investigation_driver=SRC.u_investigation_driver,
TGT.u_investigation_suspended=SRC.u_investigation_suspended,
TGT.u_known_error_state=SRC.u_known_error_state,
TGT.u_operational_category_tier_1=SRC.u_operational_category_tier_1,
TGT.u_operational_category_tier_2=SRC.u_operational_category_tier_2,
TGT.u_operational_category_tier_3=SRC.u_operational_category_tier_3,
TGT.u_product_category_tier_1=SRC.u_product_category_tier_1,
TGT.u_product_category_tier_2=SRC.u_product_category_tier_2,
TGT.u_product_category_tier_3=SRC.u_product_category_tier_3,
TGT.u_reference_number=SRC.u_reference_number,
TGT.u_remedy_change_class=SRC.u_remedy_change_class,
TGT.u_remedy_change_reason=SRC.u_remedy_change_reason,
TGT.u_remedy_change_template=SRC.u_remedy_change_template,
TGT.u_remedy_coordinator_group=SRC.u_remedy_coordinator_group,
TGT.u_remedy_last_modified_by=SRC.u_remedy_last_modified_by,
TGT.u_remedy_last_modified_date=SRC.u_remedy_last_modified_date,
TGT.u_remedy_reported_date=SRC.u_remedy_reported_date,
TGT.u_remedy_responded_date=SRC.u_remedy_responded_date,
TGT.u_remedy_submitted_by=SRC.u_remedy_submitted_by,
TGT.u_remedy_submit_date=SRC.u_remedy_submit_date,
TGT.u_reported_source=SRC.u_reported_source,
TGT.u_requested_by=SRC.u_requested_by,
TGT.u_resolution_category_tier_1=SRC.u_resolution_category_tier_1,
TGT.u_resolution_category_tier_2=SRC.u_resolution_category_tier_2,
TGT.u_resolution_category_tier_3=SRC.u_resolution_category_tier_3,
TGT.u_root_cause_detail=SRC.u_root_cause_detail,
TGT.u_resolution_notes=SRC.u_resolution_notes


	

WHEN NOT MATCHED THEN
INSERT
(
AMSPROGRAMID,
TICKETID,
TICKETTYPE,
PRIORITY,
STATUS,
TICKETSUBMITDATE,
RESOLVEDDATE,
RESOLVERGROUP,
ASSIGNEENAME,
TOWERNAME,
PHASE,
RELATEDINCIDENTCOUNT,
ROOTCAUSEIDENTIFIEDDATE,
CLOSURECODE,
CAUSECODE,
REOPENTIME,
AFFECTEDCICOUNT,
IMPACT,
SOLUTIONIDENTIFIEDDATE,
FUNCTIONNAME,
STATUSREASON,
REGION,
CATEGORYLEVEL1,
CATEGORYLEVEL2,
CATEGORYLEVEL3,
GROUPTRANSFERS,
INCLUDEFORSLA,
LASTMODIFIEDDATE,
IS_CRITICAL_SITUATION,
REFERENCEPROBLEMNO,
REOPEN,
RESOLVEDATLEVEL1,
URGENCY,
SUMMARY,
CREATORNAME,
CLASSOFSERVICE,
BUSINESS_PLATFORM,
INAMSSCOPE,
RESOLUTIONELAPSEDTIME,
CLOSEDTIME,
CLOSED_BY,
CREATEDBYLEVEL1,
DESCRIPTION,
DURATION,
ELAPSEDTIME,
ISKNOWNERRROR,
ISPROACTIVETICKET,
ISRESOLVEDUSINGKEDB,
ISROOTCAUSEIDENTIFIED,
ISTICKETESCALATED,
LASTMODIFIEDBY,
OWNER,
PLANNEDENDDATE,
PLANNEDSTARTDATE,
REFERENCE_CHANGE_ID,
REOPENCOUNT,
RESOLUTIONDESCRIPTION,
SLADUE,
SLAMET,
SOURCE,
WORKAROUND,
SUBPROGRAMID,
ACTIVE,
APPROVALSTATUS,
PTASK,
UPDATES,
STAGE,
EXCEPTIONS,
PROBLEM,
CORRELATION_ID,
WORK_END,
WORK_START,
LASTUPDATEDBYDATALOAD,
COMMENTS,
DATAFEEDREFERENCE,
ISTICKETOPEN,
u_closure_category_tier_1,
u_closure_category_tier_2,
u_closure_category_tier_3,
u_coordinator,
u_coordinator_group,
u_external_reference,
u_external_reference_state,
u_incident_type,
u_investigation_driver,
u_investigation_suspended,
u_known_error_state,
u_operational_category_tier_1,
u_operational_category_tier_2,
u_operational_category_tier_3,
u_product_category_tier_1,
u_product_category_tier_2,
u_product_category_tier_3,
u_reference_number,
u_remedy_change_class,
u_remedy_change_reason,
u_remedy_change_template,
u_remedy_coordinator_group,
u_remedy_last_modified_by,
u_remedy_last_modified_date,
u_remedy_reported_date,
u_remedy_responded_date,
u_remedy_submitted_by,
u_remedy_submit_date,
u_reported_source,
u_requested_by,
u_resolution_category_tier_1,
u_resolution_category_tier_2,
u_resolution_category_tier_3,
u_root_cause_detail,
u_resolution_notes
)
VALUES
(
SRC.AMSPROGRAMID,
SRC.TICKETID,
SRC.TICKETTYPE,
SRC.PRIORITY,
SRC.STATUS,
SRC.TICKETSUBMITDATE,
SRC.RESOLVEDDATE,
SRC.RESOLVERGROUP,
SRC.ASSIGNEENAME,
SRC.TOWERNAME,
SRC.PHASE,
SRC.RELATEDINCIDENTCOUNT,
SRC.ROOTCAUSEIDENTIFIEDDATE,
SRC.CLOSURECODE,
SRC.CAUSECODE,
SRC.REOPENTIME,
SRC.AFFECTEDCICOUNT,
SRC.IMPACT,
SRC.SOLUTIONIDENTIFIEDDATE,
SRC.FUNCTIONNAME,
SRC.STATUSREASON,
SRC.REGION,
SRC.CATEGORYLEVEL1,
SRC.CATEGORYLEVEL2,
SRC.CATEGORYLEVEL3,
SRC.GROUPTRANSFERS,
SRC.INCLUDEFORSLA,
SRC.LASTMODIFIEDDATE,
SRC.IS_CRITICAL_SITUATION,
SRC.REFERENCEPROBLEMNO,
SRC.REOPEN,
SRC.RESOLVEDATLEVEL1,
SRC.URGENCY,
SRC.SUMMARY,
SRC.CREATORNAME,
SRC.CLASSOFSERVICE,
SRC.BUSINESS_PLATFORM,
SRC.INAMSSCOPE,
SRC.RESOLUTIONELAPSEDTIME,
SRC.CLOSEDTIME,
SRC.CLOSED_BY,
SRC.CREATEDBYLEVEL1,
SRC.DESCRIPTION,
SRC.DURATION,
SRC.ELAPSEDTIME,
SRC.ISKNOWNERRROR,
SRC.ISPROACTIVETICKET,
SRC.ISRESOLVEDUSINGKEDB,
SRC.ISROOTCAUSEIDENTIFIED,
SRC.ISTICKETESCALATED,
SRC.LASTMODIFIEDBY,
SRC.OWNER,
SRC.PLANNEDENDDATE,
SRC.PLANNEDSTARTDATE,
SRC.REFERENCE_CHANGE_ID,
SRC.REOPENCOUNT,
SRC.RESOLUTIONDESCRIPTION,
SRC.SLADUE,
SRC.SLAMET,
SRC.SOURCE,
SRC.WORKAROUND,
SRC.SUBPROGRAMID,
SRC.ACTIVE,
SRC.APPROVALSTATUS,
SRC.PTASK,
SRC.UPDATES,
SRC.STAGE,
SRC.EXCEPTIONS,
SRC.PROBLEM,
SRC.CORRELATION_ID,
SRC.WORK_END,
SRC.WORK_START,
SRC.LASTUPDATEDBYDATALOAD,
SRC.COMMENTS,
SRC.DATAFEEDREFERENCE,
SRC.ISTICKETOPEN,
SRC.u_closure_category_tier_1,
SRC.u_closure_category_tier_2,
SRC.u_closure_category_tier_3,
SRC.u_coordinator,
SRC.u_coordinator_group,
SRC.u_external_reference,
SRC.u_external_reference_state,
SRC.u_incident_type,
SRC.u_investigation_driver,
SRC.u_investigation_suspended,
SRC.u_known_error_state,
SRC.u_operational_category_tier_1,
SRC.u_operational_category_tier_2,
SRC.u_operational_category_tier_3,
SRC.u_product_category_tier_1,
SRC.u_product_category_tier_2,
SRC.u_product_category_tier_3,
SRC.u_reference_number,
SRC.u_remedy_change_class,
SRC.u_remedy_change_reason,
SRC.u_remedy_change_template,
SRC.u_remedy_coordinator_group,
SRC.u_remedy_last_modified_by,
SRC.u_remedy_last_modified_date,
SRC.u_remedy_reported_date,
SRC.u_remedy_responded_date,
SRC.u_remedy_submitted_by,
SRC.u_remedy_submit_date,
SRC.u_reported_source,
SRC.u_requested_by,
SRC.u_resolution_category_tier_1,
SRC.u_resolution_category_tier_2,
SRC.u_resolution_category_tier_3,
SRC.u_root_cause_detail,
SRC.u_resolution_notes
);
	

	print 'Sucessfully loaded data into DBO_GOLD.PROBLEM_MASTER'

	
	update [DBO].[LOAD_MASTER]
	SET LASTUPDATEDBYDATALOAD = getdate()
	WHERE MODULE='PROBLEM'
	
END

GO
