USE [DBO_SILVER]
GO
/****** Object:  StoredProcedure [dbo].[ACCOUNT_DATA_SYNC]    Script Date: 4/30/2020 1:07:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/****** Object:  StoredProcedure [dbo].[ACCOUNT_DATA_SYNC] ******/


CREATE OR ALTER PROCEDURE [dbo].[ACCOUNT_DATA_SYNC]
AS
BEGIN

exec [DBO].[TKT_TRANSFORMATIONS]
exec [DBO].[PM_TRANSFORMATIONS]
exec [DBO].[ACCOUNT_DATAMOVEMENT_INCIDENT]
exec [DBO].[ACCOUNT_DATAMOVEMENT_REQUEST]
exec [DBO].[ACCOUNT_DATAMOVEMENT_PROBLEM]
exec [DBO].[ACCOUNT_DATAMOVEMENT_CHANGE]
exec [DBO].[ACCOUNT_DATAMOVEMENT_SLA]
		
END
GO
