USE [DBO_SILVER]
GO
/****** Object:  StoredProcedure [dbo].[ACCOUNT_DATAMOVEMENT_SLA]    Script Date: 4/30/2020 1:07:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Preetham M
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[ACCOUNT_DATAMOVEMENT_SLA]
	-- Add the parameters for the stored procedure here

AS
BEGIN

	DECLARE @L_LASTUPDATEDBYDATALOAD date;
	DECLARE @L_ACCOUNT varchar(30);
	DECLARE @L_LOADTYPE varchar(50);

	-- SET NOCOUNT ON added to prevent extra result sets from
  -- Insert statements for procedure here

	SET NOCOUNT ON;

	SET @L_ACCOUNT = 'RMS';

    -- Selecting Last updated load date
	--SELECT  @L_LASTUPDATEDBYDATALOAD=cast(LASTUPDATEDBYDATALOAD as datetime) -1 
	--FROM [DBO_SILVER].[DBO].[LOAD_MASTER]
	--WHERE MODULE='INCIDENT'

	
	MERGE INTO [DBO_GOLD].[DBO].[TICKET_SLA] TGT
	USING (
	SELECT 
	AMSPROGRAMID,
	TICKETID,
	RESPONSEBTGTIME,
	RESOLUTIONBTGTIME,
	TOTALSLATIMEFORRESPONSE,
	TOTALSLATIMEFORRESOLUTION,
	RESPONSESLATIMEELAPSEDPERC,
	RESOLUTIONSLATIMEELAPSEDPERC,
	RESPONSESLAMET,
	RESOLUTIONSLAMET,
	RESPONSESLAVIOLATIONREASONCODE,
	RSLN_SLAVIOLATIONREASONCODE,
	PEND_TIME_ENDUSERCLARIFICATION,
	PENDINGTIME_3RD_PARTY,
	---PEND_TIME_RSLN_CONFIRMATION,
	RESPONSEELAPSEDTIME,
	RESOLUTIONELAPSEDTIME,
	RESPONSESLAWAIVER,
	RESOLUTIONSLAWAIVER,
	RESPONSESLAWAIVERREASON,
	RESOLUTIONSLAWAIVERREASON,
	---TOTALSLATIMEFOR_RSLN_LEVEL1,
	---TOTALSLATIMEFOR_RSLN_LEVEL2,
	RESOLUTIONSLAMET_LEVEL1,
	RESOLUTIONSLAMET_LEVEL2,
	LASTUPDATEDBYDATALOAD
	FROM [DBO_STAGINGDB].[DBO].[TICKET_MASTER_IMAGE] 
	 --and LASTUPDATEDBYDATALOAD >= @L_LASTUPDATEDBYDATALOAD 
	 ) AS SRC
	ON 
	( TGT.TICKETID=SRC.TICKETID	AND
	TGT.AMSPROGRAMID=SRC.AMSPROGRAMID )
	
	WHEN MATCHED THEN 
	UPDATE SET
	TGT.AMSPROGRAMID=SRC.AMSPROGRAMID,
	TGT.TICKETID=SRC.TICKETID,
	TGT.RESPONSEBTGTIME=SRC.RESPONSEBTGTIME,
	TGT.RESOLUTIONBTGTIME=SRC.RESOLUTIONBTGTIME,
	TGT.TOTALSLATIMEFORRESPONSE=SRC.TOTALSLATIMEFORRESPONSE,
	TGT.TOTALSLATIMEFORRESOLUTION=SRC.TOTALSLATIMEFORRESOLUTION,
	TGT.RESPONSESLATIMEELAPSEDPERC=SRC.RESPONSESLATIMEELAPSEDPERC,
	TGT.RESOLUTIONSLATIMEELAPSEDPERC=SRC.RESOLUTIONSLATIMEELAPSEDPERC,
	TGT.RESPONSESLAMET=SRC.RESPONSESLAMET,
	TGT.RESOLUTIONSLAMET=SRC.RESOLUTIONSLAMET,
	TGT.RESPONSESLAVIOLATIONREASONCODE=SRC.RESPONSESLAVIOLATIONREASONCODE,
	TGT.RSLN_SLAVIOLATIONREASONCODE=SRC.RSLN_SLAVIOLATIONREASONCODE,
	TGT.PEND_TIME_ENDUSERCLARIFICATION=SRC.PEND_TIME_ENDUSERCLARIFICATION,
	TGT.PENDINGTIME_3RD_PARTY=SRC.PENDINGTIME_3RD_PARTY,
	--TGT.PEND_TIME_RSLN_CONFIRMATION=SRC.PENDTIME_RSLN_CONFIRMATION,
	TGT.RESPONSEELAPSEDTIME=SRC.RESPONSEELAPSEDTIME,
	TGT.RESOLUTIONELAPSEDTIME=SRC.RESOLUTIONELAPSEDTIME,
	TGT.RESPONSESLAWAIVER=SRC.RESPONSESLAWAIVER,
	TGT.RESOLUTIONSLAWAIVER=SRC.RESOLUTIONSLAWAIVER,
	TGT.RESPONSESLAWAIVERREASON=SRC.RESPONSESLAWAIVERREASON,
	TGT.RESOLUTIONSLAWAIVERREASON=SRC.RESOLUTIONSLAWAIVERREASON,
	--TGT.TOTALSLATIMEFOR_RSLN_LEVEL1=SRC.TOTALSLATIMEFORRSLN_LEVEL1,
	--TGT.TOTALSLATIMEFOR_RSLN_LEVEL2=SRC.TOTALSLATIMEFORRSLN_LEVEL2,
	TGT.RESOLUTIONSLAMET_LEVEL1=SRC.RESOLUTIONSLAMET_LEVEL1,
	TGT.RESOLUTIONSLAMET_LEVEL2=SRC.RESOLUTIONSLAMET_LEVEL2,
	TGT.LASTUPDATEDBYDATALOAD=SRC.LASTUPDATEDBYDATALOAD

	WHEN NOT MATCHED THEN 
	INSERT
	(
	AMSPROGRAMID,
	TICKETID,
	RESPONSEBTGTIME,
	RESOLUTIONBTGTIME,
	TOTALSLATIMEFORRESPONSE,
	TOTALSLATIMEFORRESOLUTION,
	RESPONSESLATIMEELAPSEDPERC,
	RESOLUTIONSLATIMEELAPSEDPERC,
	RESPONSESLAMET,
	RESOLUTIONSLAMET,
	RESPONSESLAVIOLATIONREASONCODE,
	RSLN_SLAVIOLATIONREASONCODE,
	PEND_TIME_ENDUSERCLARIFICATION,
	PENDINGTIME_3RD_PARTY,
	---PEND_TIME_RSLN_CONFIRMATION,
	RESPONSEELAPSEDTIME,
	RESOLUTIONELAPSEDTIME,
	RESPONSESLAWAIVER,
	RESOLUTIONSLAWAIVER,
	RESPONSESLAWAIVERREASON,
	RESOLUTIONSLAWAIVERREASON,
	--TOTALSLATIMEFOR_RSLN_LEVEL1,
	--TOTALSLATIMEFOR_RSLN_LEVEL2,
	RESOLUTIONSLAMET_LEVEL1,
	RESOLUTIONSLAMET_LEVEL2,
	LASTUPDATEDBYDATALOAD	) 
	VALUES
	(
	SRC.AMSPROGRAMID,
	SRC.TICKETID,
	SRC.RESPONSEBTGTIME,
	SRC.RESOLUTIONBTGTIME,
	SRC.TOTALSLATIMEFORRESPONSE,
	SRC.TOTALSLATIMEFORRESOLUTION,
	SRC.RESPONSESLATIMEELAPSEDPERC,
	SRC.RESOLUTIONSLATIMEELAPSEDPERC,
	SRC.RESPONSESLAMET,
	SRC.RESOLUTIONSLAMET,
	SRC.RESPONSESLAVIOLATIONREASONCODE,
	SRC.RSLN_SLAVIOLATIONREASONCODE,
	SRC.PEND_TIME_ENDUSERCLARIFICATION,
	SRC.PENDINGTIME_3RD_PARTY,
	--SRC.PENDTIME_RSLN_CONFIRMATION,
	SRC.RESPONSEELAPSEDTIME,
	SRC.RESOLUTIONELAPSEDTIME,
	SRC.RESPONSESLAWAIVER,
	SRC.RESOLUTIONSLAWAIVER,
	SRC.RESPONSESLAWAIVERREASON,
	SRC.RESOLUTIONSLAWAIVERREASON,
	--SRC.TOTALSLATIMEFORRSLN_LEVEL1,
	--SRC.TOTALSLATIMEFORRSLN_LEVEL2,
	SRC.RESOLUTIONSLAMET_LEVEL1,
	SRC.RESOLUTIONSLAMET_LEVEL2,
	SRC.LASTUPDATEDBYDATALOAD);

	print 'Data movement done to Ticket_SLA'

	/*
	update [DBO].[LOAD_MASTER]
	SET LASTUPDATEDBYDATALOAD = getdate()
	WHERE MODULE='INCIDENT'
	*/

END
GO
