USE [DBO_SILVER]
GO
/****** Object:  StoredProcedure [dbo].[SR_DATA_MOVEMENT_FROM_B2B_TO_IMAGE]    Script Date: 4/30/2020 1:07:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Preetham M
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[SR_DATA_MOVEMENT_FROM_B2B_TO_IMAGE]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	
	DECLARE @L_LASTUPDATEDBYDATALOAD datetime2;
	DECLARE @L_ACCOUNT varchar(30);
	DECLARE @L_LOADTYPE varchar(50);
	DECLARE @load_date datetime2;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

  -- Insert statements for procedure here

	SET @L_ACCOUNT = 'RMS';

    -- Selecting Last updated load date
	SELECT  @load_date=LASTUPDATEDBYDATALOAD FROM [DBO_STAGINGDB].[DBO].[LOAD_MASTER]
	WHERE MODULE='REQUEST FOR SERVICE';


	MERGE INTO [DBO_STAGINGDB].[dbo].[TICKET_MASTER_IMAGE] AS R USING
		(SELECT DISTINCT 
						'PRG-RMS' as AMSPROGRAMID,
						sc_task.number AS TICKETID,
						'REQUEST FOR SERVICE' AS TICKETTYPE,
						sc_task.dv_priority AS PRIORITY,
						sc_task.dv_state AS STATUS,
						sc_task.opened_at AS TICKETSUBMITDATE,
						NULL AS RESPONSEDATE,
						sc_task.closed_at AS RESOLVEDDATE,
						sc_task.dv_assigned_to AS ASSIGNEENAME,
						sc_task.dv_assignment_group AS RESOLVERGROUP,
						sc_task.dv_assignment_group AS TOWERNAME,
						sc_task.dv_u_status_reason AS STATUSREASON,
						sc_task.u_operational_category_tier_1 AS OPERATIONALCATEGORIZATIONTIER1,
						sc_task.u_operational_category_tier_2 AS OPERATIONALCATEGORIZATIONTIER2,
						sc_task.u_operational_category_tier_3 AS OPERATIONALCATEGORIZATIONTIER3,
						sc_task.u_product_category_tier_1 AS PRODUCTCATEGORIZATIONTIER1,
						sc_task.u_product_category_tier_2 AS PRODUCTCATEGORIZATIONTIER2,
						sc_task.u_product_category_tier_3 AS PRODUCTCATEGORIZATIONTIER3,
						sc_task.dv_cmdb_ci AS ASSETNAME,
						NULL AS REOPENDATE,
						NULL AS FCR,
						sc_task.dv_location AS REGION,
						NULL AS CREATORGROUP,
						sc_task.dv_assigned_to AS ASSIGNEE_ID,
						NULL AS RESOLVEDATLEVEL1,
						NULL AS GROUPTRANSFERS,
						NULL AS REOPEN,
						NULL AS PENDINGDATE,
						sc_task.dv_impact AS IMPACT,
						sc_task.dv_urgency AS URGENCY,
						sc_task.dv_parent AS REFERENCE_TICKET_ID,
						CASE
							WHEN (sc_task.dv_priority = 'P1 - Critical') THEN 1
							ELSE 0
						END AS IS_CRITICAL_SITUATION,
						sc_task.sys_updated_on AS TICKETMODIFIEDON,
						sc_task.close_notes AS RESOLUTIONCODE,
						NULL AS CLOSURECODE,
						0 AS ISTICKETESCALATED,
						NULL AS BUSINESS_UNIT,
						NULL AS RESPONSESLAVIOLATIONREASONCODE,
						NULL AS RSLN_SLAVIOLATIONREASONCODE,
						NULL AS ISCSATRECEIVED,
						NULL AS CSATOVERALLSCORE,
						NULL AS CSATRESPONSETIME,
						sc_task.dv_contact_type AS SOURCE,
						sc_task.dv_caller_id AS REQUESTER_ID,
						sc_task.dv_opened_by AS CREATOR_ID,
						NULL AS CREATEDBYLEVEL1,
						NULL AS BUSINESS_PLATFORM,
						sc_task.dv_contact_type AS TICKETORIGIN,
						NULL AS ISPROACTIVETICKET,
						NULL AS ISSELFSERVICETICKET,
						NULL AS ISCAUSEDBYCHANGE,
						NULL AS REFERENCE_CHANGE_ID,
						NULL AS ISRESOLVEDUSINGKEDB,
						NULL AS VIP,
						NULL AS REOPEN_COUNT,
						0 AS RESPONSESLAWAIVER,
						0 AS RESOLUTIONSLAWAIVER,
						sc_task.short_description AS SUMMARY,
						NULL AS CLASSOFSERVICE,
						NULL AS EMAILRESPONSETIME,
						NULL AS REQUESTERFIRSTNAME,
						NULL AS REQUESTERLASTNAME,
						sc_task.dv_location AS SITE,
						NULL AS DEPARTMENT,
						sc_task.dv_opened_by AS CREATORNAME,
						NULL AS CREATOREMPLOYEEID,
						sc_task.dv_resolved_by AS RESOLVEREMPLOYEEID,
						sc_task.dv_location AS RESOLVERLOCATION,
						NULL AS RESOLVERGROUPREGION,
						NULL AS REQUESTOREMAILID,
						NULL AS TICKETAUDITSCORE,
						NULL AS PEND_TIME_ENDUSERCLARIFICATION,
						NULL AS PENDINGTIME_3RD_PARTY,
						NULL AS PENDTIME_RSLN_CONFIRMATION,
						NULL AS RESPONSESLAWAIVERREASON,
						NULL AS RESOLUTIONSLAWAIVERREASON,
						NULL AS TOTALSLATIMEFORRSLN_LEVEL1,
						NULL AS TOTALSLATIMEFORRSLN_LEVEL2,
						NULL AS RESOLUTIONSLAMET_LEVEL1,
						NULL AS RESOLUTIONSLAMET_LEVEL2,
						NULL AS CSATSCORE1,
						NULL AS CSATSCORE2,
						NULL AS CSATSCORE3,
						NULL AS CSATSCORE4,
						NULL AS CSATSCORE5,
						NULL AS CSATSCORE6,
						NULL AS CSATREQUESTTIME,
						NULL AS SUBPROGRAMID,
						sc_task.closed_at AS CLOSEDTIME,
						0 AS ESTIMATEDEFFORT,
						0 AS ACTUALEFFORT,
						NULL AS ACTUALSTART,
						sc_task.opened_at AS ESTIMATESTART,
						NULL AS ESTIMATEDEND,
						sc_task.closed_at AS ACTUALEND,
						DATEDIFF(dd,sc_task.sys_updated_on,getdate()) AS DAYS_SINCE_LAST_UPDATE,
						Datediff(dd, sc_task.opened_at, getdate()) AS TICKETAGE,
						0 AS IS_SR_SLA_APPLICABLE,
						NULL AS TICKET_BUCKET,
						NULL AS ESTIMATEDDELIVERY,
						NULL AS WORK_END,
						NULL AS WORK_START,
						NULL AS COMMENTS,
						NULL AS DATAFEEDREFERENCE,
						sc_task.active AS ISRECORDACTIVE,
						NULL AS LASTUPDATEDBYDATALOAD,
						1 AS LOADINTOBI,
						NULL AS MANUALTICKETUPDATE,
						1 AS INAMSSCOPE,
						NULL AS IS_PENDINGTICKET,
						NULL  AS ISTICKETOPEN,
						NULL AS IS_TOOLGENERATED,
						NULL AS IS_OUTAGE,
						CASE
							WHEN sc_task.dv_priority = 'P1 - Critical' THEN 1
							ELSE 0
						END AS IS_PRIORITY1,
						NULL AS RESOLVEDUSINGSELFSERVICE,
						NULL AS RESOLUTIONTARGETDATE,
						NULL AS RESPONSETARGETDATE,
						sc_task.u_resolution_category_tier_1 AS u_resolution_category_tier_1,
						sc_task.u_resolution_category_tier_2 AS u_resolution_category_tier_2,
						sc_task.u_resolution_category_tier_3 AS u_resolution_category_tier_3,
						sc_task.close_notes AS close_notes,
						sc_task.u_closure_category_tier_1 AS u_closure_category_tier_1,
						sc_task.u_closure_category_tier_2 AS u_closure_category_tier_2,
						sc_task.u_closure_category_tier_3 AS u_closure_category_tier_3,
						sc_task.u_remedy_submit_date AS u_remedy_submit_date,
						sc_task.u_reference_number AS u_reference_number,
						sc_task.u_remedy_change_class AS u_remedy_change_class,
						sc_task.u_remedy_change_reason AS u_remedy_change_reason,
						sc_task.u_remedy_change_template AS u_remedy_change_template,
						sc_task.u_remedy_coordinator_group AS u_remedy_coordinator_group,
						sc_task.u_remedy_last_modified_by AS u_remedy_last_modified_by,
						sc_task.u_remedy_last_modified_date AS u_remedy_last_modified_date,
						sc_task.u_remedy_reported_date AS u_remedy_reported_date,
						sc_task.u_remedy_responded_date AS u_remedy_responded_date	
		FROM dbo_bronze.dbo.SC_TASK
		)
		--WHERE sc_task.sys_updated_on >= @L_LASTUPDATEDBYDATALOAD
		AS SRC 
		ON (R.TICKETID=SRC.TICKETID
		AND R.AMSPROGRAMID = 'PRG-RMS') WHEN MATCHED THEN
	UPDATE
	SET R.AMSPROGRAMID='PRG-RMS',
		R.TICKETID=SRC.TICKETID,
		R.TICKETTYPE=SRC.TICKETTYPE,
		R.PRIORITY=SRC.PRIORITY,
		R.STATUS=SRC.STATUS,
		R.TICKETSUBMITDATE=SRC.TICKETSUBMITDATE,
		R.RESPONSEDATE=SRC.RESPONSEDATE,
		R.RESOLVEDDATE=SRC.RESOLVEDDATE,
		R.ASSIGNEENAME=SRC.ASSIGNEENAME,
		R.RESOLVERGROUP=SRC.RESOLVERGROUP,
		R.TOWERNAME=SRC.TOWERNAME,
		R.STATUSREASON=SRC.STATUSREASON,
		R.OPERATIONALCATEGORIZATIONTIER1=SRC.OPERATIONALCATEGORIZATIONTIER1,
		R.OPERATIONALCATEGORIZATIONTIER2=SRC.OPERATIONALCATEGORIZATIONTIER2,
		R.OPERATIONALCATEGORIZATIONTIER3=SRC.OPERATIONALCATEGORIZATIONTIER3,
		R.PRODUCTCATEGORIZATIONTIER1=SRC.PRODUCTCATEGORIZATIONTIER1,
		R.PRODUCTCATEGORIZATIONTIER2=SRC.PRODUCTCATEGORIZATIONTIER2,
		R.PRODUCTCATEGORIZATIONTIER3=SRC.PRODUCTCATEGORIZATIONTIER3,
		R.ASSETNAME=SRC.ASSETNAME,
		R.REOPENDATE=SRC.REOPENDATE,
		R.FCR=SRC.FCR,
		R.REGION=SRC.REGION,
		R.CREATORGROUP=SRC.CREATORGROUP,
		R.ASSIGNEE_ID=SRC.ASSIGNEE_ID,
		R.RESOLVEDATLEVEL1=SRC.RESOLVEDATLEVEL1,
		R.GROUPTRANSFERS=SRC.GROUPTRANSFERS,
		R.REOPEN=SRC.REOPEN,
		R.PENDINGDATE=SRC.PENDINGDATE,
		R.IMPACT=SRC.IMPACT,
		R.URGENCY=SRC.URGENCY,
		R.REFERENCE_TICKET_ID=SRC.REFERENCE_TICKET_ID,
		R.IS_CRITICAL_SITUATION=SRC.IS_CRITICAL_SITUATION,
		R.TICKETMODIFIEDON=SRC.TICKETMODIFIEDON,
		R.RESOLUTIONCODE=SRC.RESOLUTIONCODE,
		R.CLOSURECODE=SRC.CLOSURECODE,
		R.ISTICKETESCALATED=SRC.ISTICKETESCALATED,
		R.BUSINESS_UNIT=SRC.BUSINESS_UNIT,
		R.RESPONSESLAVIOLATIONREASONCODE=SRC.RESPONSESLAVIOLATIONREASONCODE,
		R.RSLN_SLAVIOLATIONREASONCODE=SRC.RSLN_SLAVIOLATIONREASONCODE,
		R.ISCSATRECEIVED=SRC.ISCSATRECEIVED,
		R.CSATOVERALLSCORE=SRC.CSATOVERALLSCORE,
		R.CSATRESPONSETIME=SRC.CSATRESPONSETIME,
		R.SOURCE=SRC.SOURCE,
		R.REQUESTER_ID=SRC.REQUESTER_ID,
		R.CREATOR_ID=SRC.CREATOR_ID,
		R.CREATEDBYLEVEL1=SRC.CREATEDBYLEVEL1,
		R.BUSINESS_PLATFORM=SRC.BUSINESS_PLATFORM,
		R.TICKETORIGIN=SRC.TICKETORIGIN,
		R.ISPROACTIVETICKET=SRC.ISPROACTIVETICKET,
		R.ISSELFSERVICETICKET=SRC.ISSELFSERVICETICKET,
		R.ISCAUSEDBYCHANGE=SRC.ISCAUSEDBYCHANGE,
		R.REFERENCE_CHANGE_ID=SRC.REFERENCE_CHANGE_ID,
		R.ISRESOLVEDUSINGKEDB=SRC.ISRESOLVEDUSINGKEDB,
		R.VIP=SRC.VIP,
		R.REOPEN_COUNT=SRC.REOPEN_COUNT,
		R.RESPONSESLAWAIVER=SRC.RESPONSESLAWAIVER,
		R.RESOLUTIONSLAWAIVER=SRC.RESOLUTIONSLAWAIVER,
		R.SUMMARY=SRC.SUMMARY,
		R.CLASSOFSERVICE=SRC.CLASSOFSERVICE,
		R.EMAILRESPONSETIME=SRC.EMAILRESPONSETIME,
		R.REQUESTERFIRSTNAME=SRC.REQUESTERFIRSTNAME,
		R.REQUESTERLASTNAME=SRC.REQUESTERLASTNAME,
		R.SITE=SRC.SITE,
		R.DEPARTMENT=SRC.DEPARTMENT,
		R.CREATORNAME=SRC.CREATORNAME,
		R.CREATOREMPLOYEEID=SRC.CREATOREMPLOYEEID,
		R.RESOLVEREMPLOYEEID=SRC.RESOLVEREMPLOYEEID,
		R.RESOLVERLOCATION=SRC.RESOLVERLOCATION,
		R.RESOLVERGROUPREGION=SRC.RESOLVERGROUPREGION,
		R.REQUESTOREMAILID=SRC.REQUESTOREMAILID,
		R.TICKETAUDITSCORE=SRC.TICKETAUDITSCORE,
		R.PEND_TIME_ENDUSERCLARIFICATION=SRC.PEND_TIME_ENDUSERCLARIFICATION,
		R.PENDINGTIME_3RD_PARTY=SRC.PENDINGTIME_3RD_PARTY,
		R.PENDTIME_RSLN_CONFIRMATION=SRC.PENDTIME_RSLN_CONFIRMATION,
		R.RESPONSESLAWAIVERREASON=SRC.RESPONSESLAWAIVERREASON,
		R.RESOLUTIONSLAWAIVERREASON=SRC.RESOLUTIONSLAWAIVERREASON,
		R.TOTALSLATIMEFORRSLN_LEVEL1=SRC.TOTALSLATIMEFORRSLN_LEVEL1,
		R.TOTALSLATIMEFORRSLN_LEVEL2=SRC.TOTALSLATIMEFORRSLN_LEVEL2,
		R.RESOLUTIONSLAMET_LEVEL1=SRC.RESOLUTIONSLAMET_LEVEL1,
		R.RESOLUTIONSLAMET_LEVEL2=SRC.RESOLUTIONSLAMET_LEVEL2,
		R.CSATSCORE1=SRC.CSATSCORE1,
		R.CSATSCORE2=SRC.CSATSCORE2,
		R.CSATSCORE3=SRC.CSATSCORE3,
		R.CSATSCORE4=SRC.CSATSCORE4,
		R.CSATSCORE5=SRC.CSATSCORE5,
		R.CSATSCORE6=SRC.CSATSCORE6,
		R.CSATREQUESTTIME=SRC.CSATREQUESTTIME,
		R.SUBPROGRAMID=SRC.SUBPROGRAMID,
		R.CLOSEDTIME=SRC.CLOSEDTIME,
		R.ESTIMATEDEFFORT=SRC.ESTIMATEDEFFORT,
		R.ACTUALEFFORT=SRC.ACTUALEFFORT,
		R.ACTUALSTART=SRC.ACTUALSTART,
		R.ESTIMATESTART=SRC.ESTIMATESTART,
		R.ESTIMATEDEND=SRC.ESTIMATEDEND,
		R.ACTUALEND=SRC.ACTUALEND,
		R.DAYS_SINCE_LAST_UPDATE=SRC.DAYS_SINCE_LAST_UPDATE,
		R.TICKETAGE=SRC.TICKETAGE,
		R.IS_SR_SLA_APPLICABLE=SRC.IS_SR_SLA_APPLICABLE,
		R.TICKET_BUCKET=SRC.TICKET_BUCKET,
		R.ESTIMATEDDELIVERY=SRC.ESTIMATEDDELIVERY,
		R.WORK_END=SRC.WORK_END,
		R.WORK_START=SRC.WORK_START,
		R.COMMENTS=SRC.COMMENTS,
		R.DATAFEEDREFERENCE=SRC.DATAFEEDREFERENCE,
		R.ISRECORDACTIVE=SRC.ISRECORDACTIVE,
		R.LASTUPDATEDBYDATALOAD=getdate(),
		R.LOADINTOBI='1',
		R.MANUALTICKETUPDATE=SRC.MANUALTICKETUPDATE,
		R.INAMSSCOPE=SRC.INAMSSCOPE,
		R.IS_PENDINGTICKET=SRC.IS_PENDINGTICKET,
		R.ISTICKETOPEN='1',
		R.IS_TOOLGENERATED=SRC.IS_TOOLGENERATED,
		R.IS_OUTAGE=SRC.IS_OUTAGE,
		R.IS_PRIORITY1=SRC.IS_PRIORITY1,
		R.RESOLVEDUSINGSELFSERVICE=SRC.RESOLVEDUSINGSELFSERVICE,
		R.RESOLUTIONTARGETDATE=SRC.RESOLUTIONTARGETDATE,
		R.RESPONSETARGETDATE=SRC.RESPONSETARGETDATE,
		R.u_resolution_category_tier_1=SRC.u_resolution_category_tier_1,
		R.u_resolution_category_tier_2=SRC.u_resolution_category_tier_2,
		R.u_resolution_category_tier_3=SRC.u_resolution_category_tier_3,
		R.close_notes=SRC.close_notes,
		R.u_closure_category_tier_1=SRC.u_closure_category_tier_1,
		R.u_closure_category_tier_2=SRC.u_closure_category_tier_2,
		R.u_closure_category_tier_3=SRC.u_closure_category_tier_3,
		R.u_remedy_submit_date=SRC.u_remedy_submit_date,
		R.u_reference_number=SRC.u_reference_number,
		R.u_remedy_change_class=SRC.u_remedy_change_class,
		R.u_remedy_change_reason=SRC.u_remedy_change_reason,
		R.u_remedy_change_template=SRC.u_remedy_change_template,
		R.u_remedy_coordinator_group=SRC.u_remedy_coordinator_group,
		R.u_remedy_last_modified_by=SRC.u_remedy_last_modified_by,
		R.u_remedy_last_modified_date=SRC.u_remedy_last_modified_date,
		R.u_remedy_reported_date=SRC.u_remedy_reported_date,
		R.u_remedy_responded_date=SRC.u_remedy_responded_date


		WHEN NOT MATCHED THEN
INSERT (
AMSPROGRAMID,
TICKETID,
TICKETTYPE,
PRIORITY,
STATUS,
TICKETSUBMITDATE,
RESPONSEDATE,
RESOLVEDDATE,
ASSIGNEENAME,
RESOLVERGROUP,
TOWERNAME,
STATUSREASON,
OPERATIONALCATEGORIZATIONTIER1,
OPERATIONALCATEGORIZATIONTIER2,
OPERATIONALCATEGORIZATIONTIER3,
PRODUCTCATEGORIZATIONTIER1,
PRODUCTCATEGORIZATIONTIER2,
PRODUCTCATEGORIZATIONTIER3,
ASSETNAME,
REOPENDATE,
FCR,
REGION,
CREATORGROUP,
ASSIGNEE_ID,
RESOLVEDATLEVEL1,
GROUPTRANSFERS,
REOPEN,
PENDINGDATE,
IMPACT,
URGENCY,
REFERENCE_TICKET_ID,
IS_CRITICAL_SITUATION,
TICKETMODIFIEDON,
RESOLUTIONCODE,
CLOSURECODE,
ISTICKETESCALATED,
BUSINESS_UNIT,
RESPONSESLAVIOLATIONREASONCODE,
RSLN_SLAVIOLATIONREASONCODE,
ISCSATRECEIVED,
CSATOVERALLSCORE,
CSATRESPONSETIME,
SOURCE,
REQUESTER_ID,
CREATOR_ID,
CREATEDBYLEVEL1,
BUSINESS_PLATFORM,
TICKETORIGIN,
ISPROACTIVETICKET,
ISSELFSERVICETICKET,
ISCAUSEDBYCHANGE,
REFERENCE_CHANGE_ID,
ISRESOLVEDUSINGKEDB,
VIP,
REOPEN_COUNT,
RESPONSESLAWAIVER,
RESOLUTIONSLAWAIVER,
SUMMARY,
CLASSOFSERVICE,
EMAILRESPONSETIME,
REQUESTERFIRSTNAME,
REQUESTERLASTNAME,
SITE,
DEPARTMENT,
CREATORNAME,
CREATOREMPLOYEEID,
RESOLVEREMPLOYEEID,
RESOLVERLOCATION,
RESOLVERGROUPREGION,
REQUESTOREMAILID,
TICKETAUDITSCORE,
PEND_TIME_ENDUSERCLARIFICATION,
PENDINGTIME_3RD_PARTY,
PENDTIME_RSLN_CONFIRMATION,
RESPONSESLAWAIVERREASON,
RESOLUTIONSLAWAIVERREASON,
TOTALSLATIMEFORRSLN_LEVEL1,
TOTALSLATIMEFORRSLN_LEVEL2,
RESOLUTIONSLAMET_LEVEL1,
RESOLUTIONSLAMET_LEVEL2,
CSATSCORE1,
CSATSCORE2,
CSATSCORE3,
CSATSCORE4,
CSATSCORE5,
CSATSCORE6,
CSATREQUESTTIME,
SUBPROGRAMID,
CLOSEDTIME,
ESTIMATEDEFFORT,
ACTUALEFFORT,
ACTUALSTART,
ESTIMATESTART,
ESTIMATEDEND,
ACTUALEND,
DAYS_SINCE_LAST_UPDATE,
TICKETAGE,
IS_SR_SLA_APPLICABLE,
TICKET_BUCKET,
ESTIMATEDDELIVERY,
WORK_END,
WORK_START,
COMMENTS,
DATAFEEDREFERENCE,
ISRECORDACTIVE,
LASTUPDATEDBYDATALOAD,
LOADINTOBI,
MANUALTICKETUPDATE,
INAMSSCOPE,
IS_PENDINGTICKET,
ISTICKETOPEN,
IS_TOOLGENERATED,
IS_OUTAGE,
IS_PRIORITY1,
RESOLVEDUSINGSELFSERVICE,
RESOLUTIONTARGETDATE,
RESPONSETARGETDATE,
u_resolution_category_tier_1,
u_resolution_category_tier_2,
u_resolution_category_tier_3,
close_notes,
u_closure_category_tier_1,
u_closure_category_tier_2,
u_closure_category_tier_3,
u_remedy_submit_date,
u_reference_number,
u_remedy_change_class,
u_remedy_change_reason,
u_remedy_change_template,
u_remedy_coordinator_group,
u_remedy_last_modified_by,
u_remedy_last_modified_date,
u_remedy_reported_date,
u_remedy_responded_date
)
	VALUES
	(
'PRG-RMS',
SRC.TICKETID,
SRC.TICKETTYPE,
SRC.PRIORITY,
SRC.STATUS,
SRC.TICKETSUBMITDATE,
SRC.RESPONSEDATE,
SRC.RESOLVEDDATE,
SRC.ASSIGNEENAME,
SRC.RESOLVERGROUP,
SRC.TOWERNAME,
SRC.STATUSREASON,
SRC.OPERATIONALCATEGORIZATIONTIER1,
SRC.OPERATIONALCATEGORIZATIONTIER2,
SRC.OPERATIONALCATEGORIZATIONTIER3,
SRC.PRODUCTCATEGORIZATIONTIER1,
SRC.PRODUCTCATEGORIZATIONTIER2,
SRC.PRODUCTCATEGORIZATIONTIER3,
SRC.ASSETNAME,
SRC.REOPENDATE,
SRC.FCR,
SRC.REGION,
SRC.CREATORGROUP,
SRC.ASSIGNEE_ID,
SRC.RESOLVEDATLEVEL1,
SRC.GROUPTRANSFERS,
SRC.REOPEN,
SRC.PENDINGDATE,
SRC.IMPACT,
SRC.URGENCY,
SRC.REFERENCE_TICKET_ID,
SRC.IS_CRITICAL_SITUATION,
SRC.TICKETMODIFIEDON,
SRC.RESOLUTIONCODE,
SRC.CLOSURECODE,
SRC.ISTICKETESCALATED,
SRC.BUSINESS_UNIT,
SRC.RESPONSESLAVIOLATIONREASONCODE,
SRC.RSLN_SLAVIOLATIONREASONCODE,
SRC.ISCSATRECEIVED,
SRC.CSATOVERALLSCORE,
SRC.CSATRESPONSETIME,
SRC.SOURCE,
SRC.REQUESTER_ID,
SRC.CREATOR_ID,
SRC.CREATEDBYLEVEL1,
SRC.BUSINESS_PLATFORM,
SRC.TICKETORIGIN,
SRC.ISPROACTIVETICKET,
SRC.ISSELFSERVICETICKET,
SRC.ISCAUSEDBYCHANGE,
SRC.REFERENCE_CHANGE_ID,
SRC.ISRESOLVEDUSINGKEDB,
SRC.VIP,
SRC.REOPEN_COUNT,
SRC.RESPONSESLAWAIVER,
SRC.RESOLUTIONSLAWAIVER,
SRC.SUMMARY,
SRC.CLASSOFSERVICE,
SRC.EMAILRESPONSETIME,
SRC.REQUESTERFIRSTNAME,
SRC.REQUESTERLASTNAME,
SRC.SITE,
SRC.DEPARTMENT,
SRC.CREATORNAME,
SRC.CREATOREMPLOYEEID,
SRC.RESOLVEREMPLOYEEID,
SRC.RESOLVERLOCATION,
SRC.RESOLVERGROUPREGION,
SRC.REQUESTOREMAILID,
SRC.TICKETAUDITSCORE,
SRC.PEND_TIME_ENDUSERCLARIFICATION,
SRC.PENDINGTIME_3RD_PARTY,
SRC.PENDTIME_RSLN_CONFIRMATION,
SRC.RESPONSESLAWAIVERREASON,
SRC.RESOLUTIONSLAWAIVERREASON,
SRC.TOTALSLATIMEFORRSLN_LEVEL1,
SRC.TOTALSLATIMEFORRSLN_LEVEL2,
SRC.RESOLUTIONSLAMET_LEVEL1,
SRC.RESOLUTIONSLAMET_LEVEL2,
SRC.CSATSCORE1,
SRC.CSATSCORE2,
SRC.CSATSCORE3,
SRC.CSATSCORE4,
SRC.CSATSCORE5,
SRC.CSATSCORE6,
SRC.CSATREQUESTTIME,
SRC.SUBPROGRAMID,
SRC.CLOSEDTIME,
SRC.ESTIMATEDEFFORT,
SRC.ACTUALEFFORT,
SRC.ACTUALSTART,
SRC.ESTIMATESTART,
SRC.ESTIMATEDEND,
SRC.ACTUALEND,
SRC.DAYS_SINCE_LAST_UPDATE,
SRC.TICKETAGE,
SRC.IS_SR_SLA_APPLICABLE,
SRC.TICKET_BUCKET,
SRC.ESTIMATEDDELIVERY,
SRC.WORK_END,
SRC.WORK_START,
SRC.COMMENTS,
SRC.DATAFEEDREFERENCE,
'1',
getdate(),
'1',
SRC.MANUALTICKETUPDATE,
SRC.INAMSSCOPE,
SRC.IS_PENDINGTICKET,
SRC.ISTICKETOPEN,
SRC.IS_TOOLGENERATED,
SRC.IS_OUTAGE,
SRC.IS_PRIORITY1,
SRC.RESOLVEDUSINGSELFSERVICE,
SRC.RESOLUTIONTARGETDATE,
SRC.RESPONSETARGETDATE,
SRC.u_resolution_category_tier_1,
SRC.u_resolution_category_tier_2,
SRC.u_resolution_category_tier_3,
SRC.close_notes,
SRC.u_closure_category_tier_1,
SRC.u_closure_category_tier_2,
SRC.u_closure_category_tier_3,
SRC.u_remedy_submit_date,
SRC.u_reference_number,
SRC.u_remedy_change_class,
SRC.u_remedy_change_reason,
SRC.u_remedy_change_template,
SRC.u_remedy_coordinator_group,
SRC.u_remedy_last_modified_by,
SRC.u_remedy_last_modified_date,
SRC.u_remedy_reported_date,
SRC.u_remedy_responded_date
);
			

  
  END
GO
