USE [DBO_SILVER]
GO
/****** Object:  StoredProcedure [dbo].[PM_DATA_MOVEMENT_FROM_B2B_TO_IMAGE]    Script Date: 4/30/2020 1:07:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Preetham M>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[PM_DATA_MOVEMENT_FROM_B2B_TO_IMAGE]
	
AS
BEGIN

declare @date datetime2;
set @date = getdate();

MERGE INTO [DBO_SILVER].[dbo].[PROBLEM_MASTER_IMAGE] as R
	USING (
			SELECT DISTINCT 
				'PRG-RMS' AS AMSPROGRAMID,
				pblm.number AS TICKETID,
				'PROBLEM' AS TICKETTYPE,
				pblm.dv_priority AS PRIORITY,  
                pblm.dv_state AS STATUS,
				pblm.opened_at AS TICKETSUBMITDATE, 
                pblm.closed_at AS RESOLVEDDATE, 
				pblm.dv_assignment_group AS RESOLVERGROUP,
				pblm.dv_assigned_to AS ASSIGNEENAME,
                pblm.dv_assignment_group AS TOWERNAME, 
                NULL AS PHASE, 
                Cast(pblm.related_incidents AS DECIMAL(38)) AS RELATEDINCIDENTCOUNT,
				pblm.u_root_cause_found AS ROOTCAUSEIDENTIFIEDDATE,
				pblm.u_resolution_code AS CLOSURECODE, 
                pblm.dv_u_root_cause_code AS CAUSECODE, 
                NULL AS REOPENTIME, 
                CASE 
                    WHEN pblm.dv_cmdb_ci IS NOT NULL THEN 1 
                    ELSE 0 
                END AS AFFECTEDCICOUNT,
                pblm.dv_impact AS IMPACT, 
                NULL AS SOLUTIONIDENTIFIEDDATE, 
                NULL AS FUNCTIONNAME, 
                pblm.dv_state AS STATUSREASON,
                pblm.dv_location AS REGION, 
                NULL AS CATEGORYLEVEL1, 
                NULL AS CATEGORYLEVEL2, 
                pblm.dv_cmdb_ci AS CATEGORYLEVEL3, 
                Cast(pblm.reassignment_count AS DECIMAL(38,2)) AS GROUPTRANSFERS,
                1 AS INCLUDEFORSLA, 
                pblm.sys_updated_on AS LASTMODIFIEDDATE,    
                CASE 
                  WHEN (pblm.dv_priority = 'P1 - Critical' ) THEN 1 
                  ELSE 0 
                END AS IS_CRITICAL_SITUATION,
                pblm.dv_parent AS REFERENCEPROBLEMNO, 
                NULL AS REOPEN, 
                CASE 
                  WHEN ( Cast(pblm.reassignment_count AS DECIMAL(38,2)) > 0 ) THEN 0
                  ELSE 1 
                END AS RESOLVEDATLEVEL1,
                pblm.dv_urgency AS URGENCY,
                pblm.short_description AS SUMMARY, 
                pblm.dv_opened_by AS CREATORNAME,
                NULL AS CLASSOFSERVICE,
                pblm.business_service AS BUSINESS_PLATFORM,
                1 AS INAMSSCOPE,
                NULL AS RESOLUTIONELAPSEDTIME, 
                pblm.closed_at AS CLOSEDTIME,
                pblm.dv_closed_by AS CLOSED_BY, 
                NULL AS CREATEDBYLEVEL1,
                pblm.description AS DESCRIPTION,
                datediff(dd,pblm.calendar_duration,getdate()) AS DURATION, 
				NULL AS ELAPSEDTIME,
                pblm.known_error AS ISKNOWNERRROR,
                0 AS ISPROACTIVETICKET,
                pblm.knowledge AS ISRESOLVEDUSINGKEDB,
				--CASE
				--	WHEN (cast(pblm.u_root_cause_found AS varchar(20)) > 1 ) THEN 1
				--	ELSE 0
				--END AS ISROOTCAUSEIDENTIFIED,
				NULL AS ISROOTCAUSEIDENTIFIED,
                NULL AS ISTICKETESCALATED, 
                pblm.sys_updated_by AS LASTMODIFIEDBY, 
                pblm.dv_assignment_group AS OWNER,
                NULL  AS PLANNEDENDDATE,
                NULL AS PLANNEDSTARTDATE,
				pblm.rfc AS REFERENCE_CHANGE_ID,
                NULL AS REOPENCOUNT, 
                pblm.close_notes AS	RESOLUTIONDESCRIPTION, 
                pblm.sla_due AS SLADUE, 
                NULL AS SLAMET, 
                pblm.contact_type AS SOURCE,  
                pblm.work_around as WORKAROUND,  
                NULL AS SUBPROGRAMID,  
                pblm.active AS ACTIVE, 
                pblm.approval AS APPROVALSTATUS,
				NULL AS PTASK,
                pblm.sys_mod_count AS UPDATES, 
                NULL AS STAGE,
				NULL AS EXCEPTIONS,
				NULL AS PROBLEM,
				NULL AS CORRELATION_ID,
				NULL AS WORK_END,
				NULL AS WORK_START,
				getdate() AS LASTUPDATEDBYDATALOAD,
				pblm.comments AS COMMENTS,
				NULL AS DATAFEEDREFERENCE,
				NULL AS ISTICKETOPEN,
				pblm.u_closure_category_tier_1 AS u_closure_category_tier_1,
				pblm.u_closure_category_tier_2 AS u_closure_category_tier_2,
				pblm.u_closure_category_tier_3 AS u_closure_category_tier_3,
				pblm.u_coordinator AS u_coordinator,
				pblm.u_coordinator_group AS u_coordinator_group,
				pblm.u_external_reference AS u_external_reference,
				pblm.u_external_reference_state AS u_external_reference_state,
				pblm.u_incident_type AS u_incident_type,
				pblm.u_investigation_driver AS u_investigation_driver,
				pblm.u_investigation_suspended AS u_investigation_suspended,
				pblm.u_known_error_state AS u_known_error_state,
				pblm.u_operational_category_tier_1 AS u_operational_category_tier_1,
				pblm.u_operational_category_tier_2 AS u_operational_category_tier_2,
				pblm.u_operational_category_tier_3 AS u_operational_category_tier_3,
				pblm.u_product_category_tier_1 AS u_product_category_tier_1,
				pblm.u_product_category_tier_2 AS u_product_category_tier_2,
				pblm.u_product_category_tier_3 AS u_product_category_tier_3,
				pblm.u_reference_number AS u_reference_number,
				pblm.u_remedy_change_class AS u_remedy_change_class,
				pblm.u_remedy_change_reason  AS u_remedy_change_reason,
				pblm.u_remedy_change_template AS u_remedy_change_template,
				pblm.u_remedy_coordinator_group AS u_remedy_coordinator_group,
				pblm.u_remedy_last_modified_by AS u_remedy_last_modified_by,
				pblm.u_remedy_last_modified_date AS u_remedy_last_modified_date,
				pblm.u_remedy_reported_date AS u_remedy_reported_date,
				pblm.u_remedy_responded_date AS u_remedy_responded_date,
				pblm.u_remedy_submitted_by AS u_remedy_submitted_by,
				pblm.u_remedy_submit_date AS u_remedy_submit_date,
				pblm.u_reported_source AS u_reported_source,
				pblm.u_requested_by AS u_requested_by,
				pblm.u_resolution_category_tier_1 AS u_resolution_category_tier_1,
				pblm.u_resolution_category_tier_2 AS u_resolution_category_tier_2,
				pblm.u_resolution_category_tier_3 AS u_resolution_category_tier_3,
				pblm.u_root_cause_detail AS u_root_cause_detail,
				pblm.u_resolution_notes AS u_resolution_notes
 
FROM   DBO_BRONZE.dbo.problem pblm ) AS SRC
	ON ( R.TICKETID=SRC.TICKETID)

	WHEN MATCHED THEN UPDATE SET
R.AMSPROGRAMID = 'PRG-RMS',
R.TICKETID=SRC.TICKETID,
R.TICKETTYPE=SRC.TICKETTYPE,
R.PRIORITY=SRC.PRIORITY,
R.STATUS=SRC.STATUS,
R.TICKETSUBMITDATE=SRC.TICKETSUBMITDATE,
R.RESOLVEDDATE=SRC.RESOLVEDDATE,
R.RESOLVERGROUP=SRC.RESOLVERGROUP,
R.ASSIGNEENAME=SRC.ASSIGNEENAME,
R.TOWERNAME=SRC.TOWERNAME,
R.PHASE=SRC.PHASE,
R.RELATEDINCIDENTCOUNT=SRC.RELATEDINCIDENTCOUNT,
R.ROOTCAUSEIDENTIFIEDDATE=SRC.ROOTCAUSEIDENTIFIEDDATE,
R.CLOSURECODE=SRC.CLOSURECODE,
R.CAUSECODE=SRC.CAUSECODE,
R.REOPENTIME=SRC.REOPENTIME,
R.AFFECTEDCICOUNT=SRC.AFFECTEDCICOUNT,
R.IMPACT=SRC.IMPACT,
R.SOLUTIONIDENTIFIEDDATE=SRC.SOLUTIONIDENTIFIEDDATE,
R.FUNCTIONNAME=SRC.FUNCTIONNAME,
R.STATUSREASON=SRC.STATUSREASON,
R.REGION=SRC.REGION,
R.CATEGORYLEVEL1=SRC.CATEGORYLEVEL1,
R.CATEGORYLEVEL2=SRC.CATEGORYLEVEL2,
R.CATEGORYLEVEL3=SRC.CATEGORYLEVEL3,
R.GROUPTRANSFERS=SRC.GROUPTRANSFERS,
R.INCLUDEFORSLA=SRC.INCLUDEFORSLA,
R.LASTMODIFIEDDATE=SRC.LASTMODIFIEDDATE,
R.IS_CRITICAL_SITUATION=SRC.IS_CRITICAL_SITUATION,
R.REFERENCEPROBLEMNO=SRC.REFERENCEPROBLEMNO,
R.REOPEN=SRC.REOPEN,
R.RESOLVEDATLEVEL1=SRC.RESOLVEDATLEVEL1,
R.URGENCY=SRC.URGENCY,
R.SUMMARY=SRC.SUMMARY,
R.CREATORNAME=SRC.CREATORNAME,
R.CLASSOFSERVICE=SRC.CLASSOFSERVICE,
R.BUSINESS_PLATFORM=SRC.BUSINESS_PLATFORM,
R.INAMSSCOPE=SRC.INAMSSCOPE,
R.RESOLUTIONELAPSEDTIME=SRC.RESOLUTIONELAPSEDTIME,
R.CLOSEDTIME=SRC.CLOSEDTIME,
R.CLOSED_BY=SRC.CLOSED_BY,
R.CREATEDBYLEVEL1=SRC.CREATEDBYLEVEL1,
R.DESCRIPTION=SRC.DESCRIPTION,
R.DURATION=SRC.DURATION,
R.ELAPSEDTIME=SRC.ELAPSEDTIME,
R.ISKNOWNERRROR=SRC.ISKNOWNERRROR,
R.ISPROACTIVETICKET=SRC.ISPROACTIVETICKET,
R.ISRESOLVEDUSINGKEDB=SRC.ISRESOLVEDUSINGKEDB,
R.ISROOTCAUSEIDENTIFIED=SRC.ISROOTCAUSEIDENTIFIED,
R.ISTICKETESCALATED=SRC.ISTICKETESCALATED,
R.LASTMODIFIEDBY=SRC.LASTMODIFIEDBY,
R.OWNER=SRC.OWNER,
R.PLANNEDENDDATE=SRC.PLANNEDENDDATE,
R.PLANNEDSTARTDATE=SRC.PLANNEDSTARTDATE,
R.REFERENCE_CHANGE_ID=SRC.REFERENCE_CHANGE_ID,
R.REOPENCOUNT=SRC.REOPENCOUNT,
R.RESOLUTIONDESCRIPTION=SRC.RESOLUTIONDESCRIPTION,
R.SLADUE=SRC.SLADUE,
R.SLAMET=SRC.SLAMET,
R.SOURCE=SRC.SOURCE,
R.WORKAROUND=SRC.WORKAROUND,
R.SUBPROGRAMID=SRC.SUBPROGRAMID,
R.ACTIVE=SRC.ACTIVE,
R.APPROVALSTATUS=SRC.APPROVALSTATUS,
R.PTASK=SRC.PTASK,
R.UPDATES=SRC.UPDATES,
R.STAGE=SRC.STAGE,
R.EXCEPTIONS=SRC.EXCEPTIONS,
R.PROBLEM=SRC.PROBLEM,
R.CORRELATION_ID=SRC.CORRELATION_ID,
R.WORK_END=SRC.WORK_END,
R.WORK_START=SRC.WORK_START,
R.LASTUPDATEDBYDATALOAD = @date,
R.COMMENTS=SRC.COMMENTS,
R.DATAFEEDREFERENCE=SRC.DATAFEEDREFERENCE,
R.ISTICKETOPEN=SRC.ISTICKETOPEN,
R.u_closure_category_tier_1=SRC.u_closure_category_tier_1,
R.u_closure_category_tier_2=SRC.u_closure_category_tier_2,
R.u_closure_category_tier_3=SRC.u_closure_category_tier_3,
R.u_coordinator=SRC.u_coordinator,
R.u_coordinator_group=SRC.u_coordinator_group,
R.u_external_reference=SRC.u_external_reference,
R.u_external_reference_state=SRC.u_external_reference_state,
R.u_incident_type=SRC.u_incident_type,
R.u_investigation_driver=SRC.u_investigation_driver,
R.u_investigation_suspended=SRC.u_investigation_suspended,
R.u_known_error_state=SRC.u_known_error_state,
R.u_operational_category_tier_1=SRC.u_operational_category_tier_1,
R.u_operational_category_tier_2=SRC.u_operational_category_tier_2,
R.u_operational_category_tier_3=SRC.u_operational_category_tier_3,
R.u_product_category_tier_1=SRC.u_product_category_tier_1,
R.u_product_category_tier_2=SRC.u_product_category_tier_2,
R.u_product_category_tier_3=SRC.u_product_category_tier_3,
R.u_reference_number=SRC.u_reference_number,
R.u_remedy_change_class=SRC.u_remedy_change_class,
R.u_remedy_change_reason=SRC.u_remedy_change_reason,
R.u_remedy_change_template=SRC.u_remedy_change_template,
R.u_remedy_coordinator_group=SRC.u_remedy_coordinator_group,
R.u_remedy_last_modified_by=SRC.u_remedy_last_modified_by,
R.u_remedy_last_modified_date=SRC.u_remedy_last_modified_date,
R.u_remedy_reported_date=SRC.u_remedy_reported_date,
R.u_remedy_responded_date=SRC.u_remedy_responded_date,
R.u_remedy_submitted_by=SRC.u_remedy_submitted_by,
R.u_remedy_submit_date=SRC.u_remedy_submit_date,
R.u_reported_source=SRC.u_reported_source,
R.u_requested_by=SRC.u_requested_by,
R.u_resolution_category_tier_1=SRC.u_resolution_category_tier_1,
R.u_resolution_category_tier_2=SRC.u_resolution_category_tier_2,
R.u_resolution_category_tier_3=SRC.u_resolution_category_tier_3,
R.u_root_cause_detail=SRC.u_root_cause_detail,
R.u_resolution_notes=SRC.u_resolution_notes

WHEN NOT MATCHED THEN
	INSERT (
AMSPROGRAMID,
TICKETID,
TICKETTYPE,
PRIORITY,
STATUS,
TICKETSUBMITDATE,
RESOLVEDDATE,
RESOLVERGROUP,
ASSIGNEENAME,
TOWERNAME,
PHASE,
RELATEDINCIDENTCOUNT,
ROOTCAUSEIDENTIFIEDDATE,
CLOSURECODE,
CAUSECODE,
REOPENTIME,
AFFECTEDCICOUNT,
IMPACT,
SOLUTIONIDENTIFIEDDATE,
FUNCTIONNAME,
STATUSREASON,
REGION,
CATEGORYLEVEL1,
CATEGORYLEVEL2,
CATEGORYLEVEL3,
GROUPTRANSFERS,
INCLUDEFORSLA,
LASTMODIFIEDDATE,
IS_CRITICAL_SITUATION,
REFERENCEPROBLEMNO,
REOPEN,
RESOLVEDATLEVEL1,
URGENCY,
SUMMARY,
CREATORNAME,
CLASSOFSERVICE,
BUSINESS_PLATFORM,
INAMSSCOPE,
RESOLUTIONELAPSEDTIME,
CLOSEDTIME,
CLOSED_BY,
CREATEDBYLEVEL1,
DESCRIPTION,
DURATION,
ELAPSEDTIME,
ISKNOWNERRROR,
ISPROACTIVETICKET,
ISRESOLVEDUSINGKEDB,
ISROOTCAUSEIDENTIFIED,
ISTICKETESCALATED,
LASTMODIFIEDBY,
OWNER,
PLANNEDENDDATE,
PLANNEDSTARTDATE,
REFERENCE_CHANGE_ID,
REOPENCOUNT,
RESOLUTIONDESCRIPTION,
SLADUE,
SLAMET,
SOURCE,
WORKAROUND,
SUBPROGRAMID,
ACTIVE,
APPROVALSTATUS,
PTASK,
UPDATES,
STAGE,
EXCEPTIONS,
PROBLEM,
CORRELATION_ID,
WORK_END,
WORK_START,
LASTUPDATEDBYDATALOAD,
COMMENTS,
DATAFEEDREFERENCE,
ISTICKETOPEN,
u_closure_category_tier_1,
u_closure_category_tier_2,
u_closure_category_tier_3,
u_coordinator,
u_coordinator_group,
u_external_reference,
u_external_reference_state,
u_incident_type,
u_investigation_driver,
u_investigation_suspended,
u_known_error_state,
u_operational_category_tier_1,
u_operational_category_tier_2,
u_operational_category_tier_3,
u_product_category_tier_1,
u_product_category_tier_2,
u_product_category_tier_3,
u_reference_number,
u_remedy_change_class,
u_remedy_change_reason,
u_remedy_change_template,
u_remedy_coordinator_group,
u_remedy_last_modified_by,
u_remedy_last_modified_date,
u_remedy_reported_date,
u_remedy_responded_date,
u_remedy_submitted_by,
u_remedy_submit_date,
u_reported_source,
u_requested_by,
u_resolution_category_tier_1,
u_resolution_category_tier_2,
u_resolution_category_tier_3,
u_root_cause_detail,
u_resolution_notes
)
VALUES(
'PRG-RMS',
SRC.TICKETID,
SRC.TICKETTYPE,
SRC.PRIORITY,
SRC.STATUS,
SRC.TICKETSUBMITDATE,
SRC.RESOLVEDDATE,
SRC.RESOLVERGROUP,
SRC.ASSIGNEENAME,
SRC.TOWERNAME,
SRC.PHASE,
SRC.RELATEDINCIDENTCOUNT,
SRC.ROOTCAUSEIDENTIFIEDDATE,
SRC.CLOSURECODE,
SRC.CAUSECODE,
SRC.REOPENTIME,
SRC.AFFECTEDCICOUNT,
SRC.IMPACT,
SRC.SOLUTIONIDENTIFIEDDATE,
SRC.FUNCTIONNAME,
SRC.STATUSREASON,
SRC.REGION,
SRC.CATEGORYLEVEL1,
SRC.CATEGORYLEVEL2,
SRC.CATEGORYLEVEL3,
SRC.GROUPTRANSFERS,
SRC.INCLUDEFORSLA,
SRC.LASTMODIFIEDDATE,
SRC.IS_CRITICAL_SITUATION,
SRC.REFERENCEPROBLEMNO,
SRC.REOPEN,
SRC.RESOLVEDATLEVEL1,
SRC.URGENCY,
SRC.SUMMARY,
SRC.CREATORNAME,
SRC.CLASSOFSERVICE,
SRC.BUSINESS_PLATFORM,
SRC.INAMSSCOPE,
SRC.RESOLUTIONELAPSEDTIME,
SRC.CLOSEDTIME,
SRC.CLOSED_BY,
SRC.CREATEDBYLEVEL1,
SRC.DESCRIPTION,
SRC.DURATION,
SRC.ELAPSEDTIME,
SRC.ISKNOWNERRROR,
SRC.ISPROACTIVETICKET,
SRC.ISRESOLVEDUSINGKEDB,
SRC.ISROOTCAUSEIDENTIFIED,
SRC.ISTICKETESCALATED,
SRC.LASTMODIFIEDBY,
SRC.OWNER,
SRC.PLANNEDENDDATE,
SRC.PLANNEDSTARTDATE,
SRC.REFERENCE_CHANGE_ID,
SRC.REOPENCOUNT,
SRC.RESOLUTIONDESCRIPTION,
SRC.SLADUE,
SRC.SLAMET,
SRC.SOURCE,
SRC.WORKAROUND,
SRC.SUBPROGRAMID,
SRC.ACTIVE,
SRC.APPROVALSTATUS,
SRC.PTASK,
SRC.UPDATES,
SRC.STAGE,
SRC.EXCEPTIONS,
SRC.PROBLEM,
SRC.CORRELATION_ID,
SRC.WORK_END,
SRC.WORK_START,
@date,
SRC.COMMENTS,
SRC.DATAFEEDREFERENCE,
SRC.ISTICKETOPEN,
SRC.u_closure_category_tier_1,
SRC.u_closure_category_tier_2,
SRC.u_closure_category_tier_3,
SRC.u_coordinator,
SRC.u_coordinator_group,
SRC.u_external_reference,
SRC.u_external_reference_state,
SRC.u_incident_type,
SRC.u_investigation_driver,
SRC.u_investigation_suspended,
SRC.u_known_error_state,
SRC.u_operational_category_tier_1,
SRC.u_operational_category_tier_2,
SRC.u_operational_category_tier_3,
SRC.u_product_category_tier_1,
SRC.u_product_category_tier_2,
SRC.u_product_category_tier_3,
SRC.u_reference_number,
SRC.u_remedy_change_class,
SRC.u_remedy_change_reason,
SRC.u_remedy_change_template,
SRC.u_remedy_coordinator_group,
SRC.u_remedy_last_modified_by,
SRC.u_remedy_last_modified_date,
SRC.u_remedy_reported_date,
SRC.u_remedy_responded_date,
SRC.u_remedy_submitted_by,
SRC.u_remedy_submit_date,
SRC.u_reported_source,
SRC.u_requested_by,
SRC.u_resolution_category_tier_1,
SRC.u_resolution_category_tier_2,
SRC.u_resolution_category_tier_3,
SRC.u_root_cause_detail,
SRC.u_resolution_notes
);
	
END

GO
