USE [DBO_SILVER]
GO
/****** Object:  StoredProcedure [dbo].[CHG_DATA_MOVEMENT_FROM_B2B_TO_IMAGE]    Script Date: 4/30/2020 1:07:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Preetham M
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[CHG_DATA_MOVEMENT_FROM_B2B_TO_IMAGE]
	
AS
DECLARE @L_LASTUPDATEDBYDATALOAD datetime2;
	DECLARE @L_ACCOUNT varchar(30);
	DECLARE @L_LOADTYPE varchar(50);
BEGIN


	SET NOCOUNT ON;

	SET @L_ACCOUNT = 'RMS';

    -- Selecting Last updated load date
	SELECT  @L_LASTUPDATEDBYDATALOAD=LASTUPDATEDBYDATALOAD 
	FROM [DBO_SILVER].[DBO].[LOAD_MASTER]
	WHERE MODULE='CHANGE';

MERGE INTO [DBO_SILVER].[dbo].[CHANGE_MASTER_IMAGE] as R
	USING (
SELECT DISTINCT
		'PRG-RMS'				AS  AMSPROGRAMID,
        change_request.number	AS  CHANGE_ID, 
		'REQUEST FOR CHANGE'    AS  TICKETTYPE, 
		CASE 
			WHEN ( change_request.dv_priority  = 'P1 – Critical') THEN  'Priority-1'
			WHEN ( change_request.dv_priority  = 'P2 - High') THEN 'Priority-2'
     		WHEN ( change_request.dv_priority  = 'P3 - Medium') THEN 'Priority-3'
			WHEN ( change_request.dv_priority  = 'P4 - Low') THEN 'Priority-4'
		ELSE 'Priority-5'
		END									AS  CHANGE_PRIORITY,
		change_request.type					AS  CHANGE_CATEGORY,
		change_request.opened_at    		AS 	REQUESTED_DATE, 
		change_request.dv_state				AS	CHANGE_STATUS,
		change_request.dv_assignment_group	AS 	CHANGE_IMPLEMENTERGROUP, 
		change_request.closed_at           	AS	CR_CLOSURE_DATE, 
		change_request.dv_assigned_to		AS	CHANGE_IMPLEMENTER, 
		change_request.dv_cmdb_ci           AS	ASSET_NAME, 
		change_request.category             AS	CATEGORY, 
		change_request.dv_business_service  AS	TYPE, 
		change_request.dv_cmdb_ci           AS	ITEM, 
		change_request.dv_risk				AS  CHANGE_RISK_LEVEL,
		change_request.dv_impact			AS  CHANGE_IMPACT, 
		change_request.dv_location			AS	REGION, 
		change_request.start_date			AS	PLANNED_START, 
		change_request.end_date				AS	PLANNED_END, 
		change_request.work_start			AS	ACTUAL_START, 
		change_request.work_end				AS	ACTUAL_END, 
		NULL								AS	PLANNED_EFFORT, 
		NULL								AS	ACTUAL_EFFORT, 
		NULL								AS	ISCR_REWORK, 
		NULL								AS	REWORK_EFFORT, 
		change_request.dv_parent			AS	REFERENCE_TICKET_NO, 
		NULL								AS  ISCR_REOPEN,
		NULL								AS	ISCR_ROLLEDBACK, 
       '1'									AS  ISCR_INAMSSCOPE,
     --change_request.sys_updated_on 		AS  TICKETMODIFIEDON,     	
	   0									AS 	ISCR_PENDINGAPPROVAL, 
       NULL									AS  ISCR_SCHEDULEMET, 
       NULL         						AS 	ISCR_COSTMET, 
       NULL        							AS 	ISCR_EFFORTMET, 
       NULL         			            AS 	ISCR_FAILEDINPROD, 
       NULL         			            AS 	ISCR_UNAUTHORIZEDCHANGE, 
       NULL         						AS 	ISCR_LEADTOINCIDENTS, 
       change_request.dv_opened_by			AS 	CHANGE_REQUESTER,
	   NULL									AS  CHANGE_APPROVER,
       NULL        							AS  CHANGE_IMPLEMENTERTOWERNAME, 
       CASE 
              WHEN(change_request.type = 'emergency') THEN 1      
              ELSE 0 
       END									AS  ISCR_EMERGENCY,
	   CASE 
              WHEN(change_request.dv_risk = 'High') THEN 1      
              ELSE 0 
       END									AS 	ISCR_HI_RISK,
	   NULL									AS  IMPLEMENTOR_WIPRO_EMAIL,
	   NULL									AS  IMPLEMENTOR_CUST_EMAIL,
       NULL									AS  CHANGE_REASON, 
       change_request.short_description 	AS 	BUSINESS_JUSTIFICATION, 
       change_request.dv_location			AS	SITE, 
	   NULL									AS	DEPARTMENT,
       NULL									AS	APPROVED_DATE, 
       NULL									AS	APPROVAL_SUBMIT_DATE, 
       NULL									AS	CHANGE_REQUESTERGROUP, 
       NULL									AS	CHANGE_REQUESTERTOWER, 
       NULL									AS	CR_PROCESS_AUDIT_SCORE, 
       NULL									AS	PROCESSCOMPLIANCESCORE, 
       NULL									AS	APPROVAL, 
       NULL									AS	BUSINESS_PLATFORM, 
       change_request.close_notes			AS	CLOSURECODE, 
       NULL									AS	SUBPROGRAMID, 
       change_request.description			AS	CHANGE_DESCRIPTION, 
       NULL									AS	DATAFEEDREFERENCE, 
       NULL									AS	DATALOADAUDITLOG, 
       change_request.comments              AS	COMMENTS, 
       NULL									AS 	ISCR_OPEN, 
       change_request.active				AS 	ISRECORDACTIVE, 
       NULL									AS 	LASTUPDATEDBYDATALOAD, 
       NULL									AS 	MANUALCRTICKETUPDATE, 
	   change_request.implementation_plan	AS	implementation_plan, 
	   change_request.risk_impact_analysis	AS	risk_impact_analysis,
	   change_request.backout_plan			AS	backout_plan,
	   change_request.test_plan				AS	test_plan,
	   change_request.u_affected_user		AS  u_affected_user,
       change_request.u_approvers			AS	u_approvers,
       change_request.u_business_urgent		AS	u_business_urgent,
	   change_request.dv_u_change_coordinator	AS	u_change_coordinator,
	   change_request.u_closure_category_tier_1		AS  u_closure_category_tier_1,
	   change_request.u_closure_category_tier_2		AS	u_closure_category_tier_2,
	   change_request.u_closure_category_tier_3		AS  u_closure_category_tier_3
FROM   dbo_bronze.dbo.change change_request
) AS SRC
ON ( R.CHANGE_ID=SRC.CHANGE_ID)

WHEN MATCHED THEN UPDATE SET
R.AMSPROGRAMID = 'PRG-RMS',
R.CHANGE_ID=SRC.CHANGE_ID,
R.TICKETTYPE=SRC.TICKETTYPE,
R.CHANGE_PRIORITY=SRC.CHANGE_PRIORITY,
R.CHANGE_CATEGORY=SRC.CHANGE_CATEGORY,
R.REQUESTED_DATE=SRC.REQUESTED_DATE,
R.CHANGE_STATUS=SRC.CHANGE_STATUS,
R.CHANGE_IMPLEMENTERGROUP=SRC.CHANGE_IMPLEMENTERGROUP,
R.CR_CLOSURE_DATE=SRC.CR_CLOSURE_DATE,
R.CHANGE_IMPLEMENTER=SRC.CHANGE_IMPLEMENTER,
R.ASSET_NAME=SRC.ASSET_NAME,
R.CATEGORY=SRC.CATEGORY,
R.TYPE=SRC.TYPE,
R.ITEM=SRC.ITEM,
R.CHANGE_RISK_LEVEL=SRC.CHANGE_RISK_LEVEL,
R.CHANGE_IMPACT=SRC.CHANGE_IMPACT,
R.REGION=SRC.REGION,
R.PLANNED_START=SRC.PLANNED_START,
R.PLANNED_END=SRC.PLANNED_END,
R.ACTUAL_START=SRC.ACTUAL_START,
R.ACTUAL_END=SRC.ACTUAL_END,
R.PLANNED_EFFORT=SRC.PLANNED_EFFORT,
R.ACTUAL_EFFORT=SRC.ACTUAL_EFFORT,
R.ISCR_REWORK=SRC.ISCR_REWORK,
R.REWORK_EFFORT=SRC.REWORK_EFFORT,
R.REFERENCE_TICKET_NO=SRC.REFERENCE_TICKET_NO,
R.ISCR_REOPEN=SRC.ISCR_REOPEN,
R.ISCR_ROLLEDBACK=SRC.ISCR_ROLLEDBACK,
R.ISCR_INAMSSCOPE=SRC.ISCR_INAMSSCOPE,
R.ISCR_PENDINGAPPROVAL=SRC.ISCR_PENDINGAPPROVAL,
R.ISCR_SCHEDULEMET=SRC.ISCR_SCHEDULEMET,
R.ISCR_COSTMET=SRC.ISCR_COSTMET,
R.ISCR_EFFORTMET=SRC.ISCR_EFFORTMET,
R.ISCR_FAILEDINPROD=SRC.ISCR_FAILEDINPROD,
R.ISCR_UNAUTHORIZEDCHANGE=SRC.ISCR_UNAUTHORIZEDCHANGE,
R.ISCR_LEADTOINCIDENTS=SRC.ISCR_LEADTOINCIDENTS,
R.CHANGE_REQUESTER=SRC.CHANGE_REQUESTER,
R.CHANGE_APPROVER=SRC.CHANGE_APPROVER,
R.CHANGE_IMPLEMENTERTOWERNAME=SRC.CHANGE_IMPLEMENTERTOWERNAME,
R.ISCR_EMERGENCY=SRC.ISCR_EMERGENCY,
R.ISCR_HI_RISK=SRC.ISCR_HI_RISK,
R.IMPLEMENTOR_WIPRO_EMAIL=SRC.IMPLEMENTOR_WIPRO_EMAIL,
R.IMPLEMENTOR_CUST_EMAIL=SRC.IMPLEMENTOR_CUST_EMAIL,
R.CHANGE_REASON=SRC.CHANGE_REASON,
R.BUSINESS_JUSTIFICATION=SRC.BUSINESS_JUSTIFICATION,
R.SITE=SRC.SITE,
R.DEPARTMENT=SRC.DEPARTMENT,
R.APPROVED_DATE=SRC.APPROVED_DATE,
R.APPROVAL_SUBMIT_DATE=SRC.APPROVAL_SUBMIT_DATE,
R.CHANGE_REQUESTERGROUP=SRC.CHANGE_REQUESTERGROUP,
R.CHANGE_REQUESTERTOWER=SRC.CHANGE_REQUESTERTOWER,
R.CR_PROCESS_AUDIT_SCORE=SRC.CR_PROCESS_AUDIT_SCORE,
R.PROCESSCOMPLIANCESCORE=SRC.PROCESSCOMPLIANCESCORE,
R.APPROVAL=SRC.APPROVAL,
R.BUSINESS_PLATFORM=SRC.BUSINESS_PLATFORM,
R.CLOSURECODE=SRC.CLOSURECODE,
R.SUBPROGRAMID=SRC.SUBPROGRAMID,
R.CHANGE_DESCRIPTION=SRC.CHANGE_DESCRIPTION,
R.DATAFEEDREFERENCE=SRC.DATAFEEDREFERENCE,
R.DATALOADAUDITLOG=SRC.DATALOADAUDITLOG,
R.COMMENTS=SRC.COMMENTS,
R.ISCR_OPEN=SRC.ISCR_OPEN,
R.ISRECORDACTIVE=SRC.ISRECORDACTIVE,
R.LASTUPDATEDBYDATALOAD =getdate(),
R.MANUALCRTICKETUPDATE=SRC.MANUALCRTICKETUPDATE,
R.implementation_plan=SRC.implementation_plan,
R.risk_impact_analysis=SRC.risk_impact_analysis,
R.backout_plan=SRC.backout_plan,
R.test_plan=SRC.test_plan,
R.u_affected_user=SRC.u_affected_user,
R.u_approvers=SRC.u_approvers,
R.u_business_urgent=SRC.u_business_urgent,
R.u_change_coordinator=SRC.u_change_coordinator,
R.u_closure_category_tier_1=SRC.u_closure_category_tier_1,
R.u_closure_category_tier_2=SRC.u_closure_category_tier_2,
R.u_closure_category_tier_3=SRC.u_closure_category_tier_3


WHEN NOT MATCHED THEN
	INSERT (
AMSPROGRAMID,
CHANGE_ID,
TICKETTYPE,
CHANGE_PRIORITY,
CHANGE_CATEGORY,
REQUESTED_DATE,
CHANGE_STATUS,
CHANGE_IMPLEMENTERGROUP,
CR_CLOSURE_DATE,
CHANGE_IMPLEMENTER,
ASSET_NAME,
CATEGORY,
TYPE,
ITEM,
CHANGE_RISK_LEVEL,
CHANGE_IMPACT,
REGION,
PLANNED_START,
PLANNED_END,
ACTUAL_START,
ACTUAL_END,
PLANNED_EFFORT,
ACTUAL_EFFORT,
ISCR_REWORK,
REWORK_EFFORT,
REFERENCE_TICKET_NO,
ISCR_REOPEN,
ISCR_ROLLEDBACK,
ISCR_INAMSSCOPE,
ISCR_PENDINGAPPROVAL,
ISCR_SCHEDULEMET,
ISCR_COSTMET,
ISCR_EFFORTMET,
ISCR_FAILEDINPROD,
ISCR_UNAUTHORIZEDCHANGE,
ISCR_LEADTOINCIDENTS,
CHANGE_REQUESTER,
CHANGE_APPROVER,
CHANGE_IMPLEMENTERTOWERNAME,
ISCR_EMERGENCY,
ISCR_HI_RISK,
IMPLEMENTOR_WIPRO_EMAIL,
IMPLEMENTOR_CUST_EMAIL,
CHANGE_REASON,
BUSINESS_JUSTIFICATION,
SITE,
DEPARTMENT,
APPROVED_DATE,
APPROVAL_SUBMIT_DATE,
CHANGE_REQUESTERGROUP,
CHANGE_REQUESTERTOWER,
CR_PROCESS_AUDIT_SCORE,
PROCESSCOMPLIANCESCORE,
APPROVAL,
BUSINESS_PLATFORM,
CLOSURECODE,
SUBPROGRAMID,
CHANGE_DESCRIPTION,
DATAFEEDREFERENCE,
DATALOADAUDITLOG,
COMMENTS,
ISCR_OPEN,
ISRECORDACTIVE,
LASTUPDATEDBYDATALOAD,
MANUALCRTICKETUPDATE,
implementation_plan,
risk_impact_analysis,
backout_plan,
test_plan,
u_affected_user,
u_approvers,
u_business_urgent,
u_change_coordinator,
u_closure_category_tier_1,
u_closure_category_tier_2,
u_closure_category_tier_3
)

VALUES(
'PRG-RMS',
SRC.CHANGE_ID,
SRC.TICKETTYPE,
SRC.CHANGE_PRIORITY,
SRC.CHANGE_CATEGORY,
SRC.REQUESTED_DATE,
SRC.CHANGE_STATUS,
SRC.CHANGE_IMPLEMENTERGROUP,
SRC.CR_CLOSURE_DATE,
SRC.CHANGE_IMPLEMENTER,
SRC.ASSET_NAME,
SRC.CATEGORY,
SRC.TYPE,
SRC.ITEM,
SRC.CHANGE_RISK_LEVEL,
SRC.CHANGE_IMPACT,
SRC.REGION,
SRC.PLANNED_START,
SRC.PLANNED_END,
SRC.ACTUAL_START,
SRC.ACTUAL_END,
SRC.PLANNED_EFFORT,
SRC.ACTUAL_EFFORT,
SRC.ISCR_REWORK,
SRC.REWORK_EFFORT,
SRC.REFERENCE_TICKET_NO,
SRC.ISCR_REOPEN,
SRC.ISCR_ROLLEDBACK,
SRC.ISCR_INAMSSCOPE,
SRC.ISCR_PENDINGAPPROVAL,
SRC.ISCR_SCHEDULEMET,
SRC.ISCR_COSTMET,
SRC.ISCR_EFFORTMET,
SRC.ISCR_FAILEDINPROD,
SRC.ISCR_UNAUTHORIZEDCHANGE,
SRC.ISCR_LEADTOINCIDENTS,
SRC.CHANGE_REQUESTER,
SRC.CHANGE_APPROVER,
SRC.CHANGE_IMPLEMENTERTOWERNAME,
SRC.ISCR_EMERGENCY,
SRC.ISCR_HI_RISK,
SRC.IMPLEMENTOR_WIPRO_EMAIL,
SRC.IMPLEMENTOR_CUST_EMAIL,
SRC.CHANGE_REASON,
SRC.BUSINESS_JUSTIFICATION,
SRC.SITE,
SRC.DEPARTMENT,
SRC.APPROVED_DATE,
SRC.APPROVAL_SUBMIT_DATE,
SRC.CHANGE_REQUESTERGROUP,
SRC.CHANGE_REQUESTERTOWER,
SRC.CR_PROCESS_AUDIT_SCORE,
SRC.PROCESSCOMPLIANCESCORE,
SRC.APPROVAL,
SRC.BUSINESS_PLATFORM,
SRC.CLOSURECODE,
SRC.SUBPROGRAMID,
SRC.CHANGE_DESCRIPTION,
SRC.DATAFEEDREFERENCE,
SRC.DATALOADAUDITLOG,
SRC.COMMENTS,
SRC.ISCR_OPEN,
SRC.ISRECORDACTIVE,
getdate(),
SRC.MANUALCRTICKETUPDATE,
SRC.implementation_plan,
SRC.risk_impact_analysis,
SRC.backout_plan,
SRC.test_plan,
SRC.u_affected_user,
SRC.u_approvers,
SRC.u_business_urgent,
SRC.u_change_coordinator,
SRC.u_closure_category_tier_1,
SRC.u_closure_category_tier_2,
SRC.u_closure_category_tier_3
);

END
GO
