USE [DBO_SILVER]
GO
/****** Object:  StoredProcedure [dbo].[TKT_TRANSFORMATIONS]    Script Date: 4/30/2020 1:07:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Preetham M
-- Description:	Ticket Transformations
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[TKT_TRANSFORMATIONS] 
AS
  DECLARE @L_LASTUPDATEDBYDATALOAD date;
	DECLARE @L_ACCOUNT varchar(30);
	DECLARE @L_LOADTYPE varchar(50);
BEGIN
	
	SET NOCOUNT ON;
	SET @L_ACCOUNT = 'RMS';


/*    -- Selecting Last updated load date
	
	SELECT  @L_LASTUPDATEDBYDATALOAD=LASTUPDATEDBYDATALOAD 
	FROM [DBO_SILVER].[DBO].[LOAD_MASTER]
	
*/	


update TICKET_MASTER_IMAGE
		set priority=(case 
		when priority='P1 - Critical' then 'Priority-1'
		when priority='P2 - High' then 'Priority-2'
		when priority='P3 - Moderate' then 'Priority-3'
		when priority='P3 - Medium' then 'Priority-3'
		when priority='P4 - Low' then 'Priority-4'
		else priority
		end);
		

		update TICKET_MASTER_IMAGE
		set STATUS=(case 
		when STATUS in ('New','Open') then 'New'
		when STATUS in ('Assigned','In Progress','Work in Progress') then 'In Progress'
		when STATUS in ('Awaiting Problem','On Hold') then 'Pending'
		when STATUS='Resolved' then 'Resolved'
		when STATUS in ('Closed','Closed Complete','Closed Incomplete','Closed Skipped') then 'Closed' 
		when STATUS='Canceled' then 'Cancelled'
		else STATUS
		end);

		update TICKET_MASTER_IMAGE
		set ISTICKETOPEN=1 where STATUS in ('New','In Progress','Pending') 
		
		update TICKET_MASTER_IMAGE
		set ISTICKETOPEN=0 where status not in('New','In Progress','Pending','Cancelled') 
		
 
------------------------------------------------
--TicketAge Bucket
------------------------------------------------
/* UPDATE for all open tickets....*/

UPDATE TICKET_MASTER_IMAGE
set TICKET_BUCKET = (case
   when TICKETAGE between 0 and 1.49 then '00-01'
   when TICKETAGE between 1.5 and 3.49 then '02-03'
   when TICKETAGE between 3.5 and  7.49 then '04-07'
   when TICKETAGE between 7.5 and 15.49 then '08-15'
   when TICKETAGE between 15.5 and  30.49 then '16-30'
   when TICKETAGE between 30.5 and 60.49 then '31-60'
   when TICKETAGE between 60.5 and 90.49 then '61-90'
   else '90-ABOVE'
end)
where  ISTICKETOPEN = 1; 


END
GO
