USE [DBO_BRONZE]
GO
/****** Object:  Table [dbo].[SC_TASK]    Script Date: 4/30/2020 1:05:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SC_TASK](
	[number] [varchar](100) NULL,
	[sys_id] [varchar](100) NULL,
	[dv_priority] [varchar](100) NULL,
	[dv_state] [varchar](100) NULL,
	[opened_at] [datetime2](7) NULL,
	[dv_assigned_to] [varchar](200) NULL,
	[dv_assignment_group] [varchar](200) NULL,
	[dv_u_status_reason] [varchar](200) NULL,
	[u_operational_category_tier_1] [varchar](150) NULL,
	[u_operational_category_tier_2] [varchar](150) NULL,
	[u_operational_category_tier_3] [varchar](150) NULL,
	[u_product_category_tier_1] [varchar](150) NULL,
	[u_product_category_tier_2] [varchar](150) NULL,
	[u_product_category_tier_3] [varchar](150) NULL,
	[dv_cmdb_ci] [varchar](100) NULL,
	[dv_location] [varchar](100) NULL,
	[dv_impact] [varchar](100) NULL,
	[dv_urgency] [varchar](100) NULL,
	[dv_parent] [varchar](100) NULL,
	[sys_updated_by] [varchar](200) NULL,
	[sys_updated_on] [datetime2](7) NULL,
	[dv_contact_type] [varchar](100) NULL,
	[dv_caller_id] [varchar](200) NULL,
	[description] [varchar](max) NULL,
	[short_description] [varchar](max) NULL,
	[closed_at] [datetime2](7) NULL,
	[dv_opened_by] [varchar](200) NULL,
	[dv_resolved_by] [varchar](200) NULL,
	[active] [decimal](2, 0) NULL,
	[u_resolution_category_tier_1] [varchar](200) NULL,
	[u_resolution_category_tier_2] [varchar](200) NULL,
	[u_resolution_category_tier_3] [varchar](200) NULL,
	[close_notes] [varchar](max) NULL,
	[u_closure_category_tier_1] [varchar](200) NULL,
	[u_closure_category_tier_2] [varchar](200) NULL,
	[u_closure_category_tier_3] [varchar](200) NULL,
	[business_duration] [varchar](200) NULL,
	[dv_business_service] [varchar](200) NULL,
	[dv_company] [varchar](200) NULL,
	[correlation_display] [varchar](200) NULL,
	[correlation_id] [varchar](200) NULL,
	[due_date] [datetime2](7) NULL,
	[dv_escalation] [varchar](200) NULL,
	[expected_start] [datetime2](7) NULL,
	[made_sla] [varchar](200) NULL,
	[order] [varchar](200) NULL,
	[sla_due] [datetime2](7) NULL,
	[user_input] [varchar](200) NULL,
	[u_external_reference] [varchar](200) NULL,
	[u_external_reference_state] [varchar](200) NULL,
	[u_incident_type] [varchar](200) NULL,
	[u_reference_number] [varchar](250) NULL,
	[u_remedy_change_class] [varchar](300) NULL,
	[u_remedy_change_reason] [varchar](300) NULL,
	[u_remedy_change_template] [varchar](300) NULL,
	[u_remedy_coordinator_group] [varchar](300) NULL,
	[u_remedy_last_modified_by] [varchar](200) NULL,
	[u_remedy_last_modified_date] [datetime2](7) NULL,
	[u_remedy_reported_date] [datetime2](7) NULL,
	[u_remedy_responded_date] [datetime2](7) NULL,
	[u_remedy_submitted_by] [varchar](200) NULL,
	[u_remedy_submit_date] [datetime2](7) NULL,
	[dv_u_reported_source] [varchar](200) NULL,
	[u_requested_by] [varchar](200) NULL,
	[u_send_to_remedy] [varchar](200) NULL,
	[u_vendor_group] [varchar](200) NULL,
	[u_vendor_ticket_number] [varchar](200) NULL,
	[u_wipro_ticket_number] [varchar](200) NULL,
	[dv_u_work_type] [varchar](200) NULL,
	[work_end] [varchar](200) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
