USE [DBO_BRONZE]
GO
/****** Object:  Table [dbo].[CHANGE]    Script Date: 4/30/2020 1:05:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHANGE](
	[number] [varchar](100) NULL,
	[sys_id] [varchar](100) NULL,
	[dv_priority] [varchar](50) NULL,
	[type] [varchar](100) NULL,
	[opened_at] [datetime2](7) NULL,
	[dv_state] [varchar](50) NULL,
	[dv_assignment_group] [varchar](100) NULL,
	[closed_at] [datetime2](7) NULL,
	[dv_assigned_to] [varchar](100) NULL,
	[dv_cmdb_ci] [varchar](100) NULL,
	[category] [varchar](100) NULL,
	[dv_business_service] [varchar](100) NULL,
	[dv_risk] [varchar](100) NULL,
	[dv_location] [varchar](100) NULL,
	[start_date] [datetime2](7) NULL,
	[end_date] [datetime2](7) NULL,
	[work_start] [datetime2](7) NULL,
	[work_end] [datetime2](7) NULL,
	[dv_parent] [varchar](100) NULL,
	[dv_opened_by] [varchar](150) NULL,
	[close_notes] [varchar](max) NULL,
	[description] [varchar](max) NULL,
	[short_description] [varchar](max) NULL,
	[comments] [varchar](max) NULL,
	[dv_impact] [varchar](50) NULL,
	[dv_urgency] [varchar](50) NULL,
	[sys_updated_on] [datetime2](7) NULL,
	[active] [varchar](50) NULL,
	[implementation_plan] [varchar](max) NULL,
	[risk_impact_analysis] [varchar](max) NULL,
	[backout_plan] [varchar](max) NULL,
	[test_plan] [varchar](max) NULL,
	[u_affected_user] [varchar](200) NULL,
	[u_approvers] [varchar](200) NULL,
	[u_business_urgent] [varchar](100) NULL,
	[dv_u_change_coordinator] [varchar](200) NULL,
	[u_closure_category_tier_1] [varchar](200) NULL,
	[u_closure_category_tier_2] [varchar](200) NULL,
	[u_closure_category_tier_3] [varchar](200) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
