USE [DBO_BRONZE]
GO
/****** Object:  Table [dbo].[PROBLEM]    Script Date: 4/30/2020 1:05:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROBLEM](
	[number] [nvarchar](100) NOT NULL,
	[sys_id] [nvarchar](150) NULL,
	[dv_assignment_group] [varchar](200) NULL,
	[dv_state] [varchar](50) NULL,
	[dv_assigned_to] [nvarchar](100) NULL,
	[opened_at] [datetime2](7) NULL,
	[dv_opened_by] [nvarchar](150) NULL,
	[dv_priority] [varchar](100) NULL,
	[dv_urgency] [varchar](100) NULL,
	[related_incidents] [numeric](10, 0) NULL,
	[u_root_cause_found] [datetime2](7) NULL,
	[u_resolution_code] [nvarchar](max) NULL,
	[dv_u_root_cause_code] [nvarchar](max) NULL,
	[dv_impact] [nvarchar](100) NULL,
	[dv_location] [nvarchar](100) NULL,
	[dv_cmdb_ci] [nvarchar](100) NULL,
	[reassignment_count] [numeric](10, 0) NULL,
	[sys_updated_on] [datetime2](7) NULL,
	[dv_parent] [nvarchar](100) NULL,
	[short_description] [nvarchar](max) NULL,
	[business_service] [nvarchar](200) NULL,
	[closed_at] [datetime2](7) NULL,
	[dv_closed_by] [nvarchar](150) NULL,
	[description] [nvarchar](max) NULL,
	[calendar_duration] [datetime2](7) NULL,
	[known_error] [numeric](1, 0) NULL,
	[knowledge] [numeric](1, 0) NULL,
	[sys_updated_by] [nvarchar](150) NULL,
	[rfc] [nvarchar](100) NULL,
	[close_notes] [nvarchar](max) NULL,
	[sla_due] [datetime2](7) NULL,
	[contact_type] [nvarchar](50) NULL,
	[work_around] [nvarchar](max) NULL,
	[active] [int] NULL,
	[approval] [nvarchar](100) NULL,
	[sys_mod_count] [nvarchar](400) NULL,
	[comments] [nvarchar](max) NULL,
	[u_closure_category_tier_1] [nvarchar](200) NULL,
	[u_closure_category_tier_2] [nvarchar](200) NULL,
	[u_closure_category_tier_3] [nvarchar](200) NULL,
	[u_coordinator] [nvarchar](100) NULL,
	[u_coordinator_group] [nvarchar](100) NULL,
	[u_external_reference] [nvarchar](100) NULL,
	[u_external_reference_state] [nvarchar](100) NULL,
	[u_incident_type] [nvarchar](100) NULL,
	[u_investigation_driver] [nvarchar](100) NULL,
	[u_investigation_suspended] [nvarchar](100) NULL,
	[u_known_error_state] [nvarchar](100) NULL,
	[u_operational_category_tier_1] [nvarchar](200) NULL,
	[u_operational_category_tier_2] [nvarchar](200) NULL,
	[u_operational_category_tier_3] [nvarchar](200) NULL,
	[u_product_category_tier_1] [nvarchar](200) NULL,
	[u_product_category_tier_2] [nvarchar](200) NULL,
	[u_product_category_tier_3] [nvarchar](200) NULL,
	[u_reference_number] [nvarchar](100) NULL,
	[u_remedy_change_class] [nvarchar](150) NULL,
	[u_remedy_change_reason] [nvarchar](200) NULL,
	[u_remedy_change_template] [nvarchar](150) NULL,
	[u_remedy_coordinator_group] [nvarchar](150) NULL,
	[u_remedy_last_modified_by] [nvarchar](150) NULL,
	[u_remedy_last_modified_date] [datetime2](7) NULL,
	[u_remedy_reported_date] [datetime2](7) NULL,
	[u_remedy_responded_date] [datetime2](7) NULL,
	[u_remedy_submitted_by] [nvarchar](100) NULL,
	[u_remedy_submit_date] [datetime2](7) NULL,
	[u_reported_source] [nvarchar](100) NULL,
	[u_requested_by] [nvarchar](100) NULL,
	[u_resolution_category_tier_1] [nvarchar](150) NULL,
	[u_resolution_category_tier_2] [nvarchar](150) NULL,
	[u_resolution_category_tier_3] [nvarchar](150) NULL,
	[u_root_cause_detail] [varchar](8000) NULL,
	[u_resolution_notes] [varchar](8000) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
