USE [DBO_BRONZE]
GO
/****** Object:  Table [dbo].[BULK_LOAD_MASTER]    Script Date: 4/30/2020 1:05:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BULK_LOAD_MASTER](
	[MODULE] [nvarchar](50) NULL,
	[LOADDATE] [datetime] NULL
) ON [PRIMARY]
GO
