USE [DBO_BRONZE]
GO
/****** Object:  Table [dbo].[TASK_SLA]    Script Date: 4/30/2020 1:05:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASK_SLA](
	[SYS_ID] [varchar](100) NOT NULL,
	[DV_TASK] [varchar](100) NULL,
	[SYS_CREATED_ON] [datetime2](7) NULL,
	[STAGE] [varchar](100) NULL,
	[DV_SLA] [varchar](200) NULL,
	[HAS_BREACHED] [bit] NULL,
	[TIME_LEFT] [datetime2](7) NULL,
	[business_time_left] [datetime2](7) NULL,
	[DURATION] [datetime2](7) NULL,
	[BUSINESS_DURATION] [datetime2](7) NULL,
	[PERCENTAGE] [decimal](38, 2) NULL,
	[BUSINESS_PERCENTAGE] [decimal](38, 2) NULL,
	[sys_updated_on] [datetime2](7) NULL,
	[active] [varchar](50) NULL,
	[end_time] [datetime2](7) NULL,
	[start_time] [datetime2](7) NULL,
	[planned_end_time] [datetime2](7) NULL
) ON [PRIMARY]
GO
