USE [DBO_BRONZE]
GO
/****** Object:  StoredProcedure [dbo].[PROBLEM_DATA_SYNC]    Script Date: 4/30/2020 1:05:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PROBLEM_DATA_SYNC]
AS
BEGIN

SET NOCOUNT ON;

DECLARE @INC VARCHAR(max); 
DECLARE @load_date datetime2; 
DECLARE @load_date_to datetime2;

select @load_date = Max(sys_updated_on) FROM [dbo].[PROBLEM];
PRINT '@load_date' 
PRINT @load_date
set @load_date_to = dateadd(dd,-1,@load_date)
PRINT '@load_date_to' 
PRINT @load_date_to

SET @INC='select * from openquery(RMSLS,''select number,
sys_id,
dv_assignment_group,
dv_state,
dv_assigned_to,
opened_at,
dv_opened_by,
dv_priority,
dv_urgency,
related_incidents,
u_root_cause_found,
u_resolution_code,
dv_u_root_cause_code,
dv_impact,
dv_location,
dv_cmdb_ci,
reassignment_count,
sys_updated_on,
dv_parent,
short_description,
dv_business_service,
closed_at,
dv_closed_by,
description,
calendar_duration,
known_error,
knowledge,
sys_updated_by,
dv_rfc,
close_notes,
sla_due,
contact_type,
work_around,
active,
approval,
sys_mod_count,
comments,
dv_u_closure_category_tier_1,
dv_u_closure_category_tier_2,
dv_u_closure_category_tier_3,
dv_u_coordinator,
dv_u_coordinator_group,
u_external_reference,
u_external_reference_state,
u_incident_type,
u_investigation_driver,
u_investigation_suspended,
u_known_error_state,
dv_u_operational_category_tier_1,
dv_u_operational_category_tier_2,
dv_u_operational_category_tier_3,
dv_u_product_category_tier_1,
dv_u_product_category_tier_2,
dv_u_product_category_tier_3,
u_reference_number,
u_remedy_change_class,
u_remedy_change_reason,
u_remedy_change_template,
u_remedy_coordinator_group,
u_remedy_last_modified_by,
u_remedy_last_modified_date,
u_remedy_reported_date,
u_remedy_responded_date,
u_remedy_submitted_by,
u_remedy_submit_date,
u_reported_source,
u_requested_by,
dv_u_resolution_category_tier_1,
dv_u_resolution_category_tier_2,
dv_u_resolution_category_tier_3,
cast(u_root_cause_detail as varchar(8000))  u_root_cause_detail,
cast(u_resolution_notes as varchar(8000))  u_resolution_notes
from problem 
where opened_at > ''''2019-02-01 00:00:01.0000000'''' and sys_updated_on >= ''''' 
          + Cast(@load_date_to AS VARCHAR) + ''''' '')'; 




CREATE TABLE #temp_table 
  ( 
[number] [nvarchar](100) NOT NULL,
[sys_id] [nvarchar](150) NULL,
[dv_assignment_group] [varchar](200) NULL,
[dv_state] [varchar](50) NULL,
[dv_assigned_to] [nvarchar](100) NULL,
[opened_at] [datetime2] NULL,
[dv_opened_by] [nvarchar](150) NULL,
[dv_priority] [varchar](100) NULL,
[dv_urgency] [varchar](100) NULL,
[related_incidents] [numeric](10, 0) NULL,
[u_root_cause_found] [datetime2] NULL,
[u_resolution_code] [nvarchar](max) NULL,
[dv_u_root_cause_code] [nvarchar](max) NULL,
[dv_impact] [nvarchar](100) NULL,
[dv_location] [nvarchar](100) NULL,
[dv_cmdb_ci] [nvarchar](100) NULL,
[reassignment_count] [numeric](10, 0) NULL,
[sys_updated_on] [datetime2] NULL,
[dv_parent] [nvarchar](100) NULL,
[short_description] [nvarchar](max) NULL,
[business_service] [nvarchar](200) NULL,
[closed_at] [datetime2] NULL,
[dv_closed_by] [nvarchar](150) NULL,
[description] [nvarchar](max) NULL,
[calendar_duration][datetime2] NULL,
[known_error] [numeric](1, 0) NULL,
[knowledge] [numeric](1, 0) NULL,
[sys_updated_by] [nvarchar](150) NULL,
[rfc] [nvarchar](100) NULL,
[close_notes] [nvarchar](max) NULL,
[sla_due] [datetime2] NULL,
[contact_type] [nvarchar](50) NULL,
[work_around] [nvarchar](max) NULL,
[active] [int] NULL,
[approval] [nvarchar](100) NULL,
[sys_mod_count] [nvarchar](400) NULL,
[comments] [nvarchar](max) NULL,
[u_closure_category_tier_1] [nvarchar](200) NULL,
[u_closure_category_tier_2] [nvarchar](200) NULL,
[u_closure_category_tier_3] [nvarchar](200) NULL,
[u_coordinator] [nvarchar](100) NULL,
[u_coordinator_group] [nvarchar](100) NULL,
[u_external_reference] [nvarchar](100) NULL,
[u_external_reference_state] [nvarchar](100) NULL,
[u_incident_type] [nvarchar](100) NULL,
[u_investigation_driver] [nvarchar](100) NULL,
[u_investigation_suspended] [nvarchar](100) NULL,
[u_known_error_state] [nvarchar](100) NULL,
[u_operational_category_tier_1] [nvarchar](200) NULL,
[u_operational_category_tier_2] [nvarchar](200) NULL,
[u_operational_category_tier_3] [nvarchar](200) NULL,
[u_product_category_tier_1] [nvarchar](200) NULL,
[u_product_category_tier_2] [nvarchar](200) NULL,
[u_product_category_tier_3] [nvarchar](200) NULL,
[u_reference_number] [nvarchar](100) NULL,
[u_remedy_change_class] [nvarchar](150) NULL,
[u_remedy_change_reason] [nvarchar](200) NULL,
[u_remedy_change_template] [nvarchar](150) NULL,
[u_remedy_coordinator_group] [nvarchar](150) NULL,
[u_remedy_last_modified_by] [nvarchar](150) NULL,
[u_remedy_last_modified_date] [datetime2] NULL,
[u_remedy_reported_date] [datetime2] NULL,
[u_remedy_responded_date] [datetime2] NULL,
[u_remedy_submitted_by] [nvarchar](100) NULL,
[u_remedy_submit_date] [datetime2] NULL,
[u_reported_source] [nvarchar](100) NULL,
[u_requested_by] [nvarchar](100) NULL,
[u_resolution_category_tier_1] [nvarchar](150) NULL,
[u_resolution_category_tier_2] [nvarchar](150) NULL,
[u_resolution_category_tier_3] [nvarchar](150) NULL,
[u_root_cause_detail][varchar](8000) NULL,
[u_resolution_notes][varchar](8000) NULL
   ) ON [PRIMARY] 

INSERT INTO #temp_table 
EXEC(@INC) 


MERGE INTO dbo.[PROBLEM] a
using(select  number,
sys_id,
dv_assignment_group,
dv_state,
dv_assigned_to,
opened_at,
dv_opened_by,
dv_priority,
dv_urgency,
related_incidents,
u_root_cause_found,
u_resolution_code,
dv_u_root_cause_code,
dv_impact,
dv_location,
dv_cmdb_ci,
reassignment_count,
sys_updated_on,
dv_parent,
short_description,
business_service,
closed_at,
dv_closed_by,
description,
calendar_duration,
known_error,
knowledge,
sys_updated_by,
rfc,
close_notes,
sla_due,
contact_type,
work_around,
active,
approval,
sys_mod_count,
comments,
u_closure_category_tier_1,
u_closure_category_tier_2,
u_closure_category_tier_3,
u_coordinator,
u_coordinator_group,
u_external_reference,
u_external_reference_state,
u_incident_type,
u_investigation_driver,
u_investigation_suspended,
u_known_error_state,
u_operational_category_tier_1,
u_operational_category_tier_2,
u_operational_category_tier_3,
u_product_category_tier_1,
u_product_category_tier_2,
u_product_category_tier_3,
u_reference_number,
u_remedy_change_class,
u_remedy_change_reason,
u_remedy_change_template,
u_remedy_coordinator_group,
u_remedy_last_modified_by,
u_remedy_last_modified_date,
u_remedy_reported_date,
u_remedy_responded_date,
u_remedy_submitted_by,
u_remedy_submit_date,
u_reported_source,
u_requested_by,
u_resolution_category_tier_1,
u_resolution_category_tier_2,
u_resolution_category_tier_3,
u_root_cause_detail,
u_resolution_notes
      FROM   #temp_table) b
ON (a.NUMBER = b.NUMBER) 
WHEN matched THEN 
  UPDATE SET 
    a.sys_id=b.sys_id,
a.dv_assignment_group=b.dv_assignment_group,
a.dv_state=b.dv_state,
a.dv_assigned_to=b.dv_assigned_to,
a.opened_at=b.opened_at,
a.dv_opened_by=b.dv_opened_by,
a.dv_priority=b.dv_priority,
a.dv_urgency=b.dv_urgency,
a.related_incidents=b.related_incidents,
a.u_root_cause_found=b.u_root_cause_found,
a.u_resolution_code=b.u_resolution_code,
a.dv_u_root_cause_code=b.dv_u_root_cause_code,
a.dv_impact=b.dv_impact,
a.dv_location=b.dv_location,
a.dv_cmdb_ci=b.dv_cmdb_ci,
a.reassignment_count=b.reassignment_count,
a.sys_updated_on=b.sys_updated_on,
a.dv_parent=b.dv_parent,
a.short_description=b.short_description,
a.business_service=b.business_service,
a.closed_at=b.closed_at,
a.dv_closed_by=b.dv_closed_by,
a.description=b.description,
a.calendar_duration=b.calendar_duration,
a.known_error=b.known_error,
a.knowledge=b.knowledge,
a.sys_updated_by=b.sys_updated_by,
a.rfc=b.rfc,
a.close_notes=b.close_notes,
a.sla_due=b.sla_due,
a.contact_type=b.contact_type,
a.work_around=b.work_around,
a.active=b.active,
a.approval=b.approval,
a.sys_mod_count=b.sys_mod_count,
a.comments=b.comments,
a.u_closure_category_tier_1=b.u_closure_category_tier_1,
a.u_closure_category_tier_2=b.u_closure_category_tier_2,
a.u_closure_category_tier_3=b.u_closure_category_tier_3,
a.u_coordinator=b.u_coordinator,
a.u_coordinator_group=b.u_coordinator_group,
a.u_external_reference=b.u_external_reference,
a.u_external_reference_state=b.u_external_reference_state,
a.u_incident_type=b.u_incident_type,
a.u_investigation_driver=b.u_investigation_driver,
a.u_investigation_suspended=b.u_investigation_suspended,
a.u_known_error_state=b.u_known_error_state,
a.u_operational_category_tier_1=b.u_operational_category_tier_1,
a.u_operational_category_tier_2=b.u_operational_category_tier_2,
a.u_operational_category_tier_3=b.u_operational_category_tier_3,
a.u_product_category_tier_1=b.u_product_category_tier_1,
a.u_product_category_tier_2=b.u_product_category_tier_2,
a.u_product_category_tier_3=b.u_product_category_tier_3,
a.u_reference_number=b.u_reference_number,
a.u_remedy_change_class=b.u_remedy_change_class,
a.u_remedy_change_reason=b.u_remedy_change_reason,
a.u_remedy_change_template=b.u_remedy_change_template,
a.u_remedy_coordinator_group=b.u_remedy_coordinator_group,
a.u_remedy_last_modified_by=b.u_remedy_last_modified_by,
a.u_remedy_last_modified_date=b.u_remedy_last_modified_date,
a.u_remedy_reported_date=b.u_remedy_reported_date,
a.u_remedy_responded_date=b.u_remedy_responded_date,
a.u_remedy_submitted_by=b.u_remedy_submitted_by,
a.u_remedy_submit_date=b.u_remedy_submit_date,
a.u_reported_source=b.u_reported_source,
a.u_requested_by=b.u_requested_by,
a.u_resolution_category_tier_1=b.u_resolution_category_tier_1,
a.u_resolution_category_tier_2=b.u_resolution_category_tier_2,
a.u_resolution_category_tier_3=b.u_resolution_category_tier_3,
a.u_root_cause_detail=b.u_root_cause_detail,
a.u_resolution_notes=b.u_resolution_notes
    
    WHEN NOT matched THEN 
  INSERT  (number,
sys_id,
dv_assignment_group,
dv_state,
dv_assigned_to,
opened_at,
dv_opened_by,
dv_priority,
dv_urgency,
related_incidents,
u_root_cause_found,
u_resolution_code,
dv_u_root_cause_code,
dv_impact,
dv_location,
dv_cmdb_ci,
reassignment_count,
sys_updated_on,
dv_parent,
short_description,
business_service,
closed_at,
dv_closed_by,
description,
calendar_duration,
known_error,
knowledge,
sys_updated_by,
rfc,
close_notes,
sla_due,
contact_type,
work_around,
active,
approval,
sys_mod_count,
comments,
u_closure_category_tier_1,
u_closure_category_tier_2,
u_closure_category_tier_3,
u_coordinator,
u_coordinator_group,
u_external_reference,
u_external_reference_state,
u_incident_type,
u_investigation_driver,
u_investigation_suspended,
u_known_error_state,
u_operational_category_tier_1,
u_operational_category_tier_2,
u_operational_category_tier_3,
u_product_category_tier_1,
u_product_category_tier_2,
u_product_category_tier_3,
u_reference_number,
u_remedy_change_class,
u_remedy_change_reason,
u_remedy_change_template,
u_remedy_coordinator_group,
u_remedy_last_modified_by,
u_remedy_last_modified_date,
u_remedy_reported_date,
u_remedy_responded_date,
u_remedy_submitted_by,
u_remedy_submit_date,
u_reported_source,
u_requested_by,
u_resolution_category_tier_1,
u_resolution_category_tier_2,
u_resolution_category_tier_3,
u_root_cause_detail,
u_resolution_notes) 
  VALUES(
     b.number,
b.sys_id,
b.dv_assignment_group,
b.dv_state,
b.dv_assigned_to,
b.opened_at,
b.dv_opened_by,
b.dv_priority,
b.dv_urgency,
b.related_incidents,
b.u_root_cause_found,
b.u_resolution_code,
b.dv_u_root_cause_code,
b.dv_impact,
b.dv_location,
b.dv_cmdb_ci,
b.reassignment_count,
b.sys_updated_on,
b.dv_parent,
b.short_description,
b.business_service,
b.closed_at,
b.dv_closed_by,
b.description,
b.calendar_duration,
b.known_error,
b.knowledge,
b.sys_updated_by,
b.rfc,
b.close_notes,
b.sla_due,
b.contact_type,
b.work_around,
b.active,
b.approval,
b.sys_mod_count,
b.comments,
b.u_closure_category_tier_1,
b.u_closure_category_tier_2,
b.u_closure_category_tier_3,
b.u_coordinator,
b.u_coordinator_group,
b.u_external_reference,
b.u_external_reference_state,
b.u_incident_type,
b.u_investigation_driver,
b.u_investigation_suspended,
b.u_known_error_state,
b.u_operational_category_tier_1,
b.u_operational_category_tier_2,
b.u_operational_category_tier_3,
b.u_product_category_tier_1,
b.u_product_category_tier_2,
b.u_product_category_tier_3,
b.u_reference_number,
b.u_remedy_change_class,
b.u_remedy_change_reason,
b.u_remedy_change_template,
b.u_remedy_coordinator_group,
b.u_remedy_last_modified_by,
b.u_remedy_last_modified_date,
b.u_remedy_reported_date,
b.u_remedy_responded_date,
b.u_remedy_submitted_by,
b.u_remedy_submit_date,
b.u_reported_source,
b.u_requested_by,
b.u_resolution_category_tier_1,
b.u_resolution_category_tier_2,
b.u_resolution_category_tier_3,
b.u_root_cause_detail,
b.u_resolution_notes); 


DROP TABLE #temp_table

END
GO
