USE [DBO_BRONZE]
GO
/****** Object:  StoredProcedure [dbo].[BULKLOAD_SC_TASK_DATA_SYNC]    Script Date: 4/30/2020 1:05:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[BULKLOAD_SC_TASK_DATA_SYNC]
AS
BEGIN

SET NOCOUNT ON;

DECLARE @INC VARCHAR(max); 
DECLARE @load_date_frm datetime2; 
DECLARE @load_date_to datetime2;

SELECT @load_date_frm = dateadd(dd,-1,'2019-02-01 ');
SELECT @load_date_to = dateadd(dd,2,@load_date_frm);

PRINT '@load_date_frm' 
PRINT @load_date_frm
PRINT '@load_date_to' 
PRINT @load_date_to

while (@load_date_to <= getdate())
begin

 SET @INC= 'select * from openquery(RMSLS,''select 
number,
sys_id,
dv_priority,
dv_state,
opened_at,
dv_assigned_to,
dv_assignment_group,
dv_u_status_reason,
u_operational_category_tier_1,
u_operational_category_tier_2,
u_operational_category_tier_3,
u_product_category_tier_1,
u_product_category_tier_2,
u_product_category_tier_3,
dv_cmdb_ci,
dv_location,
dv_impact,
dv_urgency,
dv_parent,
sys_updated_by,
sys_updated_on,
dv_contact_type,
dv_u_caller_id,
description,
short_description,
closed_at,
dv_opened_by,
dv_closed_by,
active,
dv_u_resolution_category_tier_1,
dv_u_resolution_category_tier_2,
dv_u_resolution_category_tier_3,
close_notes,
u_closure_category_tier_1,
u_closure_category_tier_2,
u_closure_category_tier_3,
business_duration,
dv_business_service,
dv_company,
correlation_display,
correlation_id,
due_date,
dv_escalation,
expected_start,
made_sla,
[order],
sla_due,
user_input,
u_external_reference,
u_external_reference_state,
u_incident_type,
u_reference_number,
u_remedy_change_class,
u_remedy_change_reason,
dv_u_remedy_change_template,
u_remedy_coordinator_group,
u_remedy_last_modified_by,
u_remedy_last_modified_date,
u_remedy_reported_date,
u_remedy_responded_date,
u_remedy_submitted_by,
u_remedy_submit_date,
dv_u_reported_source,
u_requested_by,
u_send_to_remedy,
u_vendor_group,
u_vendor_ticket_number,
u_wipro_ticket_number,
dv_u_work_type,
work_end
from sc_task 
 where opened_at >= ''''2019-02-01 00:00:01.0000000'''' and sys_updated_on >= ''''' 
  + Cast(@load_date_frm AS VARCHAR) + ''''' and sys_updated_on <= '''''  + Cast(@load_date_to AS VARCHAR) + ''''' '')'; 


PRINT '@load_date_frm' 
PRINT @load_date_frm
PRINT '@load_date_to' 
PRINT @load_date_to
print @INC

CREATE TABLE #temp_table(
[number] [varchar](100) NULL,
[sys_id] [varchar](100) NULL,
[dv_priority] [varchar](100) NULL,
[dv_state] [varchar](100) NULL,
[opened_at] [datetime2](7) NULL,
[dv_assigned_to] [varchar](200) NULL,
[dv_assignment_group] [varchar](200) NULL,
[dv_u_status_reason] [varchar](200) NULL,
[u_operational_category_tier_1] [varchar](150) NULL,
[u_operational_category_tier_2] [varchar](150) NULL,
[u_operational_category_tier_3] [varchar](150) NULL,
[u_product_category_tier_1] [varchar](150) NULL,
[u_product_category_tier_2] [varchar](150) NULL,
[u_product_category_tier_3] [varchar](150) NULL,
[dv_cmdb_ci] [varchar](100) NULL,
[dv_location] [varchar](100) NULL,
[dv_impact] [varchar](100) NULL,
[dv_urgency] [varchar](100) NULL,
[dv_parent] [varchar](100) NULL,
[sys_updated_by] [varchar](200) NULL,
[sys_updated_on] [datetime2](7) NULL,
[dv_contact_type] [varchar](100) NULL,
[dv_caller_id] [varchar](200) NULL,
[description] [varchar](max) NULL,
[short_description] [varchar](max) NULL,
[closed_at] [datetime2](7) NULL,
[dv_opened_by] [varchar](200) NULL,
[dv_resolved_by] [varchar](200) NULL,
[active] [decimal](2, 0) NULL,
[u_resolution_category_tier_1] [varchar](200) NULL,
[u_resolution_category_tier_2] [varchar](200) NULL,
[u_resolution_category_tier_3] [varchar](200) NULL,
[close_notes] [varchar](max) NULL,
[u_closure_category_tier_1] [varchar](200) NULL,
[u_closure_category_tier_2] [varchar](200) NULL,
[u_closure_category_tier_3] [varchar](200) NULL,
[business_duration] [varchar](200) NULL,
[dv_business_service] [varchar](200) NULL,
[dv_company] [varchar](200) NULL,
[correlation_display] [varchar](200) NULL,
[correlation_id] [varchar](200) NULL,
[due_date] [datetime2](7) NULL,
[dv_escalation] [varchar](200) NULL,
[expected_start] [varchar](200) NULL,
[made_sla] [varchar](200) NULL,
[order] [varchar](200) NULL,
[sla_due] [datetime2](7) NULL,
[user_input] [varchar](200) NULL,
[u_external_reference] [varchar](200) NULL,
[u_external_reference_state] [varchar](200) NULL,
[u_incident_type] [varchar](200) NULL,
[u_reference_number] [varchar](250) NULL,
[u_remedy_change_class] [varchar](300) NULL,
[u_remedy_change_reason] [varchar](300) NULL,
[u_remedy_change_template] [varchar](300) NULL,
[u_remedy_coordinator_group] [varchar](300) NULL,
[u_remedy_last_modified_by] [varchar](200) NULL,
[u_remedy_last_modified_date] [datetime2](7) NULL,
[u_remedy_reported_date] [datetime2](7) NULL,
[u_remedy_responded_date] [datetime2](7) NULL,
[u_remedy_submitted_by] [varchar](200) NULL,
[u_remedy_submit_date] [datetime2](7) NULL,
[dv_u_reported_source] [varchar](200) NULL,
[u_requested_by] [varchar](200) NULL,
[u_send_to_remedy] [varchar](200) NULL,
[u_vendor_group] [varchar](200) NULL,
[u_vendor_ticket_number] [varchar](200) NULL,
[u_wipro_ticket_number] [varchar](200) NULL,
[dv_u_work_type] [varchar](200) NULL,
[work_end] [varchar](200) NULL

) ON [PRIMARY]

INSERT INTO #temp_table 
EXEC(@INC) 

PRINT 'after insert' 


MERGE INTO [dbo].[SC_TASK] a 
using(select number,
sys_id,
dv_priority,
dv_state,
opened_at,
dv_assigned_to,
dv_assignment_group,
dv_u_status_reason,
u_operational_category_tier_1,
u_operational_category_tier_2,
u_operational_category_tier_3,
u_product_category_tier_1,
u_product_category_tier_2,
u_product_category_tier_3,
dv_cmdb_ci,
dv_location,
dv_impact,
dv_urgency,
dv_parent,
sys_updated_by,
sys_updated_on,
dv_contact_type,
dv_caller_id,
description,
short_description,
closed_at,
dv_opened_by,
dv_resolved_by,
active,
u_resolution_category_tier_1,
u_resolution_category_tier_2,
u_resolution_category_tier_3,
close_notes,
u_closure_category_tier_1,
u_closure_category_tier_2,
u_closure_category_tier_3,
business_duration,
dv_business_service,
dv_company,
correlation_display,
correlation_id,
due_date,
dv_escalation,
expected_start,
made_sla,
[order],
sla_due,
user_input,
u_external_reference,
u_external_reference_state,
u_incident_type,
u_reference_number,
u_remedy_change_class,
u_remedy_change_reason,
u_remedy_change_template,
u_remedy_coordinator_group,
u_remedy_last_modified_by,
u_remedy_last_modified_date,
u_remedy_reported_date,
u_remedy_responded_date,
u_remedy_submitted_by,
u_remedy_submit_date,
dv_u_reported_source,
u_requested_by,
u_send_to_remedy,
u_vendor_group,
u_vendor_ticket_number,
u_wipro_ticket_number,
dv_u_work_type,
work_end

  FROM   #temp_table ) b 
ON ( a.number = b.number ) 
WHEN matched THEN 
  UPDATE SET 
a.number=b.number,
a.sys_id=b.sys_id,
a.dv_priority=b.dv_priority,
a.dv_state=b.dv_state,
a.opened_at=b.opened_at,
a.dv_assigned_to=b.dv_assigned_to,
a.dv_assignment_group=b.dv_assignment_group,
a.dv_u_status_reason=b.dv_u_status_reason,
a.u_operational_category_tier_1=b.u_operational_category_tier_1,
a.u_operational_category_tier_2=b.u_operational_category_tier_2,
a.u_operational_category_tier_3=b.u_operational_category_tier_3,
a.u_product_category_tier_1=b.u_product_category_tier_1,
a.u_product_category_tier_2=b.u_product_category_tier_2,
a.u_product_category_tier_3=b.u_product_category_tier_3,
a.dv_cmdb_ci=b.dv_cmdb_ci,
a.dv_location=b.dv_location,
a.dv_impact=b.dv_impact,
a.dv_urgency=b.dv_urgency,
a.dv_parent=b.dv_parent,
a.sys_updated_by=b.sys_updated_by,
a.sys_updated_on=b.sys_updated_on,
a.dv_contact_type=b.dv_contact_type,
a.dv_caller_id=b.dv_caller_id,
a.description=b.description,
a.short_description=b.short_description,
a.closed_at=b.closed_at,
a.dv_opened_by=b.dv_opened_by,
a.dv_resolved_by=b.dv_resolved_by,
a.active=b.active,
a.u_resolution_category_tier_1=b.u_resolution_category_tier_1,
a.u_resolution_category_tier_2=b.u_resolution_category_tier_2,
a.u_resolution_category_tier_3=b.u_resolution_category_tier_3,
a.close_notes=b.close_notes,
a.u_closure_category_tier_1=b.u_closure_category_tier_1,
a.u_closure_category_tier_2=b.u_closure_category_tier_2,
a.u_closure_category_tier_3=b.u_closure_category_tier_3,
a.business_duration=b.business_duration,
a.dv_business_service=b.dv_business_service,
a.dv_company=b.dv_company,
a.correlation_display=b.correlation_display,
a.correlation_id=b.correlation_id,
a.due_date=b.due_date,
a.dv_escalation=b.dv_escalation,
a.expected_start=b.expected_start,
a.made_sla=b.made_sla,
a.[order]=b.[order],
a.sla_due=b.sla_due,
a.user_input=b.user_input,
a.u_external_reference=b.u_external_reference,
a.u_external_reference_state=b.u_external_reference_state,
a.u_incident_type=b.u_incident_type,
a.u_reference_number=b.u_reference_number,
a.u_remedy_change_class=b.u_remedy_change_class,
a.u_remedy_change_reason=b.u_remedy_change_reason,
a.u_remedy_change_template=b.u_remedy_change_template,
a.u_remedy_coordinator_group=b.u_remedy_coordinator_group,
a.u_remedy_last_modified_by=b.u_remedy_last_modified_by,
a.u_remedy_last_modified_date=b.u_remedy_last_modified_date,
a.u_remedy_reported_date=b.u_remedy_reported_date,
a.u_remedy_responded_date=b.u_remedy_responded_date,
a.u_remedy_submitted_by=b.u_remedy_submitted_by,
a.u_remedy_submit_date=b.u_remedy_submit_date,
a.dv_u_reported_source=b.dv_u_reported_source,
a.u_requested_by=b.u_requested_by,
a.u_send_to_remedy=b.u_send_to_remedy,
a.u_vendor_group=b.u_vendor_group,
a.u_vendor_ticket_number=b.u_vendor_ticket_number,
a.u_wipro_ticket_number=b.u_wipro_ticket_number,
a.dv_u_work_type=b.dv_u_work_type,
a.work_end=b.work_end



WHEN NOT matched THEN 
  INSERT ( number,
sys_id,
dv_priority,
dv_state,
opened_at,
dv_assigned_to,
dv_assignment_group,
dv_u_status_reason,
u_operational_category_tier_1,
u_operational_category_tier_2,
u_operational_category_tier_3,
u_product_category_tier_1,
u_product_category_tier_2,
u_product_category_tier_3,
dv_cmdb_ci,
dv_location,
dv_impact,
dv_urgency,
dv_parent,
sys_updated_by,
sys_updated_on,
dv_contact_type,
dv_caller_id,
description,
short_description,
closed_at,
dv_opened_by,
dv_resolved_by,
active,
u_resolution_category_tier_1,
u_resolution_category_tier_2,
u_resolution_category_tier_3,
close_notes,
u_closure_category_tier_1,
u_closure_category_tier_2,
u_closure_category_tier_3,
business_duration,
dv_business_service,
dv_company,
correlation_display,
correlation_id,
due_date,
dv_escalation,
expected_start,
made_sla,
[order],
sla_due,
user_input,
u_external_reference,
u_external_reference_state,
u_incident_type,
u_reference_number,
u_remedy_change_class,
u_remedy_change_reason,
u_remedy_change_template,
u_remedy_coordinator_group,
u_remedy_last_modified_by,
u_remedy_last_modified_date,
u_remedy_reported_date,
u_remedy_responded_date,
u_remedy_submitted_by,
u_remedy_submit_date,
dv_u_reported_source,
u_requested_by,
u_send_to_remedy,
u_vendor_group,
u_vendor_ticket_number,
u_wipro_ticket_number,
dv_u_work_type,
work_end

)
  VALUES( b.number,
b.sys_id,
b.dv_priority,
b.dv_state,
b.opened_at,
b.dv_assigned_to,
b.dv_assignment_group,
b.dv_u_status_reason,
b.u_operational_category_tier_1,
b.u_operational_category_tier_2,
b.u_operational_category_tier_3,
b.u_product_category_tier_1,
b.u_product_category_tier_2,
b.u_product_category_tier_3,
b.dv_cmdb_ci,
b.dv_location,
b.dv_impact,
b.dv_urgency,
b.dv_parent,
b.sys_updated_by,
b.sys_updated_on,
b.dv_contact_type,
b.dv_caller_id,
b.description,
b.short_description,
b.closed_at,
b.dv_opened_by,
b.dv_resolved_by,
b.active,
b.u_resolution_category_tier_1,
b.u_resolution_category_tier_2,
b.u_resolution_category_tier_3,
b.close_notes,
b.u_closure_category_tier_1,
b.u_closure_category_tier_2,
b.u_closure_category_tier_3,
b.business_duration,
b.dv_business_service,
b.dv_company,
b.correlation_display,
b.correlation_id,
b.due_date,
b.dv_escalation,
b.expected_start,
b.made_sla,
b.[order],
b.sla_due,
b.user_input,
b.u_external_reference,
b.u_external_reference_state,
b.u_incident_type,
b.u_reference_number,
b.u_remedy_change_class,
b.u_remedy_change_reason,
b.u_remedy_change_template,
b.u_remedy_coordinator_group,
b.u_remedy_last_modified_by,
b.u_remedy_last_modified_date,
b.u_remedy_reported_date,
b.u_remedy_responded_date,
b.u_remedy_submitted_by,
b.u_remedy_submit_date,
b.dv_u_reported_source,
b.u_requested_by,
b.u_send_to_remedy,
b.u_vendor_group,
b.u_vendor_ticket_number,
b.u_wipro_ticket_number,
b.dv_u_work_type,
b.work_end

); 


  DROP TABLE #temp_table

  set @load_date_frm = @load_date_to
  set @load_date_to = dateadd(dd,2,@load_date_to)
  end

  END
GO
