USE [DBO_BRONZE]
GO
/****** Object:  StoredProcedure [dbo].[BULKLOAD_TASK_SLA_DATA_SYNC]    Script Date: 4/30/2020 1:05:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BULKLOAD_TASK_SLA_DATA_SYNC]
AS
BEGIN

SET NOCOUNT ON;

DECLARE @INC VARCHAR(max);
DECLARE @load_date datetime2;
DECLARE @load_date_frm datetime2; 
DECLARE @load_date_to datetime2;

SELECT @load_date = LOADDATE FROM BULK_LOAD_MASTER WHERE MODULE='TASK_SLA';
set @load_date_frm = dateadd(dd,-1,@load_date);
set @load_date_to = dateadd(dd,3,@load_date_frm);

PRINT '@load_date' 
PRINT @load_date
PRINT '@load_date_frm' 
PRINT @load_date_frm
PRINT '@load_date_to' 
PRINT @load_date_to

while (@load_date_to <= getdate())
begin

 SET @INC= 'select * from openquery(RMSLS,''select  sys_id,dv_task, sys_created_on, stage, dv_sla, has_breached, time_left, business_time_left, 
duration,business_duration,cast(percentage as decimal(38,2)) as percentage,cast(business_percentage as decimal(38,2)) as business_percentage,
sys_updated_on,active,end_time,start_time,planned_end_time from task_sla where sys_created_on > ''''2019-02-01 00:00:00.0000000'''' and sys_updated_on >= ''''' 
  + Cast(@load_date_frm AS VARCHAR) + ''''' and sys_updated_on <= '''''  + Cast(@load_date_to AS VARCHAR) + ''''' '')'; 

PRINT '@load_date_frm' 
PRINT @load_date_frm
PRINT '@load_date_to' 
PRINT @load_date_to
PRINT @INC

CREATE TABLE #temp_table 
  ( 
    [SYS_ID] [varchar](100) NOT NULL,
	[DV_TASK] [varchar](100) NULL,
	[SYS_CREATED_ON] [datetime2] NULL,
	[STAGE] [varchar](100) NULL,
	[DV_SLA] [varchar](200) NULL,
	[HAS_BREACHED] [bit] NULL,
	[TIME_LEFT] [datetime2] NULL,
	[business_time_left] [datetime2] NULL,
	[DURATION] [datetime2] NULL,
	[BUSINESS_DURATION] [datetime] NULL,
	[PERCENTAGE] [decimal](22, 4) NULL,
	[BUSINESS_PERCENTAGE] [decimal](22, 4) NULL,
	[sys_updated_on] [datetime2] NULL,
	[active] [varchar](50) NULL,
	[end_time] [datetime2] NULL,
	[start_time] [datetime2] NULL,
	[planned_end_time] [datetime2] NULL
  ) 
ON [PRIMARY] 

INSERT INTO #temp_table 
EXEC(@INC) 

PRINT 'after insert' 

MERGE INTO DBO.TASK_SLA a 
using(SELECT dv_task, sys_created_on, stage, dv_sla, has_breached, time_left, duration, business_duration, percentage,sys_updated_on,business_time_left,active,end_time, business_percentage, sys_id,start_time,planned_end_time
      FROM   #temp_table) b 
ON ( a.SYS_ID = b.SYS_ID ) 
WHEN matched THEN 
  UPDATE SET
             a.dv_task=b.dv_task, 
			 a.sys_created_on=b.sys_created_on, 
			 a.stage=b.stage, 
			 a.dv_sla=b.dv_sla, 
			 a.has_breached=b.has_breached, 
			 a.time_left=b.time_left, 
			 a.duration=b.duration, 
			 a.business_duration=b.business_duration, 
			 a.percentage=b.percentage,
			 a.sys_updated_on=b.sys_updated_on,
			 a.business_time_left=b.business_time_left,
			 a.active=b.active,
			 a.end_time=b.end_time, 
			 a.business_percentage=b.business_percentage, 
			 a.sys_id=b.sys_id,
			 a.start_time=b.start_time,
			 a.planned_end_time=b.planned_end_time
			 
WHEN NOT matched THEN 
  INSERT (dv_task, sys_created_on, stage, dv_sla, has_breached, time_left, duration, business_duration, percentage,sys_updated_on,business_time_left,active,end_time, business_percentage, sys_id,start_time,planned_end_time ) 
  VALUES( 
  b.DV_TASK, 
  b.SYS_CREATED_ON, 
  b.STAGE, 
  b.DV_SLA, 
  b.HAS_BREACHED, 
  b.TIME_LEFT, 
  b.DURATION, 
  b.BUSINESS_DURATION, 
  b.PERCENTAGE,
  b.sys_updated_on,
  b.business_time_left,
  b.active,
  b.end_time,
  b.BUSINESS_PERCENTAGE, 
  b.sys_id,
  b.start_time,
  b.planned_end_time
  ); 


  DROP TABLE #temp_table


  set @load_date_frm = @load_date_to
  set @load_date_to = dateadd(dd,3,@load_date_to)
  end

  END
GO
