USE [DBO_BRONZE]
GO
/****** Object:  StoredProcedure [dbo].[CHANGE_DATA_SYNC]    Script Date: 4/30/2020 1:05:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CHANGE_DATA_SYNC]
AS
BEGIN
SET NOCOUNT ON;


DECLARE @INC VARCHAR(max); 
DECLARE @load_date datetime2; 
DECLARE @load_date_to datetime2;

select @load_date = Max(sys_updated_on) FROM [dbo].[CHANGE];
PRINT '@load_date' 
PRINT @load_date
set @load_date_to = dateadd(dd,-1,@load_date)
PRINT '@load_date_to' 
PRINT @load_date_to


SET @INC= 'select * from openquery(RMSLS,''select cr.number,
cr.sys_id,
cr.dv_priority,
cr.type,
cr.opened_at,
cr.dv_state,
cr.dv_assignment_group,
cr.closed_at,
cr.dv_assigned_to,
cr.dv_cmdb_ci,
cr.dv_category,
cr.dv_business_service,
cr.dv_risk,
cr.dv_location,
cr.start_date,
cr.end_date,
cr.work_start,
cr.work_end,
cr.dv_parent,
cr.dv_opened_by,
cr.close_notes,
cr.description,
cr.short_description,
cr.comments,
cr.dv_impact,
cr.dv_urgency,
cr.sys_updated_on,
cr.active,
cr.implementation_plan,
cr.risk_impact_analysis,
cr.backout_plan,
cr.test_plan,
a.name as u_affected_user,
b.name as u_approvers,
cr.u_business_urgent,
cr.dv_u_change_coordinator,
cr.u_closure_category_tier_1,
cr.u_closure_category_tier_2,
cr.u_closure_category_tier_3
from change_request cr
left join sys_user a on cr.u_affected_user=a.SYS_ID
left join sys_user b on cr.u_affected_user=a.SYS_ID 
where cr.sys_updated_on >= ''''' 
          + Cast(@load_date_to AS VARCHAR) + ''''' '')'; 

PRINT 'After Set inc' 
PRINT @INC 
--DROP TABLE #temp_table

CREATE TABLE #temp_table(
[number] [varchar](100) NULL,
[sys_id] [varchar](100) NULL,
[dv_priority] [varchar](50) NULL,
[type] [varchar](100) NULL,
[opened_at] [datetime2](7) NULL,
[dv_state] [varchar](50) NULL,
[dv_assignment_group] [varchar](100) NULL,
[closed_at] [datetime2](7) NULL,
[dv_assigned_to] [varchar](100) NULL,
[dv_cmdb_ci] [varchar](100) NULL,
[category] [varchar](100) NULL,
[dv_business_service] [varchar](100) NULL,
[dv_risk] [varchar](100) NULL,
[dv_location] [varchar](100) NULL,
[start_date] [datetime2](7) NULL,
[end_date] [datetime2](7) NULL,
[work_start] [datetime2](7) NULL,
[work_end] [datetime2](7) NULL,
[dv_parent] [varchar](100) NULL,
[dv_opened_by] [varchar](150) NULL,
[close_notes] [varchar](max) NULL,
[description] [varchar](max) NULL,
[short_description] [varchar](max) NULL,
[comments] [varchar](max) NULL,
[dv_impact] [varchar](50) NULL,
[dv_urgency] [varchar](50) NULL,
[sys_updated_on] [datetime2](7) NULL,
[active] [varchar](50) NULL,
[implementation_plan] [varchar](max) NULL,
[risk_impact_analysis] [varchar](max) NULL,
[backout_plan] [varchar](max) NULL,
[test_plan] [varchar](max) NULL,
[u_affected_user] [varchar](200) NULL,
[u_approvers] [varchar](200) NULL,
[u_business_urgent] [varchar](100) NULL,
[dv_u_change_coordinator] [varchar](200) NULL,
[u_closure_category_tier_1] [varchar](200) NULL,
[u_closure_category_tier_2] [varchar](200) NULL,
[u_closure_category_tier_3] [varchar](200) NULL
) ON [PRIMARY]

INSERT INTO #temp_table 
EXEC(@INC) 


MERGE INTO dbo.[CHANGE] a 
using(select 
number,
sys_id,
dv_priority,
type,
opened_at,
dv_state,
dv_assignment_group,
closed_at,
dv_assigned_to,
dv_cmdb_ci,
category,
dv_business_service,
dv_risk,
dv_location,
start_date,
end_date,
work_start,
work_end,
dv_parent,
dv_opened_by,
close_notes,
description,
short_description,
comments,
dv_impact,
dv_urgency,
sys_updated_on,
active,
implementation_plan,
risk_impact_analysis,
backout_plan,
test_plan,
u_affected_user,
u_approvers,
u_business_urgent,
dv_u_change_coordinator,
u_closure_category_tier_1,
u_closure_category_tier_2,
u_closure_category_tier_3
      FROM   #temp_table) b 
ON ( a.NUMBER = b.NUMBER ) 
WHEN matched THEN 
  UPDATE SET 
  --a.number=b.number,
a.sys_id=b.sys_id,
a.dv_priority=b.dv_priority,
a.type=b.type,
a.opened_at=b.opened_at,
a.dv_state=b.dv_state,
a.dv_assignment_group=b.dv_assignment_group,
a.closed_at=b.closed_at,
a.dv_assigned_to=b.dv_assigned_to,
a.dv_cmdb_ci=b.dv_cmdb_ci,
a.category=b.category,
a.dv_business_service=b.dv_business_service,
a.dv_risk=b.dv_risk,
a.dv_location=b.dv_location,
a.start_date=b.start_date,
a.end_date=b.end_date,
a.work_start=b.work_start,
a.work_end=b.work_end,
a.dv_parent=b.dv_parent,
a.dv_opened_by=b.dv_opened_by,
a.close_notes=b.close_notes,
a.description=b.description,
a.short_description=b.short_description,
a.comments=b.comments,
a.dv_impact=b.dv_impact,
a.dv_urgency=b.dv_urgency,
a.sys_updated_on=b.sys_updated_on,
a.active=b.active,
a.implementation_plan=b.implementation_plan,
a.risk_impact_analysis=b.risk_impact_analysis,
a.backout_plan=b.backout_plan,
a.test_plan=b.test_plan,
a.u_affected_user=b.u_affected_user,
a.u_approvers=b.u_approvers,
a.u_business_urgent=b.u_business_urgent,
a.dv_u_change_coordinator=b.dv_u_change_coordinator,
a.u_closure_category_tier_1=b.u_closure_category_tier_1,
a.u_closure_category_tier_2=b.u_closure_category_tier_2,
a.u_closure_category_tier_3=b.u_closure_category_tier_3


WHEN NOT matched THEN 
  INSERT (number,
sys_id,
dv_priority,
type,
opened_at,
dv_state,
dv_assignment_group,
closed_at,
dv_assigned_to,
dv_cmdb_ci,
category,
dv_business_service,
dv_risk,
dv_location,
start_date,
end_date,
work_start,
work_end,
dv_parent,
dv_opened_by,
close_notes,
description,
short_description,
comments,
dv_impact,
dv_urgency,
sys_updated_on,
active,
implementation_plan,
risk_impact_analysis,
backout_plan,
test_plan,
u_affected_user,
u_approvers,
u_business_urgent,
dv_u_change_coordinator,
u_closure_category_tier_1,
u_closure_category_tier_2,
u_closure_category_tier_3)
  VALUES( b.number,
b.sys_id,
b.dv_priority,
b.type,
b.opened_at,
b.dv_state,
b.dv_assignment_group,
b.closed_at,
b.dv_assigned_to,
b.dv_cmdb_ci,
b.category,
b.dv_business_service,
b.dv_risk,
b.dv_location,
b.start_date,
b.end_date,
b.work_start,
b.work_end,
b.dv_parent,
b.dv_opened_by,
b.close_notes,
b.description,
b.short_description,
b.comments,
b.dv_impact,
b.dv_urgency,
b.sys_updated_on,
b.active,
b.implementation_plan,
b.risk_impact_analysis,
b.backout_plan,
b.test_plan,
b.u_affected_user,
b.u_approvers,
b.u_business_urgent,
b.dv_u_change_coordinator,
b.u_closure_category_tier_1,
b.u_closure_category_tier_2,
b.u_closure_category_tier_3
); 


  END
GO
