USE [DBO_BRONZE]
GO
/****** Object:  StoredProcedure [dbo].[BULKLOAD_INCIDENT_DATA_SYNC]    Script Date: 4/30/2020 1:05:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BULKLOAD_INCIDENT_DATA_SYNC]
AS
BEGIN

SET NOCOUNT ON;

DECLARE @INC VARCHAR(max); 
DECLARE @load_date_frm datetime2; 
DECLARE @load_date_to datetime2;

SELECT @load_date_frm = dateadd(dd,-1,'2019-02-01 ');
SELECT @load_date_to = dateadd(dd,3,@load_date_frm);

PRINT '@load_date_frm' 
PRINT @load_date_frm
PRINT '@load_date_to' 
PRINT @load_date_to

while (@load_date_to <= getdate())
begin

 SET @INC= 'select * from openquery(RMSLS,''select number,
sys_id,
dv_priority,
dv_incident_state,
opened_at,
resolved_at,
dv_assigned_to,
dv_assignment_group,
dv_u_status_reason,
u_operational_category_tier_1,
u_operational_category_tier_2,
u_operational_category_tier_3,
u_product_category_tier_1,
u_product_category_tier_2,
u_product_category_tier_3,
dv_cmdb_ci,
reopened_time,
dv_location,
reassignment_count,
reopen_count,
dv_impact,
dv_urgency,
dv_parent,
sys_updated_on,
close_code,
dv_contact_type,
dv_caller_id,
dv_caused_by,
knowledge,
short_description,
closed_at,
comments_and_work_notes,
dv_opened_by,
dv_resolved_by,
active,
u_resolution_category_tier_1,
u_resolution_category_tier_2,
u_resolution_category_tier_3,
close_notes,
u_closure_category_tier_1,
u_closure_category_tier_2,
u_closure_category_tier_3,
u_remedy_submit_date,
u_reference_number,
u_remedy_change_class,
u_remedy_change_reason,
u_remedy_change_template,
u_remedy_coordinator_group,
u_remedy_last_modified_by,
u_remedy_last_modified_date,
u_remedy_reported_date,
u_remedy_responded_date
 from incident  
 where opened_at >= ''''2019-02-01 00:00:01.0000000'''' and sys_updated_on >= ''''' 
  + Cast(@load_date_frm AS VARCHAR) + ''''' and sys_updated_on <= '''''  + Cast(@load_date_to AS VARCHAR) + ''''' '')'; 


PRINT '@load_date_frm' 
PRINT @load_date_frm
PRINT '@load_date_to' 
PRINT @load_date_to
print @INC

CREATE TABLE #temp_table(
	[number] [varchar](100) NULL,
	[sys_id] [varchar](100) NULL,
	[dv_priority] [varchar](100) NULL,
	[dv_incident_state] [varchar](100) NULL,
	[opened_at] [datetime2] NULL,
	[resolved_at] [datetime2] NULL,
	[dv_assigned_to] [varchar](200) NULL,
	[dv_assignment_group] [varchar](200) NULL,
	[dv_u_status_reason] [varchar](200) NULL,
	[u_operational_category_tier_1][varchar](150) NULL,
	[u_operational_category_tier_2][varchar](150) NULL,
	[u_operational_category_tier_3][varchar](150) NULL,
	[u_product_category_tier_1][varchar](150) NULL,
	[u_product_category_tier_2][varchar](150) NULL,
	[u_product_category_tier_3][varchar](150) NULL,
	[dv_cmdb_ci] [varchar](100) NULL,
	[reopened_time][datetime2] NULL,
	[dv_location] [varchar](100) NULL,
	[reassignment_count] [int] NULL,
	[reopen_count] [int] NULL,
	[dv_impact] [varchar](100) NULL,
	[dv_urgency] [varchar](100) NULL,
	[dv_parent] [varchar](100) NULL,
	[sys_updated_on] [datetime2] NULL,
	[close_code] [varchar](300) NULL,
	[dv_contact_type] [varchar](100) NULL,
	[dv_caller_id] [varchar](200) NULL,
	[dv_caused_by] [varchar](200) NULL,
	[knowledge] [varchar](max) NULL,
	[short_description] [varchar](max) NULL,
	[closed_at] [datetime2] NULL,
	[comments_and_work_notes] [varchar](max) NULL,
	[dv_opened_by] [varchar](200) NULL,
	[dv_resolved_by] [varchar](200) NULL,
	[active] [decimal](2) NULL,
	[u_resolution_category_tier_1] [varchar] (200)NULL,
	[u_resolution_category_tier_2] [varchar] (200)NULL,
	[u_resolution_category_tier_3] [varchar] (200)NULL,
	[close_notes] [varchar] (max)NULL,
	[u_closure_category_tier_1] [varchar] (200)NULL,
	[u_closure_category_tier_2] [varchar] (200)NULL,
	[u_closure_category_tier_3] [varchar] (200)NULL,
	[u_remedy_submit_date][datetime2] NULL,
	[u_reference_number][datetime2] NULL,
	[u_remedy_change_class] [varchar] (300)NULL,
	[u_remedy_change_reason] [varchar] (300)NULL,
	[u_remedy_change_template] [varchar] (300)NULL,
	[u_remedy_coordinator_group] [varchar] (300)NULL,
	[u_remedy_last_modified_by] [varchar] (200)NULL,
	[u_remedy_last_modified_date] [datetime2] NULL,
	[u_remedy_reported_date] [datetime2] NULL,
	[u_remedy_responded_date] [datetime2] NULL
) ON [PRIMARY]

INSERT INTO #temp_table 
EXEC(@INC) 

PRINT 'after insert' 


MERGE INTO [dbo].[INCIDENT] a 
using(select number,
sys_id,
dv_priority,
dv_incident_state,
opened_at,
resolved_at,
dv_assigned_to,
dv_assignment_group,
dv_u_status_reason,
u_operational_category_tier_1,
u_operational_category_tier_2,
u_operational_category_tier_3,
u_product_category_tier_1,
u_product_category_tier_2,
u_product_category_tier_3,
dv_cmdb_ci,
reopened_time,
dv_location,
reassignment_count,
reopen_count,
dv_impact,
dv_urgency,
dv_parent,
sys_updated_on,
close_code,
dv_contact_type,
dv_caller_id,
dv_caused_by,
knowledge,
short_description,
closed_at,
comments_and_work_notes,
dv_opened_by,
dv_resolved_by,
active,
u_resolution_category_tier_1,
u_resolution_category_tier_2,
u_resolution_category_tier_3,
close_notes,
u_closure_category_tier_1,
u_closure_category_tier_2,
u_closure_category_tier_3,
u_remedy_submit_date,
u_reference_number,
u_remedy_change_class,
u_remedy_change_reason,
u_remedy_change_template,
u_remedy_coordinator_group,
u_remedy_last_modified_by,
u_remedy_last_modified_date,
u_remedy_reported_date,
u_remedy_responded_date

      FROM   #temp_table ) b 
ON ( a.number = b.number ) 
WHEN matched THEN 
  UPDATE SET a.number=b.number,
a.sys_id=b.sys_id,
a.dv_priority=b.dv_priority,
a.dv_incident_state=b.dv_incident_state,
a.opened_at=b.opened_at,
a.resolved_at=b.resolved_at,
a.dv_assigned_to=b.dv_assigned_to,
a.dv_assignment_group=b.dv_assignment_group,
a.dv_u_status_reason=b.dv_u_status_reason,
a.u_operational_category_tier_1=b.u_operational_category_tier_1,
a.u_operational_category_tier_2=b.u_operational_category_tier_2,
a.u_operational_category_tier_3=b.u_operational_category_tier_3,
a.u_product_category_tier_1=b.u_product_category_tier_1,
a.u_product_category_tier_2=b.u_product_category_tier_2,
a.u_product_category_tier_3=b.u_product_category_tier_3,
a.dv_cmdb_ci=b.dv_cmdb_ci,
a.reopened_time=b.reopened_time,
a.dv_location=b.dv_location,
a.reassignment_count=b.reassignment_count,
a.reopen_count=b.reopen_count,
a.dv_impact=b.dv_impact,
a.dv_urgency=b.dv_urgency,
a.dv_parent=b.dv_parent,
a.sys_updated_on=b.sys_updated_on,
a.close_code=b.close_code,
a.dv_contact_type=b.dv_contact_type,
a.dv_caller_id=b.dv_caller_id,
a.dv_caused_by=b.dv_caused_by,
a.knowledge=b.knowledge,
a.short_description=b.short_description,
a.closed_at=b.closed_at,
a.comments_and_work_notes=b.comments_and_work_notes,
a.dv_opened_by=b.dv_opened_by,
a.dv_resolved_by=b.dv_resolved_by,
a.active=b.active,
a.u_resolution_category_tier_1=b.u_resolution_category_tier_1,
a.u_resolution_category_tier_2=b.u_resolution_category_tier_2,
a.u_resolution_category_tier_3=b.u_resolution_category_tier_3,
a.close_notes=b.close_notes,
a.u_closure_category_tier_1=b.u_closure_category_tier_1,
a.u_closure_category_tier_2=b.u_closure_category_tier_2,
a.u_closure_category_tier_3=b.u_closure_category_tier_3,
a.u_remedy_submit_date=b.u_remedy_submit_date,
a.u_reference_number=b.u_reference_number,
a.u_remedy_change_class=b.u_remedy_change_class,
a.u_remedy_change_reason=b.u_remedy_change_reason,
a.u_remedy_change_template=b.u_remedy_change_template,
a.u_remedy_coordinator_group=b.u_remedy_coordinator_group,
a.u_remedy_last_modified_by=b.u_remedy_last_modified_by,
a.u_remedy_last_modified_date=b.u_remedy_last_modified_date,
a.u_remedy_reported_date=b.u_remedy_reported_date,
a.u_remedy_responded_date=b.u_remedy_responded_date


WHEN NOT matched THEN 
  INSERT ( number,
sys_id,
dv_priority,
dv_incident_state,
opened_at,
resolved_at,
dv_assigned_to,
dv_assignment_group,
dv_u_status_reason,
u_operational_category_tier_1,
u_operational_category_tier_2,
u_operational_category_tier_3,
u_product_category_tier_1,
u_product_category_tier_2,
u_product_category_tier_3,
dv_cmdb_ci,
reopened_time,
dv_location,
reassignment_count,
reopen_count,
dv_impact,
dv_urgency,
dv_parent,
sys_updated_on,
close_code,
dv_contact_type,
dv_caller_id,
dv_caused_by,
knowledge,
short_description,
closed_at,
comments_and_work_notes,
dv_opened_by,
dv_resolved_by,
active,
u_resolution_category_tier_1,
u_resolution_category_tier_2,
u_resolution_category_tier_3,
close_notes,
u_closure_category_tier_1,
u_closure_category_tier_2,
u_closure_category_tier_3,
u_remedy_submit_date,
u_reference_number,
u_remedy_change_class,
u_remedy_change_reason,
u_remedy_change_template,
u_remedy_coordinator_group,
u_remedy_last_modified_by,
u_remedy_last_modified_date,
u_remedy_reported_date,
u_remedy_responded_date
)
  VALUES( b.number,
b.sys_id,
b.dv_priority,
b.dv_incident_state,
b.opened_at,
b.resolved_at,
b.dv_assigned_to,
b.dv_assignment_group,
b.dv_u_status_reason,
b.u_operational_category_tier_1,
b.u_operational_category_tier_2,
b.u_operational_category_tier_3,
b.u_product_category_tier_1,
b.u_product_category_tier_2,
b.u_product_category_tier_3,
b.dv_cmdb_ci,
b.reopened_time,
b.dv_location,
b.reassignment_count,
b.reopen_count,
b.dv_impact,
b.dv_urgency,
b.dv_parent,
b.sys_updated_on,
b.close_code,
b.dv_contact_type,
b.dv_caller_id,
b.dv_caused_by,
b.knowledge,
b.short_description,
b.closed_at,
b.comments_and_work_notes,
b.dv_opened_by,
b.dv_resolved_by,
b.active,
b.u_resolution_category_tier_1,
b.u_resolution_category_tier_2,
b.u_resolution_category_tier_3,
b.close_notes,
b.u_closure_category_tier_1,
b.u_closure_category_tier_2,
b.u_closure_category_tier_3,
b.u_remedy_submit_date,
b.u_reference_number,
b.u_remedy_change_class,
b.u_remedy_change_reason,
b.u_remedy_change_template,
b.u_remedy_coordinator_group,
b.u_remedy_last_modified_by,
b.u_remedy_last_modified_date,
b.u_remedy_reported_date,
b.u_remedy_responded_date
); 


  DROP TABLE #temp_table

  set @load_date_frm = @load_date_to
  set @load_date_to = dateadd(dd,3,@load_date_to)
  end

  END
GO
