USE [DBO_SILVER]
GO
/****** Object:  StoredProcedure [dbo].[SLA_Mapping]    Script Date: 4/30/2020 1:07:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:	Preetham M
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SLA_Mapping]
AS
BEGIN

print 'SLA Mapping as per TASK_SLA table is started';


 ------------Response SLA-----------------------
  
  with cte as (
  select * ,rn=row_number() over (partition by dv_task order by dv_task,sys_updated_on desc)
  FROM dbo_bronze.dbo.task_sla where stage= 'completed' and dv_sla like 'Priority%response%'  
  and sys_updated_on >= dateadd(dd,-5,getdate())
  )


  update r
  set R.RESPONSEDATE=a.end_time,
  R.RESPONSETIME=Cast(Datediff(SECOND, '1970-01-01 00:00:01.000', a.business_duration) AS DECIMAL(22, 4)),
  R.TOTALSLATIMEFORRESPONSE=Cast(Datediff(SECOND, '1970-01-01 00:00:01.000', a.duration) AS DECIMAL(18, 0)),
  R.RESPONSESLAMET=CASE
								 WHEN (a.has_breached IS NULL) THEN NULL
										  WHEN (a.has_breached = 1) THEN 0
										  WHEN (a.has_breached = 0) THEN 1
										  ELSE R.RESPONSESLAMET
									  END,
				   
  R.RESPONSEBTGTIME=Cast(Datediff(SECOND, '1970-01-01 00:00:01.000', a.business_duration) AS DECIMAL(22, 4)),
  R.RESPONSEELAPSEDTIME=Datediff(SECOND, '1970-01-01 00:00:01.000', a.business_duration),
  R.RESPONSESLATIMEELAPSEDPERC=Cast(a.business_percentage AS DECIMAL(18, 2))
  
 from  [DBO_SILVER].[dbo].[TICKET_MASTER_IMAGE] R, cte a
  where r.ticketid = a.dv_task and a.rn=1;

 

   ------------Resolution SLA-----------------------
  with cte as (
  select * ,rn=row_number() over (partition by dv_task order by dv_task,sys_updated_on desc)
  FROM dbo_bronze.dbo.task_sla where stage= 'completed' and dv_sla like 'Priority%resolution%' 
  and sys_updated_on >= dateadd(dd,-5,getdate())
  )
  update  R
  set R.RESOLVEDDATE=a.end_time,
  R.RESOLUTIONTIME=Cast(Datediff(SECOND, '1970-01-01 00:00:01.000', a.business_duration) AS DECIMAL(22, 4)),
  R.TOTALSLATIMEFORRSLN_LEVEL1=Cast(Datediff(SECOND, '1970-01-01 00:00:01.000', a.duration) AS DECIMAL(18, 0)),
  R.RESOLUTIONSLAMET=CASE
								 WHEN (a.has_breached IS NULL) THEN NULL
										 WHEN (a.has_breached = 1) THEN 0
										  WHEN (a.has_breached = 0) THEN 1
										  ELSE R.RESOLUTIONSLAMET
									  END,
										  
				  
  R.RESOLUTIONBTGTIME=Cast(Datediff(SECOND, '1970-01-01 00:00:01.000', a.business_duration) AS DECIMAL(22, 4)),
  R.RESOLUTIONELAPSEDTIME=Datediff(SECOND, '1970-01-01 00:00:01.000', a.business_duration),
  R.RESOLUTIONSLATIMEELAPSEDPERC=Cast(a.business_percentage AS DECIMAL(18, 2))

  from  [DBO_SILVER].[dbo].[TICKET_MASTER_IMAGE] R, cte a
  where r.ticketid = a.dv_task and a.rn=1;

  print 'SLA Mapping is completed'

END
GO
