USE [DBO_SILVER]
GO
/****** Object:  StoredProcedure [dbo].[ACCOUNT_DATAMOVEMENT_INCIDENT]    Script Date: 4/30/2020 1:07:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Preetham M
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ACCOUNT_DATAMOVEMENT_INCIDENT]
	-- Add the parameters for the stored procedure here

AS
BEGIN

	DECLARE @L_LASTUPDATEDBYDATALOAD datetime2;
	DECLARE @load_date datetime2;
	DECLARE @L_ACCOUNT varchar(30);
	DECLARE @L_LOADTYPE varchar(50);

	-- SET NOCOUNT ON added to prevent extra result sets from
  -- Insert statements for procedure here

	SET NOCOUNT ON;

	SET @L_ACCOUNT = 'RMS';

    -- Selecting Last updated load date
	SELECT  @load_date=LASTUPDATEDBYDATALOAD FROM [DBO_SILVER].[DBO].[LOAD_MASTER]
	WHERE MODULE='INCIDENT';
	set @L_LASTUPDATEDBYDATALOAD=dateadd(dd,-1,@load_date);
	
	PRINT '@load_date' 
	PRINT @load_date
	PRINT '@L_LASTUPDATEDBYDATALOAD' 
	PRINT @L_LASTUPDATEDBYDATALOAD


	MERGE INTO [DBO_GOLD].[DBO].[TICKET_MASTER] TGT
	USING (SELECT * FROM [DBO_SILVER].[DBO].[TICKET_MASTER_IMAGE] 
	where 
	tickettype='INCIDENT' and
	LASTUPDATEDBYDATALOAD >= @L_LASTUPDATEDBYDATALOAD ) AS SRC
	ON 
	( TGT.TICKETID=SRC.TICKETID AND TGT.AMSPROGRAMID=SRC.AMSPROGRAMID)
	
	WHEN MATCHED THEN UPDATE SET
TGT.AMSPROGRAMID=SRC.AMSPROGRAMID,
TGT.TICKETID=SRC.TICKETID,
TGT.TICKETTYPE=SRC.TICKETTYPE,
TGT.PRIORITY=SRC.PRIORITY,
TGT.STATUS=SRC.STATUS,
TGT.TICKETSUBMITDATE=SRC.TICKETSUBMITDATE,
TGT.RESPONSEDATE=SRC.RESPONSEDATE,
TGT.RESOLVEDDATE=SRC.RESOLVEDDATE,
TGT.ASSIGNEENAME=SRC.ASSIGNEENAME,
TGT.RESOLVERGROUP=SRC.RESOLVERGROUP,
TGT.TOWERNAME=SRC.TOWERNAME,
TGT.STATUSREASON=SRC.STATUSREASON,
TGT.OPERATIONALCATEGORIZATIONTIER1=SRC.OPERATIONALCATEGORIZATIONTIER1,
TGT.OPERATIONALCATEGORIZATIONTIER2=SRC.OPERATIONALCATEGORIZATIONTIER2,
TGT.OPERATIONALCATEGORIZATIONTIER3=SRC.OPERATIONALCATEGORIZATIONTIER3,
TGT.PRODUCTCATEGORIZATIONTIER1=SRC.PRODUCTCATEGORIZATIONTIER1,
TGT.PRODUCTCATEGORIZATIONTIER2=SRC.PRODUCTCATEGORIZATIONTIER2,
TGT.PRODUCTCATEGORIZATIONTIER3=SRC.PRODUCTCATEGORIZATIONTIER3,
TGT.ASSET_NAME=SRC.ASSETNAME,
TGT.REOPENDATE=SRC.REOPENDATE,
TGT.FCR=SRC.FCR,
TGT.REGION=SRC.REGION,
TGT.CREATORGROUP=SRC.CREATORGROUP,
TGT.ASSIGNEE_ID=SRC.ASSIGNEE_ID,
TGT.RESOLVEDATLEVEL1=SRC.RESOLVEDATLEVEL1,
TGT.GROUPTRANSFERS=SRC.GROUPTRANSFERS,
TGT.REOPEN=SRC.REOPEN,
TGT.PENDINGDATE=SRC.PENDINGDATE,
TGT.IMPACT=SRC.IMPACT,
TGT.URGENCY=SRC.URGENCY,
TGT.REFERENCE_TICKET_ID=SRC.REFERENCE_TICKET_ID,
TGT.IS_CRITICAL_SITUATION=SRC.IS_CRITICAL_SITUATION,
TGT.TICKETMODIFIEDON=SRC.TICKETMODIFIEDON,
TGT.RESOLUTIONCODE=SRC.RESOLUTIONCODE,
TGT.CLOSURECODE=SRC.CLOSURECODE,
TGT.ISTICKETESCALATED=SRC.ISTICKETESCALATED,
TGT.BUSINESS_UNIT=SRC.BUSINESS_UNIT,
TGT.ISCSATRECEIVED=SRC.ISCSATRECEIVED,
TGT.CSATOVERALLSCORE=SRC.CSATOVERALLSCORE,
TGT.CSATRESPONSETIME=SRC.CSATRESPONSETIME,
TGT.SOURCE=SRC.SOURCE,
TGT.REQUESTER_ID=SRC.REQUESTER_ID,
TGT.CREATOR_ID=SRC.CREATOR_ID,
TGT.CREATEDBYLEVEL1=SRC.CREATEDBYLEVEL1,
TGT.BUSINESS_PLATFORM=SRC.BUSINESS_PLATFORM,
TGT.TICKETORIGIN=SRC.TICKETORIGIN,
TGT.ISPROACTIVETICKET=SRC.ISPROACTIVETICKET,
TGT.ISSELFSERVICETICKET=SRC.ISSELFSERVICETICKET,
TGT.ISCAUSEDBYCHANGE=SRC.ISCAUSEDBYCHANGE,
TGT.REFERENCE_CHANGE_ID=SRC.REFERENCE_CHANGE_ID,
TGT.ISRESOLVEDUSINGKEDB=SRC.ISRESOLVEDUSINGKEDB,
TGT.VIP=SRC.VIP,
TGT.REOPEN_COUNT=SRC.REOPEN_COUNT,
TGT.SUMMARY=SRC.SUMMARY,
TGT.CLASSOFSERVICE=SRC.CLASSOFSERVICE,
TGT.EMAILRESPONSETIME=SRC.EMAILRESPONSETIME,
TGT.REQUESTERFIRSTNAME=SRC.REQUESTERFIRSTNAME,
TGT.REQUESTERLASTNAME=SRC.REQUESTERLASTNAME,
TGT.SITE=SRC.SITE,
TGT.DEPARTMENT=SRC.DEPARTMENT,
TGT.CREATORNAME=SRC.CREATORNAME,
TGT.CREATOREMPLOYEEID=SRC.CREATOREMPLOYEEID,
TGT.RESOLVEREMPLOYEEID=SRC.RESOLVEREMPLOYEEID,
TGT.RESOLVERLOCATION=SRC.RESOLVERLOCATION,
TGT.RESOLVERGROUPREGION=SRC.RESOLVERGROUPREGION,
TGT.REQUESTOREMAILID=SRC.REQUESTOREMAILID,
TGT.TICKETAUDITSCORE=SRC.TICKETAUDITSCORE,
TGT.PENDTIME_RSLN_CONFIRMATION=SRC.PENDTIME_RSLN_CONFIRMATION,
TGT.TOTALSLATIMEFORRSLN_LEVEL1=SRC.TOTALSLATIMEFORRSLN_LEVEL1,
TGT.TOTALSLATIMEFORRSLN_LEVEL2=SRC.TOTALSLATIMEFORRSLN_LEVEL2,
TGT.CSATSCORE1=SRC.CSATSCORE1,
TGT.CSATSCORE2=SRC.CSATSCORE2,
TGT.CSATSCORE3=SRC.CSATSCORE3,
TGT.CSATSCORE4=SRC.CSATSCORE4,
TGT.CSATSCORE5=SRC.CSATSCORE5,
TGT.CSATSCORE6=SRC.CSATSCORE6,
TGT.CSATREQUESTTIME=SRC.CSATREQUESTTIME,
TGT.SUBPROGRAMID=SRC.SUBPROGRAMID,
TGT.CLOSEDTIME=SRC.CLOSEDTIME,
TGT.ESTIMATEDEFFORT=SRC.ESTIMATEDEFFORT,
TGT.ACTUALEFFORT=SRC.ACTUALEFFORT,
TGT.ACTUALSTART=SRC.ACTUALSTART,
TGT.ESTIMATESTART=SRC.ESTIMATESTART,
TGT.ESTIMATEDEND=SRC.ESTIMATEDEND,
TGT.ACTUALEND=SRC.ACTUALEND,
TGT.DAYS_SINCE_LAST_UPDATE=SRC.DAYS_SINCE_LAST_UPDATE,
TGT.TICKETAGE=SRC.TICKETAGE,
TGT.IS_SR_SLA_APPLICABLE=SRC.IS_SR_SLA_APPLICABLE,
TGT.TICKET_BUCKET=SRC.TICKET_BUCKET,
TGT.ESTIMATEDDELIVERY=SRC.ESTIMATEDDELIVERY,
TGT.WORK_END=SRC.WORK_END,
TGT.WORK_START=SRC.WORK_START,
TGT.COMMENTS=SRC.COMMENTS,
TGT.DATAFEEDREFERENCE=SRC.DATAFEEDREFERENCE,
TGT.ISRECORDACTIVE=SRC.ISRECORDACTIVE,
TGT.LASTUPDATEDBYDATALOAD=SRC.LASTUPDATEDBYDATALOAD,
TGT.LOADINTOBI=SRC.LOADINTOBI,
TGT.INAMSSCOPE=SRC.INAMSSCOPE,
TGT.IS_PENDINGTICKET=SRC.IS_PENDINGTICKET,
TGT.ISTICKETOPEN=SRC.ISTICKETOPEN,
TGT.IS_TOOLGENERATED=SRC.IS_TOOLGENERATED,
TGT.IS_OUTAGE=SRC.IS_OUTAGE,
TGT.IS_PRIORITY1=SRC.IS_PRIORITY1,
TGT.RESOLVEDUSINGSELFSERVICE=SRC.RESOLVEDUSINGSELFSERVICE,
TGT.RESOLUTIONTARGETDATE=SRC.RESOLUTIONTARGETDATE,
TGT.RESPONSETARGETDATE=SRC.RESPONSETARGETDATE,
TGT.u_resolution_category_tier_1=SRC.u_resolution_category_tier_1,
TGT.u_resolution_category_tier_2=SRC.u_resolution_category_tier_2,
TGT.u_resolution_category_tier_3=SRC.u_resolution_category_tier_3,
TGT.close_notes=SRC.close_notes,
TGT.u_closure_category_tier_1=SRC.u_closure_category_tier_1,
TGT.u_closure_category_tier_2=SRC.u_closure_category_tier_2,
TGT.u_closure_category_tier_3=SRC.u_closure_category_tier_3,
TGT.u_remedy_submit_date=SRC.u_remedy_submit_date,
TGT.u_reference_number=SRC.u_reference_number,
TGT.u_remedy_change_class=SRC.u_remedy_change_class,
TGT.u_remedy_change_reason=SRC.u_remedy_change_reason,
TGT.u_remedy_change_template=SRC.u_remedy_change_template,
TGT.u_remedy_coordinator_group=SRC.u_remedy_coordinator_group,
TGT.u_remedy_last_modified_by=SRC.u_remedy_last_modified_by,
TGT.u_remedy_last_modified_date=SRC.u_remedy_last_modified_date,
TGT.u_remedy_reported_date=SRC.u_remedy_reported_date,
TGT.u_remedy_responded_date=SRC.u_remedy_responded_date


	WHEN NOT MATCHED THEN
	INSERT
	(
AMSPROGRAMID,
TICKETID,
TICKETTYPE,
PRIORITY,
STATUS,
TICKETSUBMITDATE,
RESPONSEDATE,
RESOLVEDDATE,
ASSIGNEENAME,
RESOLVERGROUP,
TOWERNAME,
STATUSREASON,
OPERATIONALCATEGORIZATIONTIER1,
OPERATIONALCATEGORIZATIONTIER2,
OPERATIONALCATEGORIZATIONTIER3,
PRODUCTCATEGORIZATIONTIER1,
PRODUCTCATEGORIZATIONTIER2,
PRODUCTCATEGORIZATIONTIER3,
ASSET_NAME,
REOPENDATE,
FCR,
REGION,
CREATORGROUP,
ASSIGNEE_ID,
RESOLVEDATLEVEL1,
GROUPTRANSFERS,
REOPEN,
PENDINGDATE,
IMPACT,
URGENCY,
REFERENCE_TICKET_ID,
IS_CRITICAL_SITUATION,
TICKETMODIFIEDON,
RESOLUTIONCODE,
CLOSURECODE,
ISTICKETESCALATED,
BUSINESS_UNIT,
ISCSATRECEIVED,
CSATOVERALLSCORE,
CSATRESPONSETIME,
SOURCE,
REQUESTER_ID,
CREATOR_ID,
CREATEDBYLEVEL1,
BUSINESS_PLATFORM,
TICKETORIGIN,
ISPROACTIVETICKET,
ISSELFSERVICETICKET,
ISCAUSEDBYCHANGE,
REFERENCE_CHANGE_ID,
ISRESOLVEDUSINGKEDB,
VIP,
REOPEN_COUNT,
SUMMARY,
CLASSOFSERVICE,
EMAILRESPONSETIME,
REQUESTERFIRSTNAME,
REQUESTERLASTNAME,
SITE,
DEPARTMENT,
CREATORNAME,
CREATOREMPLOYEEID,
RESOLVEREMPLOYEEID,
RESOLVERLOCATION,
RESOLVERGROUPREGION,
REQUESTOREMAILID,
TICKETAUDITSCORE,
PENDTIME_RSLN_CONFIRMATION,
TOTALSLATIMEFORRSLN_LEVEL1,
TOTALSLATIMEFORRSLN_LEVEL2,
CSATSCORE1,
CSATSCORE2,
CSATSCORE3,
CSATSCORE4,
CSATSCORE5,
CSATSCORE6,
CSATREQUESTTIME,
SUBPROGRAMID,
CLOSEDTIME,
ESTIMATEDEFFORT,
ACTUALEFFORT,
ACTUALSTART,
ESTIMATESTART,
ESTIMATEDEND,
ACTUALEND,
DAYS_SINCE_LAST_UPDATE,
TICKETAGE,
IS_SR_SLA_APPLICABLE,
TICKET_BUCKET,
ESTIMATEDDELIVERY,
WORK_END,
WORK_START,
COMMENTS,
DATAFEEDREFERENCE,
ISRECORDACTIVE,
LASTUPDATEDBYDATALOAD,
LOADINTOBI,
INAMSSCOPE,
IS_PENDINGTICKET,
ISTICKETOPEN,
IS_TOOLGENERATED,
IS_OUTAGE,
IS_PRIORITY1,
RESOLVEDUSINGSELFSERVICE,
RESOLUTIONTARGETDATE,
RESPONSETARGETDATE,
u_resolution_category_tier_1,
u_resolution_category_tier_2,
u_resolution_category_tier_3,
close_notes,
u_closure_category_tier_1,
u_closure_category_tier_2,
u_closure_category_tier_3,
u_remedy_submit_date,
u_reference_number,
u_remedy_change_class,
u_remedy_change_reason,
u_remedy_change_template,
u_remedy_coordinator_group,
u_remedy_last_modified_by,
u_remedy_last_modified_date,
u_remedy_reported_date,
u_remedy_responded_date
	)
	VALUES
	(
	SRC.AMSPROGRAMID,
SRC.TICKETID,
SRC.TICKETTYPE,
SRC.PRIORITY,
SRC.STATUS,
SRC.TICKETSUBMITDATE,
SRC.RESPONSEDATE,
SRC.RESOLVEDDATE,
SRC.ASSIGNEENAME,
SRC.RESOLVERGROUP,
SRC.TOWERNAME,
SRC.STATUSREASON,
SRC.OPERATIONALCATEGORIZATIONTIER1,
SRC.OPERATIONALCATEGORIZATIONTIER2,
SRC.OPERATIONALCATEGORIZATIONTIER3,
SRC.PRODUCTCATEGORIZATIONTIER1,
SRC.PRODUCTCATEGORIZATIONTIER2,
SRC.PRODUCTCATEGORIZATIONTIER3,
SRC.ASSETNAME,
SRC.REOPENDATE,
SRC.FCR,
SRC.REGION,
SRC.CREATORGROUP,
SRC.ASSIGNEE_ID,
SRC.RESOLVEDATLEVEL1,
SRC.GROUPTRANSFERS,
SRC.REOPEN,
SRC.PENDINGDATE,
SRC.IMPACT,
SRC.URGENCY,
SRC.REFERENCE_TICKET_ID,
SRC.IS_CRITICAL_SITUATION,
SRC.TICKETMODIFIEDON,
SRC.RESOLUTIONCODE,
SRC.CLOSURECODE,
SRC.ISTICKETESCALATED,
SRC.BUSINESS_UNIT,
SRC.ISCSATRECEIVED,
SRC.CSATOVERALLSCORE,
SRC.CSATRESPONSETIME,
SRC.SOURCE,
SRC.REQUESTER_ID,
SRC.CREATOR_ID,
SRC.CREATEDBYLEVEL1,
SRC.BUSINESS_PLATFORM,
SRC.TICKETORIGIN,
SRC.ISPROACTIVETICKET,
SRC.ISSELFSERVICETICKET,
SRC.ISCAUSEDBYCHANGE,
SRC.REFERENCE_CHANGE_ID,
SRC.ISRESOLVEDUSINGKEDB,
SRC.VIP,
SRC.REOPEN_COUNT,
SRC.SUMMARY,
SRC.CLASSOFSERVICE,
SRC.EMAILRESPONSETIME,
SRC.REQUESTERFIRSTNAME,
SRC.REQUESTERLASTNAME,
SRC.SITE,
SRC.DEPARTMENT,
SRC.CREATORNAME,
SRC.CREATOREMPLOYEEID,
SRC.RESOLVEREMPLOYEEID,
SRC.RESOLVERLOCATION,
SRC.RESOLVERGROUPREGION,
SRC.REQUESTOREMAILID,
SRC.TICKETAUDITSCORE,
SRC.PENDTIME_RSLN_CONFIRMATION,
SRC.TOTALSLATIMEFORRSLN_LEVEL1,
SRC.TOTALSLATIMEFORRSLN_LEVEL2,
SRC.CSATSCORE1,
SRC.CSATSCORE2,
SRC.CSATSCORE3,
SRC.CSATSCORE4,
SRC.CSATSCORE5,
SRC.CSATSCORE6,
SRC.CSATREQUESTTIME,
SRC.SUBPROGRAMID,
SRC.CLOSEDTIME,
SRC.ESTIMATEDEFFORT,
SRC.ACTUALEFFORT,
SRC.ACTUALSTART,
SRC.ESTIMATESTART,
SRC.ESTIMATEDEND,
SRC.ACTUALEND,
SRC.DAYS_SINCE_LAST_UPDATE,
SRC.TICKETAGE,
SRC.IS_SR_SLA_APPLICABLE,
SRC.TICKET_BUCKET,
SRC.ESTIMATEDDELIVERY,
SRC.WORK_END,
SRC.WORK_START,
SRC.COMMENTS,
SRC.DATAFEEDREFERENCE,
SRC.ISRECORDACTIVE,
SRC.LASTUPDATEDBYDATALOAD,
SRC.LOADINTOBI,
SRC.INAMSSCOPE,
SRC.IS_PENDINGTICKET,
SRC.ISTICKETOPEN,
SRC.IS_TOOLGENERATED,
SRC.IS_OUTAGE,
SRC.IS_PRIORITY1,
SRC.RESOLVEDUSINGSELFSERVICE,
SRC.RESOLUTIONTARGETDATE,
SRC.RESPONSETARGETDATE,
SRC.u_resolution_category_tier_1,
SRC.u_resolution_category_tier_2,
SRC.u_resolution_category_tier_3,
SRC.close_notes,
SRC.u_closure_category_tier_1,
SRC.u_closure_category_tier_2,
SRC.u_closure_category_tier_3,
SRC.u_remedy_submit_date,
SRC.u_reference_number,
SRC.u_remedy_change_class,
SRC.u_remedy_change_reason,
SRC.u_remedy_change_template,
SRC.u_remedy_coordinator_group,
SRC.u_remedy_last_modified_by,
SRC.u_remedy_last_modified_date,
SRC.u_remedy_reported_date,
SRC.u_remedy_responded_date
);
	

	print 'Sucessfully loaded data into DBO_MGDSERV.TICKET_MASTER'


	MERGE INTO [DBO_MGDSERV].[DBO].[TICKET_SLA] TGT
	USING (
	SELECT 
AMSPROGRAMID,
TICKETID,
RESPONSEBTGTIME,
RESOLUTIONBTGTIME,
TOTALSLATIMEFORRESPONSE,
TOTALSLATIMEFORRESOLUTION,
RESPONSESLATIMEELAPSEDPERC,
RESOLUTIONSLATIMEELAPSEDPERC,
RESPONSESLAMET,
RESOLUTIONSLAMET,
RESPONSESLAVIOLATIONREASONCODE,
RSLN_SLAVIOLATIONREASONCODE,
PEND_TIME_ENDUSERCLARIFICATION,
PENDINGTIME_3RD_PARTY,
RESPONSEELAPSEDTIME,
RESOLUTIONELAPSEDTIME,
LASTUPDATEDBYDATALOAD,
RESPONSESLAWAIVER,
RESOLUTIONSLAWAIVER,
RESPONSESLAWAIVERREASON,
RESOLUTIONSLAWAIVERREASON,
RESOLUTIONSLAMET_LEVEL1,
RESOLUTIONSLAMET_LEVEL2,
COMMENTS,
MANUALTICKETUPDATE,
DATAFEEDREFERENCE
	FROM [DBO_STAGINGDB].[DBO].[TICKET_MASTER_IMAGE] 
	where TICKETTYPE='INCIDENT' and
	 LASTUPDATEDBYDATALOAD >= @L_LASTUPDATEDBYDATALOAD ) AS SRC
	ON 
	( TGT.TICKETID=SRC.TICKETID	AND
	TGT.AMSPROGRAMID=SRC.AMSPROGRAMID )
	
	WHEN MATCHED THEN 
	UPDATE SET
TGT.AMSPROGRAMID=SRC.AMSPROGRAMID,
TGT.TICKETID=SRC.TICKETID,
TGT.RESPONSEBTGTIME=SRC.RESPONSEBTGTIME,
TGT.RESOLUTIONBTGTIME=SRC.RESOLUTIONBTGTIME,
TGT.TOTALSLATIMEFORRESPONSE=SRC.TOTALSLATIMEFORRESPONSE,
TGT.TOTALSLATIMEFORRESOLUTION=SRC.TOTALSLATIMEFORRESOLUTION,
TGT.RESPONSESLATIMEELAPSEDPERC=SRC.RESPONSESLATIMEELAPSEDPERC,
TGT.RESOLUTIONSLATIMEELAPSEDPERC=SRC.RESOLUTIONSLATIMEELAPSEDPERC,
TGT.RESPONSESLAMET=SRC.RESPONSESLAMET,
TGT.RESOLUTIONSLAMET=SRC.RESOLUTIONSLAMET,
TGT.RESPONSESLAVIOLATIONREASONCODE=SRC.RESPONSESLAVIOLATIONREASONCODE,
TGT.RSLN_SLAVIOLATIONREASONCODE=SRC.RSLN_SLAVIOLATIONREASONCODE,
TGT.PEND_TIME_ENDUSERCLARIFICATION=SRC.PEND_TIME_ENDUSERCLARIFICATION,
TGT.PENDINGTIME_3RD_PARTY=SRC.PENDINGTIME_3RD_PARTY,
TGT.RESPONSEELAPSEDTIME=SRC.RESPONSEELAPSEDTIME,
TGT.RESOLUTIONELAPSEDTIME=SRC.RESOLUTIONELAPSEDTIME,
TGT.LASTUPDATEDBYDATALOAD=SRC.LASTUPDATEDBYDATALOAD,
TGT.RESPONSESLAWAIVER=SRC.RESPONSESLAWAIVER,
TGT.RESOLUTIONSLAWAIVER=SRC.RESOLUTIONSLAWAIVER,
TGT.RESPONSESLAWAIVERREASON=SRC.RESPONSESLAWAIVERREASON,
TGT.RESOLUTIONSLAWAIVERREASON=SRC.RESOLUTIONSLAWAIVERREASON,
TGT.RESOLUTIONSLAMET_LEVEL1=SRC.RESOLUTIONSLAMET_LEVEL1,
TGT.RESOLUTIONSLAMET_LEVEL2=SRC.RESOLUTIONSLAMET_LEVEL2,
TGT.COMMENTS=SRC.COMMENTS,
TGT.MANUALTICKETUPDATE=SRC.MANUALTICKETUPDATE,
TGT.DATAFEEDREFERENCE=SRC.DATAFEEDREFERENCE


	WHEN NOT MATCHED THEN 
	INSERT
	(
AMSPROGRAMID,
TICKETID,
RESPONSEBTGTIME,
RESOLUTIONBTGTIME,
TOTALSLATIMEFORRESPONSE,
TOTALSLATIMEFORRESOLUTION,
RESPONSESLATIMEELAPSEDPERC,
RESOLUTIONSLATIMEELAPSEDPERC,
RESPONSESLAMET,
RESOLUTIONSLAMET,
RESPONSESLAVIOLATIONREASONCODE,
RSLN_SLAVIOLATIONREASONCODE,
PEND_TIME_ENDUSERCLARIFICATION,
PENDINGTIME_3RD_PARTY,
RESPONSEELAPSEDTIME,
RESOLUTIONELAPSEDTIME,
LASTUPDATEDBYDATALOAD,
RESPONSESLAWAIVER,
RESOLUTIONSLAWAIVER,
RESPONSESLAWAIVERREASON,
RESOLUTIONSLAWAIVERREASON,
RESOLUTIONSLAMET_LEVEL1,
RESOLUTIONSLAMET_LEVEL2,
COMMENTS,
MANUALTICKETUPDATE,
DATAFEEDREFERENCE
	) 
	VALUES
	(
SRC.AMSPROGRAMID,
SRC.TICKETID,
SRC.RESPONSEBTGTIME,
SRC.RESOLUTIONBTGTIME,
SRC.TOTALSLATIMEFORRESPONSE,
SRC.TOTALSLATIMEFORRESOLUTION,
SRC.RESPONSESLATIMEELAPSEDPERC,
SRC.RESOLUTIONSLATIMEELAPSEDPERC,
SRC.RESPONSESLAMET,
SRC.RESOLUTIONSLAMET,
SRC.RESPONSESLAVIOLATIONREASONCODE,
SRC.RSLN_SLAVIOLATIONREASONCODE,
SRC.PEND_TIME_ENDUSERCLARIFICATION,
SRC.PENDINGTIME_3RD_PARTY,
SRC.RESPONSEELAPSEDTIME,
SRC.RESOLUTIONELAPSEDTIME,
SRC.LASTUPDATEDBYDATALOAD,
SRC.RESPONSESLAWAIVER,
SRC.RESOLUTIONSLAWAIVER,
SRC.RESPONSESLAWAIVERREASON,
SRC.RESOLUTIONSLAWAIVERREASON,
SRC.RESOLUTIONSLAMET_LEVEL1,
SRC.RESOLUTIONSLAMET_LEVEL2,
SRC.COMMENTS,
SRC.MANUALTICKETUPDATE,
SRC.DATAFEEDREFERENCE
	);

	
	
	print 'Sucessfully loaded data into Ticket_SLA'

	
	update [DBO].[LOAD_MASTER]
	SET LASTUPDATEDBYDATALOAD = getdate()
	WHERE MODULE='INCIDENT'
	

END

GO
