USE [DBO_SILVER]
GO
/****** Object:  StoredProcedure [dbo].[ACCOUNT_DATAMOVEMENT_CHANGE]    Script Date: 4/30/2020 1:07:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Preetham M
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ACCOUNT_DATAMOVEMENT_CHANGE]
	-- Add the parameters for the stored procedure here
	---@L_ACCOUNT varchar(30),
	---@L_LOADTYPE varchar(50)
	
	AS
	DECLARE @L_LASTUPDATEDBYDATALOAD datetime2;
	DECLARE @load_date datetime2;
	DECLARE @L_ACCOUNT varchar(30);
	DECLARE @L_LOADTYPE varchar(50);


BEGIN


SET NOCOUNT ON;

	SET @L_ACCOUNT = 'RMS';

    -- Selecting Last updated load date
	SELECT  @load_date=LASTUPDATEDBYDATALOAD FROM [DBO_SILVER].[DBO].[LOAD_MASTER]
	WHERE MODULE='CHANGE';
	set @L_LASTUPDATEDBYDATALOAD=dateadd(dd,-1,@load_date)
	
	PRINT '@load_date' 
	PRINT @load_date
	PRINT '@L_LASTUPDATEDBYDATALOAD' 
	PRINT @L_LASTUPDATEDBYDATALOAD

--TRANSFORMATIONS

-------------------------------------------
---resolutionslamet
-------------------------
/*
UPDATE Ticket_Master_image
SET RESOLUTIONSLAMET = 1
WHERE status in ('CLOSED','RESOLVED')

-------------------------------------------
---reSPONSEslamet
-------------------------

UPDATE Ticket_Master_image
SET RESPONSESLAMET = 1
WHERE status in ('CLOSED','RESOLVED')

*/
------------------------------------------------
--TicketAge 
------------------------------------------------
/*
UPDATE Ticket_Master_image
SET TicketAge = datediff(dd,ticketsubmitdate,getdate())
WHERE isticketopen = 1
AND inamsscope=1 


------------------------------------------------
--TicketAge Bucket
------------------------------------------------
UPDATE Ticket_Master
set TICKET_AGE_BUCKET = (case
   when TICKETAGE between 0 and 1.49 then '00-01'
   when TICKETAGE between 1.5 and 3.49 then '02-03'
   when TICKETAGE between 3.5 and  7.49 then '04-07'
   when TICKETAGE between 7.5 and 15.49 then '08-15'
   when TICKETAGE between 15.5 and  30.49 then '16-30'
   when TICKETAGE between 30.5 and 60.49 then '31-60'
   when TICKETAGE between 60.5 and 90.49 then '61-90'
   else '90-ABOVE'
  end
   )
   where  ISTICKETOPEN = 1 and INAMSSCOPE=1;
   */
  /* 
------------------------------------------------
--DAYS_SINCE_LAST_UPDATE 
------------------------------------------------
UPDATE CHANGE_MASTER_IMAGE
set DAYS_SINCE_LAST_UPDATE = datediff(dd,TICKETMODIFIEDON,getdate())
*/


	

	MERGE INTO [DBO_GOLD].[DBO].[CHANGE_MASTER] TGT
	USING (SELECT * FROM [DBO_SILVER].[DBO].[CHANGE_MASTER_IMAGE] 
	where LASTUPDATEDBYDATALOAD >= @L_LASTUPDATEDBYDATALOAD ) AS SRC
	ON 
	( TGT.CHANGE_ID=SRC.CHANGE_ID AND TGT.AMSPROGRAMID=SRC.AMSPROGRAMID)
	
	WHEN MATCHED THEN UPDATE SET
	
TGT.AMSPROGRAMID=SRC.AMSPROGRAMID,
TGT.CHANGE_ID=SRC.CHANGE_ID,
TGT.TICKETTYPE=SRC.TICKETTYPE,
TGT.CHANGE_PRIORITY=SRC.CHANGE_PRIORITY,
TGT.CHANGE_CATEGORY=SRC.CHANGE_CATEGORY,
TGT.REQUESTED_DATE=SRC.REQUESTED_DATE,
TGT.CHANGE_STATUS=SRC.CHANGE_STATUS,
TGT.CHANGE_IMPLEMENTERGROUP=SRC.CHANGE_IMPLEMENTERGROUP,
TGT.CR_CLOSURE_DATE=SRC.CR_CLOSURE_DATE,
TGT.CHANGE_IMPLEMENTER=SRC.CHANGE_IMPLEMENTER,
TGT.ASSET_NAME=SRC.ASSET_NAME,
TGT.CATEGORY=SRC.CATEGORY,
TGT.TYPE=SRC.TYPE,
TGT.ITEM=SRC.ITEM,
TGT.CHANGE_RISK_LEVEL=SRC.CHANGE_RISK_LEVEL,
TGT.CHANGE_IMPACT=SRC.CHANGE_IMPACT,
TGT.REGION=SRC.REGION,
TGT.PLANNED_START=SRC.PLANNED_START,
TGT.PLANNED_END=SRC.PLANNED_END,
TGT.ACTUAL_START=SRC.ACTUAL_START,
TGT.ACTUAL_END=SRC.ACTUAL_END,
TGT.PLANNED_EFFORT=SRC.PLANNED_EFFORT,
TGT.ACTUAL_EFFORT=SRC.ACTUAL_EFFORT,
TGT.ISCR_REWORK=SRC.ISCR_REWORK,
TGT.REWORK_EFFORT=SRC.REWORK_EFFORT,
TGT.REFERENCE_TICKET_NO=SRC.REFERENCE_TICKET_NO,
TGT.ISCR_REOPEN=SRC.ISCR_REOPEN,
TGT.ISCR_ROLLEDBACK=SRC.ISCR_ROLLEDBACK,
TGT.ISCR_INAMSSCOPE=SRC.ISCR_INAMSSCOPE,
TGT.ISCR_PENDINGAPPROVAL=SRC.ISCR_PENDINGAPPROVAL,
TGT.ISCR_SCHEDULEMET=SRC.ISCR_SCHEDULEMET,
TGT.ISCR_COSTMET=SRC.ISCR_COSTMET,
TGT.ISCR_EFFORTMET=SRC.ISCR_EFFORTMET,
TGT.ISCR_FAILEDINPROD=SRC.ISCR_FAILEDINPROD,
TGT.ISCR_UNAUTHORIZEDCHANGE=SRC.ISCR_UNAUTHORIZEDCHANGE,
TGT.ISCR_LEADTOINCIDENTS=SRC.ISCR_LEADTOINCIDENTS,
TGT.CHANGE_REQUESTER=SRC.CHANGE_REQUESTER,
TGT.CHANGE_APPROVER=SRC.CHANGE_APPROVER,
TGT.CHANGE_IMPLEMENTERTOWERNAME=SRC.CHANGE_IMPLEMENTERTOWERNAME,
TGT.ISCR_EMERGENCY=SRC.ISCR_EMERGENCY,
TGT.ISCR_HI_RISK=SRC.ISCR_HI_RISK,
TGT.IMPLEMENTOR_WIPRO_EMAIL=SRC.IMPLEMENTOR_WIPRO_EMAIL,
TGT.IMPLEMENTOR_CUST_EMAIL=SRC.IMPLEMENTOR_CUST_EMAIL,
TGT.CHANGE_REASON=SRC.CHANGE_REASON,
TGT.BUSINESS_JUSTIFICATION=SRC.BUSINESS_JUSTIFICATION,
TGT.SITE=SRC.SITE,
TGT.DEPARTMENT=SRC.DEPARTMENT,
TGT.APPROVED_DATE=SRC.APPROVED_DATE,
TGT.APPROVAL_SUBMIT_DATE=SRC.APPROVAL_SUBMIT_DATE,
TGT.CHANGE_REQUESTERGROUP=SRC.CHANGE_REQUESTERGROUP,
TGT.CHANGE_REQUESTERTOWER=SRC.CHANGE_REQUESTERTOWER,
TGT.CR_PROCESS_AUDIT_SCORE=SRC.CR_PROCESS_AUDIT_SCORE,
TGT.PROCESSCOMPLIANCESCORE=SRC.PROCESSCOMPLIANCESCORE,
TGT.APPROVAL=SRC.APPROVAL,
TGT.BUSINESS_PLATFORM=SRC.BUSINESS_PLATFORM,
TGT.CLOSURECODE=SRC.CLOSURECODE,
TGT.SUBPROGRAMID=SRC.SUBPROGRAMID,
TGT.CHANGE_DESCRIPTION=SRC.CHANGE_DESCRIPTION,
TGT.DATAFEEDREFERENCE=SRC.DATAFEEDREFERENCE,
TGT.DATALOADAUDITLOG=SRC.DATALOADAUDITLOG,
TGT.COMMENTS=SRC.COMMENTS,
TGT.ISCR_OPEN=SRC.ISCR_OPEN,
TGT.ISRECORDACTIVE=SRC.ISRECORDACTIVE,
TGT.LASTUPDATEDBYDATALOAD=SRC.LASTUPDATEDBYDATALOAD,
TGT.MANUALCRTICKETUPDATE=SRC.MANUALCRTICKETUPDATE,
TGT.implementation_plan=SRC.implementation_plan,
TGT.risk_impact_analysis=SRC.risk_impact_analysis,
TGT.backout_plan=SRC.backout_plan,
TGT.test_plan=SRC.test_plan,
TGT.u_affected_user=SRC.u_affected_user,
TGT.u_approvers=SRC.u_approvers,
TGT.u_business_urgent=SRC.u_business_urgent,
TGT.u_change_coordinator=SRC.u_change_coordinator,
TGT.u_closure_category_tier_1=SRC.u_closure_category_tier_1,
TGT.u_closure_category_tier_2=SRC.u_closure_category_tier_2,
TGT.u_closure_category_tier_3=SRC.u_closure_category_tier_3


WHEN NOT MATCHED THEN
INSERT
(
AMSPROGRAMID,
CHANGE_ID,
TICKETTYPE,
CHANGE_PRIORITY,
CHANGE_CATEGORY,
REQUESTED_DATE,
CHANGE_STATUS,
CHANGE_IMPLEMENTERGROUP,
CR_CLOSURE_DATE,
CHANGE_IMPLEMENTER,
ASSET_NAME,
CATEGORY,
TYPE,
ITEM,
CHANGE_RISK_LEVEL,
CHANGE_IMPACT,
REGION,
PLANNED_START,
PLANNED_END,
ACTUAL_START,
ACTUAL_END,
PLANNED_EFFORT,
ACTUAL_EFFORT,
ISCR_REWORK,
REWORK_EFFORT,
REFERENCE_TICKET_NO,
ISCR_REOPEN,
ISCR_ROLLEDBACK,
ISCR_INAMSSCOPE,
ISCR_PENDINGAPPROVAL,
ISCR_SCHEDULEMET,
ISCR_COSTMET,
ISCR_EFFORTMET,
ISCR_FAILEDINPROD,
ISCR_UNAUTHORIZEDCHANGE,
ISCR_LEADTOINCIDENTS,
CHANGE_REQUESTER,
CHANGE_APPROVER,
CHANGE_IMPLEMENTERTOWERNAME,
ISCR_EMERGENCY,
ISCR_HI_RISK,
IMPLEMENTOR_WIPRO_EMAIL,
IMPLEMENTOR_CUST_EMAIL,
CHANGE_REASON,
BUSINESS_JUSTIFICATION,
SITE,
DEPARTMENT,
APPROVED_DATE,
APPROVAL_SUBMIT_DATE,
CHANGE_REQUESTERGROUP,
CHANGE_REQUESTERTOWER,
CR_PROCESS_AUDIT_SCORE,
PROCESSCOMPLIANCESCORE,
APPROVAL,
BUSINESS_PLATFORM,
CLOSURECODE,
SUBPROGRAMID,
CHANGE_DESCRIPTION,
DATAFEEDREFERENCE,
DATALOADAUDITLOG,
COMMENTS,
ISCR_OPEN,
ISRECORDACTIVE,
LASTUPDATEDBYDATALOAD,
MANUALCRTICKETUPDATE,
implementation_plan,
risk_impact_analysis,
backout_plan,
test_plan,
u_affected_user,
u_approvers,
u_business_urgent,
u_change_coordinator,
u_closure_category_tier_1,
u_closure_category_tier_2,
u_closure_category_tier_3
)
VALUES
(
SRC.AMSPROGRAMID,
SRC.CHANGE_ID,
SRC.TICKETTYPE,
SRC.CHANGE_PRIORITY,
SRC.CHANGE_CATEGORY,
SRC.REQUESTED_DATE,
SRC.CHANGE_STATUS,
SRC.CHANGE_IMPLEMENTERGROUP,
SRC.CR_CLOSURE_DATE,
SRC.CHANGE_IMPLEMENTER,
SRC.ASSET_NAME,
SRC.CATEGORY,
SRC.TYPE,
SRC.ITEM,
SRC.CHANGE_RISK_LEVEL,
SRC.CHANGE_IMPACT,
SRC.REGION,
SRC.PLANNED_START,
SRC.PLANNED_END,
SRC.ACTUAL_START,
SRC.ACTUAL_END,
SRC.PLANNED_EFFORT,
SRC.ACTUAL_EFFORT,
SRC.ISCR_REWORK,
SRC.REWORK_EFFORT,
SRC.REFERENCE_TICKET_NO,
SRC.ISCR_REOPEN,
SRC.ISCR_ROLLEDBACK,
SRC.ISCR_INAMSSCOPE,
SRC.ISCR_PENDINGAPPROVAL,
SRC.ISCR_SCHEDULEMET,
SRC.ISCR_COSTMET,
SRC.ISCR_EFFORTMET,
SRC.ISCR_FAILEDINPROD,
SRC.ISCR_UNAUTHORIZEDCHANGE,
SRC.ISCR_LEADTOINCIDENTS,
SRC.CHANGE_REQUESTER,
SRC.CHANGE_APPROVER,
SRC.CHANGE_IMPLEMENTERTOWERNAME,
SRC.ISCR_EMERGENCY,
SRC.ISCR_HI_RISK,
SRC.IMPLEMENTOR_WIPRO_EMAIL,
SRC.IMPLEMENTOR_CUST_EMAIL,
SRC.CHANGE_REASON,
SRC.BUSINESS_JUSTIFICATION,
SRC.SITE,
SRC.DEPARTMENT,
SRC.APPROVED_DATE,
SRC.APPROVAL_SUBMIT_DATE,
SRC.CHANGE_REQUESTERGROUP,
SRC.CHANGE_REQUESTERTOWER,
SRC.CR_PROCESS_AUDIT_SCORE,
SRC.PROCESSCOMPLIANCESCORE,
SRC.APPROVAL,
SRC.BUSINESS_PLATFORM,
SRC.CLOSURECODE,
SRC.SUBPROGRAMID,
SRC.CHANGE_DESCRIPTION,
SRC.DATAFEEDREFERENCE,
SRC.DATALOADAUDITLOG,
SRC.COMMENTS,
SRC.ISCR_OPEN,
SRC.ISRECORDACTIVE,
SRC.LASTUPDATEDBYDATALOAD,
SRC.MANUALCRTICKETUPDATE,
SRC.implementation_plan,
SRC.risk_impact_analysis,
SRC.backout_plan,
SRC.test_plan,
SRC.u_affected_user,
SRC.u_approvers,
SRC.u_business_urgent,
SRC.u_change_coordinator,
SRC.u_closure_category_tier_1,
SRC.u_closure_category_tier_2,
SRC.u_closure_category_tier_3
);
	
	
	print 'Sucessfully loaded data into DBO_MGDSERV.CHANGE_MASTER'

	
	update [DBO].[LOAD_MASTER]
	SET LASTUPDATEDBYDATALOAD = getdate()
	WHERE MODULE='CHANGE'
	

END

GO
