USE [DBO_SILVER]
GO
/****** Object:  StoredProcedure [dbo].[B2B_IMAGE_DATA_SYNC]    Script Date: 4/30/2020 1:07:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/****** Object:  StoredProcedure [dbo].[B2B_IMAGE_DATA_SYNC] ******/



CREATE PROCEDURE [dbo].[B2B_IMAGE_DATA_SYNC]
AS
BEGIN

exec [DBO].[INC_DATA_MOVEMENT_FROM_B2B_TO_IMAGE]
exec [DBO].[PM_DATA_MOVEMENT_FROM_B2B_TO_IMAGE]
exec [DBO].[CHG_DATA_MOVEMENT_FROM_B2B_TO_IMAGE]
exec [DBO].[SR_DATA_MOVEMENT_FROM_B2B_TO_IMAGE]
exec [DBO].[TKT_DATA_MOVEMENT_FROM_B2B_TO_IMAGE]
exec [DBO].[SLA_Mapping]
		
END
GO
