USE [DBO_BRONZE]
GO
/****** Object:  Table [dbo].[INCIDENT]    Script Date: 4/30/2020 1:05:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INCIDENT](
	[number] [varchar](100) NULL,
	[sys_id] [varchar](100) NULL,
	[dv_priority] [varchar](100) NULL,
	[dv_incident_state] [varchar](100) NULL,
	[opened_at] [datetime2](7) NULL,
	[resolved_at] [datetime2](7) NULL,
	[dv_assigned_to] [varchar](200) NULL,
	[dv_assignment_group] [varchar](200) NULL,
	[dv_u_status_reason] [varchar](200) NULL,
	[u_operational_category_tier_1] [varchar](150) NULL,
	[u_operational_category_tier_2] [varchar](150) NULL,
	[u_operational_category_tier_3] [varchar](150) NULL,
	[u_product_category_tier_1] [varchar](150) NULL,
	[u_product_category_tier_2] [varchar](150) NULL,
	[u_product_category_tier_3] [varchar](150) NULL,
	[dv_cmdb_ci] [varchar](100) NULL,
	[reopened_time] [datetime2](7) NULL,
	[dv_location] [varchar](100) NULL,
	[reassignment_count] [int] NULL,
	[reopen_count] [int] NULL,
	[dv_impact] [varchar](100) NULL,
	[dv_urgency] [varchar](100) NULL,
	[dv_parent] [varchar](100) NULL,
	[sys_updated_on] [datetime2](7) NULL,
	[close_code] [varchar](300) NULL,
	[dv_contact_type] [varchar](100) NULL,
	[dv_caller_id] [varchar](200) NULL,
	[dv_caused_by] [varchar](200) NULL,
	[knowledge] [varchar](max) NULL,
	[short_description] [varchar](max) NULL,
	[closed_at] [datetime2](7) NULL,
	[comments_and_work_notes] [varchar](max) NULL,
	[dv_opened_by] [varchar](200) NULL,
	[dv_resolved_by] [varchar](200) NULL,
	[active] [decimal](2, 0) NULL,
	[u_resolution_category_tier_1] [varchar](200) NULL,
	[u_resolution_category_tier_2] [varchar](200) NULL,
	[u_resolution_category_tier_3] [varchar](200) NULL,
	[close_notes] [varchar](max) NULL,
	[u_closure_category_tier_1] [varchar](200) NULL,
	[u_closure_category_tier_2] [varchar](200) NULL,
	[u_closure_category_tier_3] [varchar](200) NULL,
	[u_remedy_submit_date] [datetime2](7) NULL,
	[u_reference_number] [varchar](250) NULL,
	[u_remedy_change_class] [varchar](300) NULL,
	[u_remedy_change_reason] [varchar](300) NULL,
	[u_remedy_change_template] [varchar](300) NULL,
	[u_remedy_coordinator_group] [varchar](300) NULL,
	[u_remedy_last_modified_by] [varchar](200) NULL,
	[u_remedy_last_modified_date] [datetime2](7) NULL,
	[u_remedy_reported_date] [datetime2](7) NULL,
	[u_remedy_responded_date] [datetime2](7) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
