USE [DBO_MGDSERV]
GO
/****** Object:  View [dbo].[VW_TICKET]    Script Date: 4/30/2020 1:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[VW_TICKET] 
("AMSPROGRAMID", 
"TICKETID", 
"TICKETTYPE", 
"SOURCE", 
"SUMMARY",
"PRIORITY", 
"STATUS",
"STATUSREASON", 
"OPERATIONALCATEGORIZATIONTIER1", 
"OPERATIONALCATEGORIZATIONTIER2", 
"OPERATIONALCATEGORIZATIONTIER3", 
"PRODUCTCATEGORIZATIONTIER1", 
"PRODUCTCATEGORIZATIONTIER2", 
"PRODUCTCATEGORIZATIONTIER3",
"ASSET_NAME", 
"TICKETSUBMITDATE", 
"RESPONSEDATE", 
"RESOLVEDDATE", 
"REOPENDATE", 
--"RESPONSETIME", 
--"RESOLUTIONTIME", 
"FCR",
"EMAILRESPONSETIME",
"REQUESTERFIRSTNAME", 
"REQUESTERLASTNAME", 
"REGION", 
"SITE", 
"DEPARTMENT", 
"CREATOR_ID", 
"CREATORNAME", 
"CREATORGROUP",
"CREATOREMPLOYEEID", 
"CREATEDBYLEVEL1",
"ASSIGNEE_ID", 
"ASSIGNEENAME", 
"RESOLVERGROUP", 
"TOWERNAME", 
"RESOLVEREMPLOYEEID", 
"RESOLVERLOCATION", 
"RESOLVERGROUPREGION",
"RESOLVEDATLEVEL1", 
"GROUPTRANSFERS", 
"REOPEN", 
"INAMSSCOPE", 
"LASTUPDATEDBYDATALOAD", 
"PENDINGDATE", 
"ISRECORDACTIVE", 
"IMPACT", 
"URGENCY", 
"BUSINESS_PLATFORM",
"REFERENCE_TICKET_ID", 
"TICKETORIGIN", 
"IS_CRITICAL_SITUATION", 
"TICKETMODIFIEDON", 
"LOADINTOBI",  
  
  "RESPONSEBTGTIME", 
  "RESOLUTIONBTGTIME", 
  "TOTALSLATIMEFORRESPONSE",
  "TOTALSLATIMEFORRESOLUTION", 
  "RESPONSESLATIMEELAPSEDPERC",
  "RESOLUTIONSLATIMEELAPSEDPERC", 
  "RESPONSESLAMET",
  "RESOLUTIONSLAMET", 
  "RESPONSESLAVIOLATIONREASONCODE",
  "RSLN_SLAVIOLATIONREASONCODE", 
  "PEND_TIME_ENDUSERCLARIFICATION",
  "PENDINGTIME_3RD_PARTY", 
  "RESPONSEELAPSEDTIME",
  "RESOLUTIONELAPSEDTIME", 
  "RESPONSESLAWAIVER",
  "RESOLUTIONSLAWAIVER", 
  "RESPONSESLAWAIVERREASON",
  "RESOLUTIONSLAWAIVERREASON", 
  "RESOLUTIONSLAMET_LEVEL1",
  "RESOLUTIONSLAMET_LEVEL2", 
  
  "RESOLUTIONCODE",
  "CLOSURECODE", 
  --"REQUESTEREMAILID", 
  "ISPROACTIVETICKET",
  "ISSELFSERVICETICKET", 
  "ISCAUSEDBYCHANGE",
  "REFERENCE_CHANGE_ID",
  "ISTICKETESCALATED",
  "ISRESOLVEDUSINGKEDB", 
  "TICKETAUDITSCORE", 
  "ISTICKETOPEN",
  "SUBPROGRAMID", 
  "ISVIPTICKET", 
  "TICKETAGE", 
  "DAYS_SINCE_LAST_UPDATE", 
  --"IncludeForSLA",
  "TICKET_BUCKET", 
  --"IS_SERVICEDESK_TICKET", 
  "IS_PENDINGTICKET", 
  --"SOURCETICKETID",
  --"FTF",  
  "IS_TOOLGENERATED", 
  "RESOLVEDUSINGSELFSERVICE",
  --"IS_FTRA",
  --CUSTOMERTICKETID, 
  "ACTUALEFFORT",
  --"SERVICE_IMPACT",
  "RESOLUTIONTARGETDATE", 
  "CLOSEDTIME",
  "u_resolution_category_tier_1",
  "u_resolution_category_tier_2",
  "u_resolution_category_tier_3",
  "close_notes",
  "u_closure_category_tier_1",
  "u_closure_category_tier_2",
  "u_closure_category_tier_3") AS 
SELECT 
A.AMSPROGRAMID,
A.TICKETID,
A.TICKETTYPE,
A.SOURCE,
A.SUMMARY,
A.PRIORITY,
A.STATUS,
A.STATUSREASON, 
A.OPERATIONALCATEGORIZATIONTIER1,
A.OPERATIONALCATEGORIZATIONTIER2,
A.OPERATIONALCATEGORIZATIONTIER3,
A.PRODUCTCATEGORIZATIONTIER1,
A.PRODUCTCATEGORIZATIONTIER2,
A.PRODUCTCATEGORIZATIONTIER3,
A.ASSET_NAME,
A.TICKETSUBMITDATE,
A.RESPONSEDATE,
A.RESOLVEDDATE,
A.REOPENDATE,
--A.ResponseTime,
--isnull( cast(A.ResponseTime as varchar(20)),'n/a') ResponseTime,
--A.ResolutionTime,
--isnull( cast(A.ResolutionTime as varchar(20)),'n/a') ResolutionTime,
A.FCR,
A.EmailResponseTime,
A.RequesterFirstName,
A.RequesterLastName,
A.REGION,
A.SITE,
A.DEPARTMENT,
A.Creator_ID,
A.CreatorName,
A.CreatorGroup,
A.CreatorEmployeeID,
A.CreatedbyLevel1,
A.Assignee_ID,
A.AssigneeName,
--A.ResolverGroup,
isnull( cast(A.ResolverGroup as varchar(100)),'Not Available') ResolverGroup,
--A.TowerName,
isnull( cast(A.TowerName as varchar(100)),'Not Available') TowerName,
A.ResolverEmployeeID,
A.ResolverLocation,
A.ResolverGroupRegion,
A.ResolvedatLevel1,
--A.GroupTransfers,
isnull( cast(A.GroupTransfers as varchar(20)),'n/a') GroupTransfers,
A.ReOpen,
A.InAMSScope,
A.LastUpdatedByDataLoad,
A.pendingDate,
A.isRecordActive,
A.Impact,
A.Urgency,
A.Business_Platform,
A.Reference_Ticket_ID,
A.TicketOrigin,
A.Is_Critical_Situation,
A.TicketModifiedOn,
A.LoadIntoBI,

isnull( cast(C.RESPONSEBTGTIME as varchar(20)),'n/a') RESPONSEBTGTIME,
isnull( cast(C.RESOLUTIONBTGTIME as varchar(20)),'n/a') RESOLUTIONBTGTIME,
C.TOTALSLATIMEFORRESPONSE,
C.TOTALSLATIMEFORRESOLUTION,
isnull( cast(C.ResponseSLATimeElapsedPerc as varchar(20)),'n/a') ResponseSLATimeElapsedPerc,
isnull( cast(C.ResolutionSLATimeElapsedPerc as varchar(20)),'n/a') ResolutionSLATimeElapsedPerc,
isnull( cast(C.ResponseSLAMet as varchar(10)),'n/a') ResponseSLAMet,
isnull( cast(C.ResolutionSLAMet as varchar(10)),'n/a') ResolutionSLAMet,
C.ResponseSLAViolationReasonCode,
C.RSLN_SLAVIOLATIONREASONCODE,
C.PEND_TIME_ENDUSERCLARIFICATION,
C.PendingTime_3rd_Party,
isnull( cast(C.ResponseElapsedTime as varchar(20)),'n/a') ResponseElapsedTime,
isnull( cast(C.ResolutionElapsedTime as varchar(20)),'n/a') ResolutionElapsedTime,
C.ResponseSLAWaiver,
C.ResolutionSLAWaiver,
C.ResponseSLAWaiverReason,
C.ResolutionSLAWaiverReason,
C.ResolutionSLAMet_Level1,
C.ResolutionSLAMet_Level2,

A.ResolutionCode,
A.ClosureCode,
--A.RequesterEmailId,
A.isProactiveTicket,
A.isSelfServiceTicket,
A.isCausedByChange,
A.Reference_Change_ID,
A.isTicketEscalated,
A.isResolvedUsingKEDB,
isnull( cast(A.TicketAuditScore as varchar(20)),'n/a') TicketAuditScore,
A.isTicketOpen,
isnull( cast(A.SubProgramID as varchar(20)),'Not Available') SubProgramID,
A.VIP,
isnull( cast(A.TICKETAGE as varchar(20)),'n/a') TICKETAGE,
A.DAYS_SINCE_LAST_UPDATE,
--A.INCLUDEFORSLA as "IncludeForSLA",
A.TICKET_BUCKET,
--A.IS_SERVICEDESK_TICKET,
A.IS_PENDINGTICKET,
--isnull( cast(A.SOURCETICKETID as varchar(20)),'n/a') SOURCETICKETID,
--A.FTF,
A.IS_TOOLGENERATED,
A.resolvedusingselfservice,
--A.IS_FTRA,
--A.CUSTOMERTICKETID,
A.ACTUALEFFORT,
--A.SERVICE_IMPACT,
A.RESOLUTIONTARGETDATE,
A.CLOSEDTIME,
A.[u_resolution_category_tier_1],
A.[u_resolution_category_tier_2],
A.[u_resolution_category_tier_3],
A.[close_notes],
A.[u_closure_category_tier_1],
A.[u_closure_category_tier_2],
A.[u_closure_category_tier_3]

FROM "DBO_MGDSERV".dbo.TICKET_MASTER A
   LEFT JOIN "DBO_MGDSERV".dbo.TICKET_SLA C
ON A.AMSPROGRAMID = C.AMSPROGRAMID
   AND A.TICKETID = C.TICKETID
            
GO
