USE [DBO_MGDSERV]
GO
/****** Object:  View [dbo].[VW_PROBLEM]    Script Date: 4/30/2020 1:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create view  [dbo].[VW_PROBLEM] as 

select * from  DBO_MGDSERV.dbo.PROBLEM_MASTER

GO
