USE [DBO_SILVER]
GO
/****** Object:  Table [dbo].[TICKET_MASTER_IMAGE]    Script Date: 4/30/2020 1:07:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKET_MASTER_IMAGE](
	[AMSPROGRAMID] [varchar](50) NULL,
	[TICKETID] [varchar](400) NOT NULL,
	[TICKETTYPE] [varchar](400) NULL,
	[PRIORITY] [varchar](400) NULL,
	[STATUS] [varchar](400) NULL,
	[TICKETSUBMITDATE] [datetime2](7) NULL,
	[RESPONSEDATE] [datetime2](7) NULL,
	[RESOLVEDDATE] [datetime2](7) NULL,
	[RESPONSETIME] [numeric](22, 4) NULL,
	[RESOLUTIONTIME] [numeric](22, 4) NULL,
	[ASSIGNEENAME] [varchar](400) NULL,
	[RESOLVERGROUP] [varchar](400) NULL,
	[TOWERNAME] [varchar](400) NULL,
	[TOTALSLATIMEFORRESPONSE] [numeric](18, 0) NULL,
	[TOTALSLATIMEFORRESOLUTION] [numeric](18, 0) NULL,
	[RESPONSESLAMET] [numeric](1, 0) NULL,
	[RESOLUTIONSLAMET] [numeric](1, 0) NULL,
	[STATUSREASON] [varchar](400) NULL,
	[OPERATIONALCATEGORIZATIONTIER1] [varchar](400) NULL,
	[OPERATIONALCATEGORIZATIONTIER2] [varchar](400) NULL,
	[OPERATIONALCATEGORIZATIONTIER3] [varchar](400) NULL,
	[PRODUCTCATEGORIZATIONTIER1] [varchar](400) NULL,
	[PRODUCTCATEGORIZATIONTIER2] [varchar](400) NULL,
	[PRODUCTCATEGORIZATIONTIER3] [varchar](400) NULL,
	[ASSETNAME] [varchar](400) NULL,
	[REOPENDATE] [datetime2](7) NULL,
	[FCR] [numeric](1, 0) NULL,
	[REGION] [varchar](400) NULL,
	[CREATORGROUP] [varchar](400) NULL,
	[ASSIGNEE_ID] [varchar](400) NULL,
	[RESOLVEDATLEVEL1] [numeric](1, 0) NULL,
	[GROUPTRANSFERS] [numeric](10, 0) NULL,
	[REOPEN] [numeric](1, 0) NULL,
	[PENDINGDATE] [datetime2](7) NULL,
	[IMPACT] [varchar](400) NULL,
	[URGENCY] [varchar](400) NULL,
	[REFERENCE_TICKET_ID] [varchar](50) NULL,
	[IS_CRITICAL_SITUATION] [numeric](1, 0) NULL,
	[TICKETMODIFIEDON] [datetime2](6) NULL,
	[RESOLUTIONCODE] [varchar](400) NULL,
	[CLOSURECODE] [varchar](400) NULL,
	[ISTICKETESCALATED] [numeric](1, 0) NULL,
	[BUSINESS_UNIT] [varchar](100) NULL,
	[RESPONSESLAVIOLATIONREASONCODE] [varchar](2000) NULL,
	[RSLN_SLAVIOLATIONREASONCODE] [varchar](2000) NULL,
	[ISCSATRECEIVED] [numeric](1, 0) NULL,
	[CSATOVERALLSCORE] [varchar](25) NULL,
	[CSATRESPONSETIME] [varchar](50) NULL,
	[SOURCE] [varchar](400) NULL,
	[REQUESTER_ID] [varchar](400) NULL,
	[CREATOR_ID] [varchar](400) NULL,
	[CREATEDBYLEVEL1] [numeric](1, 0) NULL,
	[BUSINESS_PLATFORM] [varchar](400) NULL,
	[TICKETORIGIN] [varchar](50) NULL,
	[ISPROACTIVETICKET] [numeric](1, 0) NULL,
	[ISSELFSERVICETICKET] [numeric](1, 0) NULL,
	[ISCAUSEDBYCHANGE] [numeric](1, 0) NULL,
	[REFERENCE_CHANGE_ID] [varchar](100) NULL,
	[ISRESOLVEDUSINGKEDB] [numeric](1, 0) NULL,
	[VIP] [numeric](1, 0) NULL,
	[REOPEN_COUNT] [numeric](10, 0) NULL,
	[RESPONSESLAWAIVER] [numeric](1, 0) NULL,
	[RESOLUTIONSLAWAIVER] [numeric](1, 0) NULL,
	[SUMMARY] [varchar](max) NULL,
	[CLASSOFSERVICE] [varchar](400) NULL,
	[EMAILRESPONSETIME] [numeric](18, 0) NULL,
	[REQUESTERFIRSTNAME] [varchar](400) NULL,
	[REQUESTERLASTNAME] [varchar](400) NULL,
	[SITE] [varchar](250) NULL,
	[DEPARTMENT] [varchar](400) NULL,
	[CREATORNAME] [varchar](400) NULL,
	[CREATOREMPLOYEEID] [nchar](200) NULL,
	[RESOLVEREMPLOYEEID] [nchar](400) NULL,
	[RESOLVERLOCATION] [varchar](400) NULL,
	[RESOLVERGROUPREGION] [varchar](400) NULL,
	[REQUESTOREMAILID] [varchar](400) NULL,
	[TICKETAUDITSCORE] [numeric](10, 0) NULL,
	[PEND_TIME_ENDUSERCLARIFICATION] [numeric](18, 0) NULL,
	[PENDINGTIME_3RD_PARTY] [numeric](18, 0) NULL,
	[PENDTIME_RSLN_CONFIRMATION] [numeric](18, 0) NULL,
	[RESPONSESLAWAIVERREASON] [varchar](400) NULL,
	[RESOLUTIONSLAWAIVERREASON] [varchar](400) NULL,
	[TOTALSLATIMEFORRSLN_LEVEL1] [numeric](18, 0) NULL,
	[TOTALSLATIMEFORRSLN_LEVEL2] [numeric](18, 0) NULL,
	[RESOLUTIONSLAMET_LEVEL1] [numeric](1, 0) NULL,
	[RESOLUTIONSLAMET_LEVEL2] [numeric](1, 0) NULL,
	[CSATSCORE1] [varchar](25) NULL,
	[CSATSCORE2] [varchar](25) NULL,
	[CSATSCORE3] [varchar](25) NULL,
	[CSATSCORE4] [varchar](25) NULL,
	[CSATSCORE5] [varchar](25) NULL,
	[CSATSCORE6] [varchar](25) NULL,
	[CSATREQUESTTIME] [varchar](50) NULL,
	[SUBPROGRAMID] [varchar](200) NULL,
	[CLOSEDTIME] [datetime2](6) NULL,
	[ESTIMATEDEFFORT] [numeric](18, 0) NULL,
	[ACTUALEFFORT] [numeric](18, 0) NULL,
	[ACTUALSTART] [datetime2](7) NULL,
	[ESTIMATESTART] [datetime2](7) NULL,
	[ESTIMATEDEND] [datetime2](7) NULL,
	[ACTUALEND] [datetime2](7) NULL,
	[DAYS_SINCE_LAST_UPDATE] [numeric](18, 2) NULL,
	[TICKETAGE] [numeric](11, 2) NULL,
	[IS_SR_SLA_APPLICABLE] [numeric](1, 0) NULL,
	[RESPONSEBTGTIME] [numeric](18, 0) NULL,
	[RESOLUTIONBTGTIME] [numeric](18, 0) NULL,
	[RESPONSEELAPSEDTIME] [numeric](20, 2) NULL,
	[RESOLUTIONELAPSEDTIME] [numeric](20, 2) NULL,
	[TICKET_BUCKET] [varchar](400) NULL,
	[RESPONSESLATIMEELAPSEDPERC] [numeric](18, 2) NULL,
	[RESOLUTIONSLATIMEELAPSEDPERC] [numeric](18, 2) NULL,
	[ESTIMATEDDELIVERY] [varchar](500) NULL,
	[WORK_END] [datetime2](7) NULL,
	[WORK_START] [datetime2](7) NULL,
	[COMMENTS] [varchar](max) NULL,
	[DATAFEEDREFERENCE] [varchar](150) NULL,
	[ISRECORDACTIVE] [numeric](1, 0) NULL,
	[LASTUPDATEDBYDATALOAD] [datetime2](7) NULL,
	[LOADINTOBI] [numeric](1, 0) NULL,
	[MANUALTICKETUPDATE] [numeric](1, 0) NULL,
	[INAMSSCOPE] [numeric](1, 0) NULL,
	[IS_PENDINGTICKET] [numeric](1, 0) NULL,
	[ISTICKETOPEN] [numeric](1, 0) NULL,
	[IS_TOOLGENERATED] [numeric](1, 0) NULL,
	[IS_OUTAGE] [numeric](1, 0) NULL,
	[IS_PRIORITY1] [numeric](1, 0) NULL,
	[RESOLVEDUSINGSELFSERVICE] [numeric](1, 0) NULL,
	[RESOLUTIONTARGETDATE] [datetime2](7) NULL,
	[RESPONSETARGETDATE] [datetime2](7) NULL,
	[u_resolution_category_tier_1] [varchar](250) NULL,
	[u_resolution_category_tier_2] [varchar](250) NULL,
	[u_resolution_category_tier_3] [varchar](250) NULL,
	[close_notes] [varchar](max) NULL,
	[u_closure_category_tier_1] [varchar](250) NULL,
	[u_closure_category_tier_2] [varchar](250) NULL,
	[u_closure_category_tier_3] [varchar](250) NULL,
	[u_remedy_submit_date] [datetime2](7) NULL,
	[u_reference_number] [varchar](250) NULL,
	[u_remedy_change_class] [varchar](250) NULL,
	[u_remedy_change_reason] [varchar](250) NULL,
	[u_remedy_change_template] [varchar](250) NULL,
	[u_remedy_coordinator_group] [varchar](250) NULL,
	[u_remedy_last_modified_by] [varchar](250) NULL,
	[u_remedy_last_modified_date] [datetime2](7) NULL,
	[u_remedy_reported_date] [datetime2](7) NULL,
	[u_remedy_responded_date] [datetime2](7) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
