USE [DBO_SILVER]
GO
/****** Object:  Table [dbo].[CHANGE_MASTER_IMAGE]    Script Date: 4/30/2020 1:07:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHANGE_MASTER_IMAGE](
	[AMSPROGRAMID] [varchar](30) NULL,
	[CHANGE_ID] [varchar](100) NULL,
	[TICKETTYPE] [varchar](25) NULL,
	[CHANGE_PRIORITY] [varchar](50) NULL,
	[CHANGE_CATEGORY] [varchar](100) NULL,
	[REQUESTED_DATE] [datetime2](7) NULL,
	[CHANGE_STATUS] [varchar](50) NULL,
	[CHANGE_IMPLEMENTERGROUP] [varchar](150) NULL,
	[CR_CLOSURE_DATE] [datetime2](7) NULL,
	[CHANGE_IMPLEMENTER] [varchar](200) NULL,
	[ASSET_NAME] [varchar](100) NULL,
	[CATEGORY] [varchar](100) NULL,
	[TYPE] [varchar](100) NULL,
	[ITEM] [varchar](100) NULL,
	[CHANGE_RISK_LEVEL] [varchar](100) NULL,
	[CHANGE_IMPACT] [varchar](100) NULL,
	[REGION] [varchar](150) NULL,
	[PLANNED_START] [datetime2](7) NULL,
	[PLANNED_END] [datetime2](7) NULL,
	[ACTUAL_START] [datetime2](7) NULL,
	[ACTUAL_END] [datetime2](7) NULL,
	[PLANNED_EFFORT] [bigint] NULL,
	[ACTUAL_EFFORT] [bigint] NULL,
	[ISCR_REWORK] [smallint] NULL,
	[REWORK_EFFORT] [bigint] NULL,
	[REFERENCE_TICKET_NO] [varchar](200) NULL,
	[ISCR_REOPEN] [smallint] NULL,
	[ISCR_ROLLEDBACK] [smallint] NULL,
	[ISCR_INAMSSCOPE] [smallint] NULL,
	[ISCR_PENDINGAPPROVAL] [smallint] NULL,
	[ISCR_SCHEDULEMET] [smallint] NULL,
	[ISCR_COSTMET] [smallint] NULL,
	[ISCR_EFFORTMET] [smallint] NULL,
	[ISCR_FAILEDINPROD] [smallint] NULL,
	[ISCR_UNAUTHORIZEDCHANGE] [smallint] NULL,
	[ISCR_LEADTOINCIDENTS] [smallint] NULL,
	[CHANGE_REQUESTER] [varchar](200) NULL,
	[CHANGE_APPROVER] [varchar](100) NULL,
	[CHANGE_IMPLEMENTERTOWERNAME] [varchar](50) NULL,
	[ISCR_EMERGENCY] [smallint] NULL,
	[ISCR_HI_RISK] [varchar](200) NULL,
	[IMPLEMENTOR_WIPRO_EMAIL] [varchar](100) NULL,
	[IMPLEMENTOR_CUST_EMAIL] [varchar](100) NULL,
	[CHANGE_REASON] [varchar](500) NULL,
	[BUSINESS_JUSTIFICATION] [varchar](max) NULL,
	[SITE] [varchar](100) NULL,
	[DEPARTMENT] [varchar](150) NULL,
	[APPROVED_DATE] [datetime2](7) NULL,
	[APPROVAL_SUBMIT_DATE] [datetime2](7) NULL,
	[CHANGE_REQUESTERGROUP] [varchar](150) NULL,
	[CHANGE_REQUESTERTOWER] [varchar](150) NULL,
	[CR_PROCESS_AUDIT_SCORE] [decimal](5, 2) NULL,
	[PROCESSCOMPLIANCESCORE] [decimal](5, 2) NULL,
	[APPROVAL] [varchar](100) NULL,
	[BUSINESS_PLATFORM] [varchar](100) NULL,
	[CLOSURECODE] [varchar](max) NULL,
	[SUBPROGRAMID] [varchar](25) NULL,
	[CHANGE_DESCRIPTION] [varchar](max) NULL,
	[DATAFEEDREFERENCE] [varchar](250) NULL,
	[DATALOADAUDITLOG] [varchar](250) NULL,
	[COMMENTS] [varchar](max) NULL,
	[ISCR_OPEN] [smallint] NULL,
	[ISRECORDACTIVE] [smallint] NULL,
	[LASTUPDATEDBYDATALOAD] [datetime2](7) NULL,
	[MANUALCRTICKETUPDATE] [smallint] NULL,
	[implementation_plan] [varchar](max) NULL,
	[risk_impact_analysis] [varchar](max) NULL,
	[backout_plan] [varchar](max) NULL,
	[test_plan] [varchar](max) NULL,
	[u_affected_user] [varchar](200) NULL,
	[u_approvers] [varchar](200) NULL,
	[u_business_urgent] [varchar](200) NULL,
	[u_change_coordinator] [varchar](200) NULL,
	[u_closure_category_tier_1] [varchar](200) NULL,
	[u_closure_category_tier_2] [varchar](200) NULL,
	[u_closure_category_tier_3] [varchar](200) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
