USE [DBO_BRONZE]
GO
/****** Object:  StoredProcedure [dbo].[SNOW_b2b_DATA_SYNC]    Script Date: 4/30/2020 1:05:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[SNOW_b2b_DATA_SYNC] ******/



CREATE OR ALTER PROCEDURE [dbo].[SNOW_b2b_DATA_SYNC]
AS
BEGIN

exec [DBO].[INCIDENT_DATA_SYNC]
exec [DBO].[SC_TASK_DATA_SYNC]
exec [DBO].[TASK_SLA_DATA_SYNC]
exec [DBO].[PROBLEM_DATA_SYNC]
exec [DBO].[CHANGE_DATA_SYNC]

		
END
GO
