USE [DBO_GOLD]
GO
/****** Object:  View [dbo].[VW_CHANGE]    Script Date: 4/30/2020 1:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create OR ALTER view  [dbo].[VW_CHANGE] as 

select * from  DBO_GOLD.dbo.CHANGE_MASTER

GO
