USE [DBO_SILVER]
GO
/****** Object:  Table [dbo].[LOAD_MASTER]    Script Date: 4/30/2020 1:07:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAD_MASTER](
	[MODULE] [nvarchar](50) NULL,
	[LASTUPDATEDBYDATALOAD] [datetime2](7) NULL
) ON [PRIMARY]
GO
